<%= simple_form_for @delivery_slip_header, :html => { :class => 'well form-horizontal' } do |f| %>
  <% if @delivery_slip_header.errors.any? %>
  <div id="error_explanation">
    <h2><%= @delivery_slip_header.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @delivery_slip_header.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
 <% end %>
  
  <div class="col-md-3" , style="margin-left : -15px">
  <%= f.input :delivery_slip_code, input_html:{id:'delivery_slip_code', :tabindex=>"0", style: 'width:150px'} %>
  </div>
  <div class="col-md-3", style="margin-left : -0px">
  <%= f.input :quotation_code, input_html:{:tabindex=>"0", style: 'width:150px'} %>
  </div>
  <div class="col-md-3", style="margin-left : -0px">
  <%= f.input :invoice_code, input_html:{:tabindex=>"0", style: 'width:150px'} %>
  </div>
  
  <!-- 納品書コード参照用追加 add180725-->
  <div class="col-md-3", style="margin-left : -0px;margin-top:10px;">
  <%= f.label :"納品コード（参照）" , {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :delivery_slip_header_origin_id, DeliverySlipHeader.order('delivery_slip_code desc').all, :id, :delivery_slip_code, {:include_blank => true} , 
  {id:"delivery_slip_header_origin_id", :onchange => "CopyDeliverySlipHeader()", class: "searchableDeliverySlipOrigin" , style: 'width:150px' } %>
  </div>
  </br></br></br></br></br>
  <!-- -->
  
  
  <%= f.input :delivery_slip_date, :include_blank => true, label_html:{style: 'margin-top: -30px;'}, input_html:{id:"delivery_slip_date", :tabindex=>"1", :onchange => "setCode()", 
                                                                                                            style: 'width:100px;margin-top:-0px;'} %>
  <%= f.label :"件名Ｎｏ(＊該当無は”-”のままにする)" , {:class => "my-custom-class-l"} %></br>
  <!--:selected => @delivery_slip_header.construction_datum_id || 1(初期値１を抹消200917)-->
  <%= f.collection_select :construction_datum_id, ConstructionDatum.order('construction_code DESC').all, :id, :construction_code, {:include_blank => true} , {id:'construction_datum_id', :class => "searchableConstructionCode", :tabindex=>"2",  style: 'width:220px' } %></br>
  <%= f.input :construction_name , input_html:{id:"construction_name", :tabindex=>"3"} %>
  <%= f.label :"得意先(＊該当無→”＜手入力用＞”)", {:class => "my-custom-class-l"} %></br>
  <!--<%= f.input :customer_id %>-->
  <%= f.collection_select :customer_id, CustomerMaster.all, :id, :customer_name, {:selected => @delivery_slip_header.customer_id || 1 } , {id:'customer_id', :class => "searchableCustomerName",  style: 'width:330px' , :tabindex=>"4"} %></br>
  <%= f.input :customer_name , label: "得意先名（手入力用）", input_html:{id:"customer_name", :tabindex=>"5"} %>
  <%= f.label :"敬称", {:class => "my-custom-class-l"}  %></br>
  
  <div class="col-xs-3" ,  style="margin-left : -15px">
  <%= f.select :honorific_id, CustomerMaster.honorific, {:selected => @delivery_slip_header.honorific_id || 0}, 
        {id:'honorific_id', :tabindex=>"6", :class => "my-custom-class", style: 'width:90px;height:25px;font-size:16px;'} %>
  </div>
  <div class="col-xs-3" ,  style="margin-left : -60px;margin-top : -30px">
  <%= f.input :responsible1, input_html:{id:'responsible1', :tabindex=>"7", style: "width:220px;"}  %>
  </div>
  <div class="col-xs-3" ,  style="margin-left : 60px;margin-top : -30px">
  <%= f.input :responsible2, input_html:{id:'responsible2', :tabindex=>"8", style: "width:220px;"} %>
  </div>
  </br></br></br>
  <!--<%= f.input :post, label:"郵便番号（得意先※マスターに反映されます）", label_html:{style:"color: brown"}, input_html:{id:"post", :onchange => "formatPost()", :onKeyUp => "AjaxZip3.zip2addr(this,'','address','address');", :tabindex=>"9"} %>-->
  
  <font color="red">===以下の住所を変更した場合、得意先マスターに反映しますのでご注意下さい。===</font>
  
  <!--<%= f.input :post, hint:"※この住所を変更した場合、得意先マスターに反映されるのでご注意下さい。", label:"郵便番号（得意先）", hint_html:{style:"color: red"}, input_html:{id:"post", :onchange => "formatPost()", :onKeyUp => "AjaxZip3.zip2addr(this,'','address','address');", :tabindex=>"9"} %>-->
  <%= f.input :post, label:"郵便番号（得意先）", input_html:{id:"post", :onchange => "formatPost()", :onKeyUp => "AjaxZip3.zip2addr(this,'','address','address');", :tabindex=>"9"} %>
  
  <div class="col-lg-6" , style="margin-left : -15px">
  <%= f.input :address, label:"住所（得意先）", hint: "＊都道府県市区町村のみ入力して下さい。", input_html:{id:"address", style: 'width:320px', name:"address", :tabindex=>"11",
                        :onkeydown => "setPostAuto($(this).val(), 'post', event)"} %>
  </div>
  
  <!--add171010-->
  <%= f.input :house_number , hint: "＊番地のみ入力して下さい。", label:"番地（得意先）", input_html:{id:"house_number", style: 'width:320px', :tabindex=>"12"} %>
  <%= f.input :address2 , hint: "＊建物・部屋名がある場合は、こちらに入力して下さい。", label:"建物（得意先）", label_html:{style: 'margin-top : -30px;'},  
          input_html:{id:"address2", style: 'width:320px;', :tabindex=>"13"} %>
  <!--add end-->
  <font color="red">===ここまで===</font>
  
  <%= f.input :tel, input_html:{id:"tel", :tabindex=>"14"} %>
  <%= f.input :fax, input_html:{id:"fax", :tabindex=>"15"} %>
  
  <div class="col-md-3" , style="margin-left : -15px">
    <%= f.input :construction_period, label:"工事期間（文字）" , input_html:{:tabindex=>"16"}  %>
  </div>
  <div class="col-md-3" , style="margin-left : 90px">
    <%= f.input :construction_period_date1 , as: :string, input_html:{id: "construction_period_date1" , class: "datepicker", 
           style: 'width:120px' , :tabindex=>"17" }  %>
  </div>
 
  <div class="col-md-3" , style="margin-left : -30px ;margin-top : 35px">
    <%= f.label :〜, {:class => "my-custom-class-l"}  %>
  </div>
  <div class="col-md-3" , style="margin-left : -130px">
    <%= f.input :construction_period_date2 , as: :string, input_html:{id: "construction_period_date2" , class: "datepicker", 
           style: 'width:120px' , :tabindex=>"18" }  %>
  </div>
  </br></br></br>
  
  <%= f.input :construction_post, label:"郵便番号（工事場所）", input_html:{ id:"construction_post", :onchange => "formatPost2(id)", 
       :onKeyUp => "AjaxZip3.zip2addr(this,'','construction_place','construction_place');",
      :tabindex=>"19"}  %>

  <div class="col-md-6" , style="margin-left : -15px">
    <%= f.input :construction_place, label:"住所（工事場所）", hint: "＊都道府県市区町村のみ入力して下さい。", 
	    input_html:{id:"construction_place", style: 'width:320px;', name:"construction_place", :tabindex=>"20", 
		   :onkeydown => "setPostAuto($(this).val(), 'construction_post', event)"}  %>
  </div>
  
  <%= f.input :construction_house_number , hint: "＊番地のみ入力して下さい。", label:"番地（工事場所）", input_html:{id:"construction_house_number",
              style: 'width:320px', :tabindex=>"21"} %>
  
  <div class="col-lg-7">
  
  <%= f.input :construction_place2 , hint: "＊建物・部屋名がある場合は、こちらに入力して下さい。", label:"建物（工事場所）", label_html:{style: 'margin-top : -30px;'},  
            input_html:{id:"construction_place2", style: 'width:320px;margin-left:-15px;', :tabindex=>"22"} %>
  </div>
  
  
  <%= f.label :確定申告区分, {:class => "my-custom-class-l" , style: 'width:120px;' }  %>
  <%= f.select :final_return_division, ConstructionCost.final_division, {}, 
       {id:'searchableSelect2_1', :class => "my-custom-class", style: 'width:60px;height:30px;margin-left:-20px;margin-top:5px;font-size:14px;background: #f1f1f1;', 
            :tabindex=>"5" } %>
  </br></br></br></br>
  	
  <%= f.input :delivery_amount, hint: "＊自動計算されます。手入力可。" , input_html:{id:"delivery_amount", :tabindex=>"23"} %>
  <%= f.input :execution_amount, hint: "＊自動計算されます。手入力可。", input_html:{id:"execution_amount", :tabindex=>"24"}  %>

  <%= f.check_box :fixed_flag %> 
  <%= f.label :fixed_flag, "確定済み(確定後に自動チェックされます。解除のみ操作可能です。)", {style: 'color: blue', :tabindex=>"25"} %>
  </br>

  <!--得意先M-->
  <%= f.simple_fields_for :customer_master, :remote => true do |m| %>
    <%= m.input :honorific_id , input_html:{ id:"honorific_id"}, as: :hidden %>
	<%= m.input :responsible1 , input_html:{ id:"responsible1"}, as: :hidden %>
	<%= m.input :responsible2 , input_html:{ id:"responsible2"}, as: :hidden %>
	<!--add171014-->
	<%= m.input :tel_main , input_html:{ id:"tel_main"}, as: :hidden %>
	<%= m.input :fax_main , input_html:{ id:"fax_main"}, as: :hidden %>
	<!--add end-->
  <% end %>
  
  <%= f.input :customer_id_hide, input_html:{id:'customer_id_hide'}, as: :hidden  %>
  
  <!--<input type="button" onclick="submit();" class = 'btn btn-primary' value="登録する" />-->
  
  <%= f.button_tag "登録する", :type => 'button', :class => "btn btn-primary", 
               :onclick => "alertAfterValidation()" %>
  
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                delivery_slip_headers_path, :class => 'btn btn-default' %>
<% end %>

<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script type="text/javascript">

   $(document).on('ready page:load', function(){
   
     //納品コード（参照）
     //select2のタブインデックスはここで指定する
	 $(".searchableDeliverySlipOrigin").select2({ theme: "classic", allowClear: true, placeholder: "" }).on("load", function(e) { 
        $(this).prop('tabindex',0)}).trigger('load');
     //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。
	 $( ".searchableDeliverySlipOrigin" ).on("select2:close", function (e) {
	 //  $('[tabindex=1]').focus(); 
	 });
   
     //検索可能なリストボックス(注文Noの場合)
     $(".searchableConstructionCode").select2({ theme: "bootstrap" });

     $( ".searchableConstructionCode" ).change(function(e) {
	     setConstructionDateDefault();
	 });
	 
	 //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。イマイチだが・・
	 //工事コードの場合
	 $( ".searchableConstructionCode" ).on("select2:close", function (e) {
	   $('[tabindex=3]').focus(); 
	 });
	 
	 	 
	 //検索可能なリストボックス(顧客名の場合)
     $(".searchableCustomerName").select2({ theme: "bootstrap" });
	 $( ".searchableCustomerName" ).change(function(e) {
	     setCustomerInfoDefault();
     });
	 
	 //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。
	 //顧客名の場合
	 $( ".searchableCustomerName" ).on("select2:close", function (e) {
	  　 $('[tabindex=5]').focus(); 
	 });
	 //
   });
   
  //フォームロード時のイベント
  window.onload = function(){
  	//得意先名を最新の情報にする
	var index = document.getElementById("customer_id").selectedIndex;
	document.getElementById("customer_name").value = 
	  document.getElementById("customer_id").options[index].innerText;
    
    //顧客情報の初期値もセットする(未入力の場合)
	setCustomerDefaultBySearch();
    
    //add190131
    //担当者の更新
    setResponsibleOnload();
    
  }
  
  //顧客情報のセット add180206
  function setCustomerDefaultBySearch(){
    index = parseInt(document.getElementById("customer_id").value);
    
    if (index > 0){
      var blnExist = false;
      if (document.getElementById("address").value != ""){
        blnExist = true;
      }
      if (blnExist == false){
        $(".searchableCustomerName").val(index).trigger("change");
      }
    }
  }
  
   //工事情報のセット
  function setConstructionDateDefault()
  {  
    //工事名のセット(ajax用のjsは、construction_costsのものを共用する)
    obj = document.getElementById("construction_datum_id");
     construction_id = parseInt(obj.value);
     //$.get("<%= construction_costz_construction_name_select_path %>",
	 //upd170218
	 $.get("<%= construction_dataz_construction_and_customer_select_path %>",
	   {id: construction_id },
        function(data){
          obj = document.getElementById("construction_name").textContent;
          document.getElementById("construction_name").value = obj;
		  
		  //add170830
		  obj = document.getElementById("construction_post").textContent;
          document.getElementById("construction_post").value = obj;
		  
		  obj = document.getElementById("construction_place").textContent;
          document.getElementById("construction_place").value = obj;
		  
         //番地
		  obj = document.getElementById("construction_house_number").textContent;
          document.getElementById("construction_house_number").value = obj;
		  //建物
		  obj = document.getElementById("construction_place2").textContent;
          document.getElementById("construction_place2").value = obj;
		  
          //responsible1
	      //add190131
          obj = document.getElementById("responsible1").textContent;
          document.getElementById("responsible1").value = obj;
          
		  //顧客情報も合わせてセットする
		  obj = document.getElementById("customer_id_hide").textContent; 
          if (obj != null){
            index = parseInt(obj);
            $(".searchableCustomerName").val(index).trigger("change");
          }
          
          //obj = document.getElementById("customer_id_hide").textContent;
		  //if (obj != null){
		  //  index = parseInt(obj);
          //  $(".searchableCustomerName").val(index).trigger("change");
	     // }
		  
	      }
	  );
	  
   };
  //担当者の更新
  //add190131
  function setResponsibleOnload()
  {  
    //工事名のセット(ajax用のjsは、construction_costsのものを共用する)
    obj = document.getElementById("construction_datum_id");
     construction_id = parseInt(obj.value);
     if (construction_id != "" && construction_id != "1")
     {
        $.get("<%= construction_dataz_construction_and_customer_select_path %>",
	      {id: construction_id },
          function(data){
          
            //responsible1
	        //add190131
            obj = document.getElementById("responsible1").textContent;
            if (obj != "" && document.getElementById("responsible1").value != obj)
            {
                document.getElementById("responsible1").value = obj;
            }
          }
	    );
	 }
   };
  //納品一覧データをコピーする
  function CopyDeliverySlipHeader(){
    
    var index = document.getElementById("delivery_slip_header_origin_id").selectedIndex;
    
    if (index > 0){
    
        var delivery_slip_origin_code = 
	    document.getElementById("delivery_slip_header_origin_id").options[index].innerText;
   
	    $.get("<%= delivery_slip_headerz_duplicate_delivery_slip_header_path %>",
        {delivery_slip_code: delivery_slip_origin_code },
            function(data){
		  
		    //工事情報をセット
		    //setConstructionInfoDefault();
		  
		    //請求コード
            if (document.getElementById("invoice_code") != undefined)
            {
		        obj = document.getElementById("invoice_code").textContent;
                document.getElementById("invoice_code").value = obj;
            }
          
		    //見積コード
		    if (document.getElementById("quotation_code") != undefined)
            {
                obj = document.getElementById("quotation_code").textContent;
                document.getElementById("quotation_code").value = obj;
		    }
		    //工事名
		    obj = document.getElementById("construction_name").textContent;
            document.getElementById("construction_name").value = obj;
		  
		    //顧客名
		    obj = document.getElementById("customer_name").textContent;
            document.getElementById("customer_name").value = obj;
		  
		    //担当者１
		    obj = document.getElementById("responsible1").textContent;
            document.getElementById("responsible1").value = obj;
		    //担当者2
		    obj = document.getElementById("responsible2").textContent;
            document.getElementById("responsible2").value = obj;
		  
		    //郵便番号
		    obj = document.getElementById("post").textContent;
            document.getElementById("post").value = obj;
		  
		    //住所
		    obj = document.getElementById("address").textContent;
            document.getElementById("address").value = obj;
		    obj = document.getElementById("house_number").textContent;
            document.getElementById("house_number").value = obj;
		    obj = document.getElementById("address2").textContent;
            document.getElementById("address2").value = obj;
		  
            //tel
		    obj = document.getElementById("tel").textContent;
            document.getElementById("tel").value = obj;
		    //fax
		    obj = document.getElementById("fax").textContent;
            document.getElementById("fax").value = obj;
		    //工事期間
		    if (document.getElementById("construction_period") != undefined){
                 obj = document.getElementById("construction_period").textContent;
                document.getElementById("construction_period").value = obj;
		    }
            //郵便番号(工事場所)  
		    obj = document.getElementById("construction_post").textContent;
            document.getElementById("construction_post").value = obj;
		    //住所(工事場所)
		    obj = document.getElementById("construction_place").textContent;
            document.getElementById("construction_place").value = obj;
		    //番地
		    obj = document.getElementById("construction_house_number").textContent;
            document.getElementById("construction_house_number").value = obj;
		   
            //建物
		    obj = document.getElementById("construction_place2").textContent;
            document.getElementById("construction_place2").value = obj;
		  
            ////取引方法
		    //obj = document.getElementById("trading_method").textContent;
            //document.getElementById("trading_method").value = obj;
		    ////有効期間
		    //obj = document.getElementById("effective_period").textContent;
            //document.getElementById("effective_period").value = obj;
		    ////NET金額
		    //obj = document.getElementById("net_amount").textContent;
            //document.getElementById("net_amount").value = obj;
		            
            //納品金額
		    obj = document.getElementById("delivery_amount").textContent;
            document.getElementById("delivery_amount").value = obj;
		    //実行金額
		    obj = document.getElementById("execution_amount").textContent;
            document.getElementById("execution_amount").value = obj;
		  
		    }
        
	   );
    }
   
  }
   //顧客情報のセット
  function setCustomerInfoDefault()
  {  
    obj = document.getElementById("customer_id");
     customer_id = parseInt(obj.value);
     $.get("<%= quotation_headerz_customer_info_select_path %>",
       {id: customer_id },
        function(data){
          //顧客名
		  obj = document.getElementById("customer_name").textContent;
          document.getElementById("customer_name").value = obj;
		  
		  //郵便番号
	      obj = document.getElementById("post").textContent;
          document.getElementById("post").value = obj;
		  //住所
		  obj = document.getElementById("address").textContent;
          document.getElementById("address").value = obj;
		  
		  //add171012
		  obj = document.getElementById("house_number").textContent;
          document.getElementById("house_number").value = obj;
		  obj = document.getElementById("address2").textContent;
          document.getElementById("address2").value = obj;
		  //add end 
		  
		  //tel
	      obj = document.getElementById("tel").textContent;
          document.getElementById("tel").value = obj;
          //fax
	      obj = document.getElementById("fax").textContent;
          document.getElementById("fax").value = obj;
		  //del190131
          //responsible1
	      //obj = document.getElementById("responsible1").textContent;
          //document.getElementById("responsible1").value = obj;
		  //responsible2
	      obj = document.getElementById("responsible2").textContent;
          document.getElementById("responsible2").value = obj;
		  
		 }
	  );
   };
  
   //登録時、納品参照コードが入力されていれば、メッセージを出す
   function alertAfterValidation() {
     if (document.getElementById("delivery_slip_header_origin_id").selectedIndex > 0){
       alert('納品書データを参照元コードよりコピーします。');
     }
     document.forms[0].submit();
   }
  
 //add200917
 //日付から納品コードを自動的にセットする
 function setCode()
 {
   var q_year = document.getElementsByName('delivery_slip_header[delivery_slip_date(1i)]')[0].value;
   var q_month = document.getElementsByName('delivery_slip_header[delivery_slip_date(2i)]')[0].value;
   var q_day = document.getElementsByName('delivery_slip_header[delivery_slip_date(3i)]')[0].value;
   
   if (q_year != "" && q_month != "" && q_day != "")
   {
       //ajax
       $.get("<%= delivery_slip_headerz_set_delivery_slip_code_path %>",
       {year: q_year, month: q_month, day: q_day },
       function(data)
       {
         obj = document.getElementById("delivery_slip_code").textContent;
         document.getElementById("delivery_slip_code").value = obj;
       })
   }
   
 }
 
</script>
