<p id="notice"><%= notice %></p>

<p>
  <strong>Supplier name:</strong>
  <%= @supplier_master.supplier_name %>
</p>

<p>
  <strong>Tel main:</strong>
  <%= @supplier_master.tel_main %>
</p>

<p>
  <strong>Fax main:</strong>
  <%= @supplier_master.fax_main %>
</p>

<p>
  <strong>Email main:</strong>
  <%= @supplier_master.email_main %>
</p>

<p>
  <strong>Responsible1:</strong>
  <%= @supplier_master.responsible1 %>
</p>

<p>
  <strong>Email1:</strong>
  <%= @supplier_master.email1 %>
</p>

<p>
  <strong>Responsible2:</strong>
  <%= @supplier_master.responsible2 %>
</p>

<p>
  <strong>Email2:</strong>
  <%= @supplier_master.email2 %>
</p>

<p>
  <strong>Responsible3:</strong>
  <%= @supplier_master.responsible3 %>
</p>

<p>
  <strong>Email3:</strong>
  <%= @supplier_master.email3 %>
</p>

<%= link_to 'Edit', edit_supplier_master_path(@supplier_master) %> |
<%= link_to 'Back', supplier_masters_path %>
