<script src="/assets/jquery.tablefix.js?body=1" type="text/javascript"></script>

<%- model_class = WorkingUnit -%>
<% provide(:title, model_class.model_name.human.pluralize.titleize) %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_working_unit_path,
            :class => 'btn btn-primary' %>

<!--モバイル対応 add180829-->
<% if browser.platform.ios? || browser.platform.android? %>
  <!--スペース-->
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <font color="#8F00FE">
  <label><%= radio_button(:drag, :on, "1", onClick: "dragg_on()") %>(モバイル用)ソートOn</label>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <label><%= radio_button(:drag, :off, "1", onClick: "dragg_off()") %>Off</label>
  </font>
<% end %>
<!-- -->

<div class="span11 table-scrollable">
  <style>
   table { }
   table th, table td { white-space:nowrap; overflow:hidden; }
  </style>			
<table id="tablefix", class="table table-striped", style="font-size : 12px;width:1880px;">
<!--<table class="table table-striped">-->
  <thead>
    <tr>
	  <th>seq</th>
      <th><%= model_class.human_attribute_name(:working_unit_name) %></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @working_units.order("seq desc").each do |working_unit| %>
      <tr id="<%= working_unit.id%>">
        <td><%= working_unit.seq %></td>
		<td><%= working_unit.working_unit_name %></td>
        <td><%= link_to working_unit.id, working_unit_path(working_unit) %></td>
        <td><%=l working_unit.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_working_unit_path(working_unit), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      working_unit_path(working_unit),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

			
<script type="text/javascript">
//検索可能なリストボックス
  $(document).ready(function(){
	
	//見出し固定用設定追加
		var sz = window.parent.screen.width;
		var fc = 1;    //デフォルトの固定列数(社長PC基準)
		var ht = 618;  //デフォルトの高さ(社長PC基準)
		
		if (sz != 1920) {
		//画面サイズ1920px(社長PC基準)以外は、列固定させる。
          fc = 2;  //固定列数
		  ht -= 80;
		}
		//$('#tablefix').tablefix({width: sz, height: ht, fixRows: 1, fixCols: fc});
		//ソートした場合に見栄えがおかしくなるので、列固定はしない。
		$('#tablefix').tablefix({width: sz, height: ht, fixRows: 1});
		
	//
  
    //モバイル対応 add180829
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      // モバイルはソートさせない。
    } else {
      //モバイル以外ならデフォルトでソート有効にする
      sortableEnable();
    }
  
  });
  
  //モバイル対応 add180829
  //////
  //ドラッグソートOn
  function sortableEnable() {
    $( "#tablefix tbody" ).sortable({
	//$( ".sortable" ).sortable({
        cursor: 'move',
	   start: function(event, ui) {ui.item.css("background-color", "orange");},
	   stop: function(event, ui) {
	     ui.item.css("background-color", "white");
		 
         var row = $(this).sortable('toArray').toString();
         $.post("<%= working_unitz_reorder_path %>",
           { row: row },
           function(data){
           }
         );
	   },
	       
    });
    $( "#tablefix tbody" ).sortable( "option", "disabled", false );
    $( ".sortable" ).disableSelection();
  
  }
  
  //ドラッグソートOff
  function sortableDisable() {
    $( "#tablefix tbody" ).sortable("disable");
    return false;
  }
  
  //ラジオボタンによるソート(On)
  function dragg_on(){
    document.getElementById("drag_off_1").checked = false;
    sortableEnable();
  }
  //ラジオボタンによるソート(Off)
  function dragg_off(){
    document.getElementById("drag_on_1").checked = false;
    sortableDisable();
  }
  //////
  
</script>

