<%= simple_form_for @purchase_datum, :html => { :class => 'well form-horizontal' } do |f| %>
  
  <% if @purchase_datum.errors.any? %>
  <div id="error_explanation">
    <h2><%= @purchase_datum.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @purchase_datum.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
 <% end %>

  <!--スマホ対応,datepicker使う場合のみ。 --> 
  <!--</br></br></br></br>-->  

  <%= f.input :purchase_date, label: "仕入日" ,  input_html:{ id:"purchase_date", name: "purchase_datum[purchase_date][]" , style: 'width:220px;', :tabindex=>"0"} %>
  <%= f.input :slip_code, label: "伝票番号", input_html: { style: 'width:220px;', :tabindex=>"1" }  %>
  <%= f.label :注文Ｎｏ , {:class => "my-custom-class-l"}  %></br>
  <%= f.collection_select :purchase_order_datum_id, PurchaseOrderDatum.all, :id, :p_num_cd, {:prompt => "どれか一つを選択して下さい"} , {id:"purchase_datum", 
         class: "searchableSubject" , :tabindex=>"2", style: 'width:220px !important; margin-left: -15px;'} %>
  
  <% @purchase_order_datum = PurchaseOrderDatum.new unless @purchase_order_datum %>
  <%= f.simple_fields_for :@purchase_order_datum do |m| %>
  <%= m.label :件名Ｎｏ参照用, {:class => "my-custom-class-lr"} %>
  <%= m.collection_select :lstConstruction_datumid, ConstructionDatum.all, :id, :construction_code, {:include_blank => true,:selected => @purchase_datum.construction_datum_id} , {id:'lstConstruction_datumid',name:'lstConstruction_datumid', style: 'font-size : 12px;' , :class => "my-custom-class-r2"} %></br>
  <% end %>
  <!-- -->
  <%= f.label :件名Ｎｏ , {:class => "my-custom-class-l"} %></br>
  
  <div class="col-xs-5" , style="margin-left : -15px">
  <%= f.collection_select :construction_datum_id, ConstructionDatum.all, :id, :p_cd_name, {:include_blank => true} , {id:'construction_datum_id', :tabindex=>"3", 
       :class => "searchableConstructionCode",  style: 'width:260px;' } %>
  </div>
  <div style="margin-left : -10px">
  <%= f.input :notes, label_html:{style: 'margin-top : -30px;'}, input_html:{id:"notes",  style: 'width:330px;margin-top : -0px;'} %>
  </div>
  
  <%= f.label :仕入業者 , {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :supplier_id, SupplierMaster.all, :id, :supplier_name, {:prompt => "どれか一つを選択して下さい"},
  {id:"supplier_id", :class => "searchableSupplier", style: 'width:220px', :tabindex=>"4", :onchange => "setUnitPrice(this.form)"}  %></br>

  <div class="col-xs-5" , style="margin-left : -15px">
  <%= f.label :品番 , {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :material_id, MaterialMaster.all, :id, :material_code, {:prompt => "どれか一つを選択して下さい"} , {id:"material_id", class: "searchableItem" , 
               :tabindex=>"5",style: 'width:220px',:onchange => "setListPriceAndMakerAndUnit(this.form)"} %>
  </div>
  
  <%= f.label :仕入先品番（検索用） , {:class => "my-custom-class-l"} %>
  <%= f.collection_select :supplier_material_code, PurchaseUnitPrice.all, :id, :supplier_material_code, {:include_blank => true} , 
      {id:"supplier_material_id", class: "searchableSupplierItem" , style: 'width:220px', :tabindex=>"6"} %>
  
  <%= f.label :定価参照, {:class => "my-custom-class-lr2"} %>
  <%= f.collection_select :lstListPrice, MaterialMaster.all,  :id, :list_price,  {:prompt => "どれか一つを選択して下さい",:selected => @purchase_datum.material_id} , {id:'material_list_price', :class => "my-custom-class-r2", style: 'font-size : 12px;width:100px'}  %></br>
  
  <%= f.input :material_code, label: "品番（手入力可）", input_html: { :class => "my-custom-class-t", id:'material_code' , style: 'width:220px' , :tabindex=>"7" }  %>
  
  <!--<%= f.hidden_field :material_masters, :value => @material_masters, id:"material_list_price" %>-->
  
  <%= f.label :品名 , {:class => "my-custom-class-l"} %></br>
  <!--<%= f.collection_select :material_name, MaterialMaster.all,  :id, :material_name,  {:prompt => "どれか一つを選択して下さい",:selected => @purchase_datum.material_id} , {name: 'lstMaterialName' ,:class => "my-custom-class-r"}  %></br>-->
  <%= f.collection_select :lstMaterialName, MaterialMaster.all,  :id, :material_name,  {:prompt => "どれか一つを選択して下さい",:selected => @purchase_datum.material_id} , {id:'lstMaterialName',name: 'lstMaterialName' ,:class => "my-custom-class-l"}  %></br>
  
  <%= f.input :material_name, label: "品名（手入力可）", input_html: { :class => "my-custom-class-t", id:'material_name', :tabindex=>"8"  }  %>
  <%= f.label :メーカー, {:class => "my-custom-class-l"} %></br>
  <!--<%= f.collection_select :maker_id, MakerMaster.all, :id, :maker_name,  {:prompt => "どれか一つを選択して下さい"} ,  { id:'maker_id', :class => "my-custom-class" ,:onchange => "setMakerName(this.form)" } %></br>-->
  <%= f.collection_select :maker_id, MakerMaster.all, :id, :maker_name,  {:prompt => "どれか一つを選択して下さい"} ,  { id:'maker_id', class: "searchableMaker" , :tabindex=>"9", style: 'width:220px'} %></br> 
  <%= f.input :maker_name, label: "メーカー名（手入力可）", input_html: { id:'maker_name', :class => "my-custom-class-t", :tabindex=>"10" }  %>
    
  <!--仕入先単価-->
  <%= f.input :unit_price_hide , input_html:{ id:"unit_price_hide"} , as: :hidden%>
  <!--<%= f.simple_fields_for :PurchaseUnitPrice, :remote => true do |k| %>-->
  <!--<%= k.input :unit_price , input_html:{ id:"unit_price"} , as: :hidden%>-->
  <!--<% end %>-->
  
  <!--資材M単価-->
  <%= f.simple_fields_for :MaterialMaster, :remote => true do |m| %>
    <%= m.input :last_unit_price , input_html:{ id:"last_unit_price"}, as: :hidden %>
    <%= m.input :last_unit_price_update_at , input_html:{ id:"last_unit_price_update_at"} ,as: :date_picker, as: :hidden %>
  <% end %>

  <%= f.input :quantity , label: "数量" , hint: "＊(PCのみ)入力後必ずtabキーを押す!" , input_html:{ style: 'width:220px;' , :tabindex=>"11" , :onfocusout => "calcMoney(this.form)" } %>
  <!--<%= link_to (button_tag "ボタン", type: 'button'), {:onclick => "calcMoney(this.form)"} %></br>-->
  <%= f.label :単位, {:class => "my-custom-class-l"}  %></br>
  <%= f.collection_select :unit_id, UnitMaster.all,:id, :unit_name, {:selected => @purchase_datum.unit_id || 3 } , {id:"unit_id", :tabindex=>"12" , style: 'width:110px;' , :class => "searchableUnit"} %>
  <%= f.input :purchase_unit_price, label: "仕入単価", hint: "＊(PCのみ)変更した場合必ずtabキーを押す!" , input_html:{id:"purchase_unit_price", :tabindex=>"13" ,  style: 'width:220px;' , :onfocusout => "calcMoney(this.form)" } %>
  <%= f.check_box :check_unit, {}, "true", "false" %>
  <%= f.label_tag :check_unit, '単価マスタを更新しない場合はチェック' %> 
  <%= f.input :purchase_amount ,label: "金額" , input_html:{:tabindex=>"14"} %>
  <%= f.input :list_price,label: "定価", input_html:{id:"list_price", :tabindex=>"15"} %>
  <%= f.label :仕入区分 , {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :division_id, PurchaseDivision.all, :id, :purchase_division_name , {:selected => @purchase_datum.division_id || 1, :prompt => "どれか一つを選択して下さい"} , {:tabindex=>"16", :class => "my-custom-class"} %></br>
  
  <%= f.input :supplier_id_hide, input_html:{id:'supplier_id_hide'}, as: :hidden  %>
  
  <%= f.button :submit, :class => 'btn-primary' %>
  
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                purchase_data_path, :class => 'btn btn-default' %>
				
<% end %>

<script type="text/javascript">

   var item_index = 0;

   //$(document).ready(function(){
   $(document).on('ready page:load', function(){
   //$(document).on('turbolinks:load', function(){
     
     //連動しなくなるので保留・・・
     $(".searchableConstructionCode").select2({ theme: "bootstrap" });
	 //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。
	   $( ".searchableConstructionCode" ).on("select2:close", function (e) {
	     $('[tabindex=4]').focus(); 
	   });
		
	 
	 $(".searchableUnit").select2({ theme: "bootstrap" });
     //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。
	 $( ".searchableUnit" ).on("select2:close", function (e) {
	   $('[tabindex=13]').focus(); 
	 });
	  
     //検索可能なリストボックス(品名の場合)
     $(".searchableItem").select2({ theme: "bootstrap" });

     $( ".searchableItem" ).change(function(e) {
       obj = document.getElementById("material_id");
       index = obj.selectedIndex;
       
	    //品番・品名をセット
		setItem(index);
		
		//単価をセット
		setUnitPrice();
      });
      
	  //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。
	   $( ".searchableItem" ).on("select2:close", function (e) {
	     $('[tabindex=7]').focus(); 
	   });
	  
	  //検索可能なリストボックス(客先品番の場合)
      $(".searchableSupplierItem").select2({ theme: "bootstrap" });
	  $( ".searchableSupplierItem" ).change(function(e) {
	     //normal_index = document.getElementById("supplier_material_id").value;
	     material_id_position = document.getElementById("supplier_material_id").value.indexOf(",") + 1 ;
		 index = document.getElementById("supplier_material_id").value.slice(material_id_position)
		 
		
		 
		 //資材Mのインデックスも変更
		 //debugger;
		 //document.getElementById("material_id").options[index].selected = true;
         $(".searchableItem").val(index).trigger("change");
		 
		//品番・品名をセット
		//setItem(index);
		//単価をセット
		//setUnitPrice();
	  });
	  
	 
      $(".searchableMaker").select2({ theme: "bootstrap" });

      $( ".searchableMaker" ).change(function(e) {
           //メーカー名のセット
          obj = document.getElementById("maker_id");
          index = obj.selectedIndex;
          if (index !== 0){
             obj2 = document.getElementById("maker_name");
             obj2.value = obj.options[index].innerText;
          }
      });
      //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。イマイチだが・・
	  $( ".searchableMaker" ).on("select2:close", function (e) {
	    $('[tabindex=10]').focus(); 
	  });
	  
	 //検索可能なリストボックス(仕入業者の場合)
     $(".searchableSupplier").select2({ theme: "bootstrap" });
     $( ".searchableSupplier" ).change(function(e) {
       //setUnitPrice();
	   setSupplierItem();
     });
     
	 //select2読み込んだ場合の処理
	 //$( ".searchableSupplier" ).on("select2:loaded", function (e) {
	 //  debugger;
	 //  setSupplierItem();
	 //});
	 
	 //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。
	 $( ".searchableSupplier" ).on("select2:close", function (e) {
	   $('[tabindex=5]').focus(); 
	 });
	  
	  //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。イマイチだが・・
	  $( ".searchableSubject" ).on("select2:close", function (e) {
	    $('[tabindex=3]').focus(); 
	  });
	   
      //検索可能なリストボックス(注文Noの場合)
      $(".searchableSubject").select2({ theme: "bootstrap" });

       $( ".searchableSubject" ).change(function(e) {
      
        //obj = f.purchase_datum_purchase_order_datum_id;
        obj = document.getElementById("purchase_datum");
        index = obj.selectedIndex;
    
        var str = obj.options[index].innerText;
        //var searchIndex = obj.options[index].innerText.search("/");
        //指定文字を抜き出す。区切り文字はモデル内に記述
        var searchIndex = obj.options[index].innerText.search("<");
        //数字だけ抜き出す。引数の10は10進数の意。
        var KenId = parseInt(str.substr(searchIndex + 1,8),10);
        
		//工事のセット
        obj2 = document.getElementById("lstConstruction_datumid");
        obj2.selectedIndex = KenId;
        $(".searchableConstructionCode").val(KenId).change(); 
        
		purchase_order_code = str.substr(0, searchIndex) ;
        $.get("<%= purchase_datum_supplier_select_path %>",
          {purchase_order_code: purchase_order_code },
          function(data){
            //
              obj = document.getElementById("supplier_id_hide").textContent;
			  if (obj != null){
		      index = parseInt(obj);
              $(".searchableSupplier").val(index).trigger("change"); 
		      }
			  		  
			  
              //index = obj.selectedIndex;
              //f.list_price.value = obj.options[index].innerText;
        });
		
		//}
		
        //obj3 = document.getElementById("construction_datum_id");
        //obj3.selectedIndex = KenId;
     });
     //
     $('#supplier_id').change(function(){
        var supplier_id = $("#supplier_id").val();
        var material_id = $("#material_id").val();
		
	   $.get("<%= purchase_datum_unit_price_select_path %>",
          { supplier_id: supplier_id, material_id: material_id },
          function(data){ }
        );
      });
	  
	
   });
   
   //フォームロード時のイベント
   window.onload = function(){
  //    $(".searchableSupplier").val(index).trigger("change");
     setSupplierItem();
   }
   
   //品番・品名のセット
   function setItem(index){
       //品番のセット
       obj4 = document.getElementById("material_code");
       obj = document.getElementById("material_id");
       obj4.value = obj.options[index].innerText;
	  
		 
	   //品名のセット（リスト）
       obj2 = document.getElementById("lstMaterialName");
       obj2.selectedIndex = index;
       //品名のセット（テキスト）
       if (index !== 0){
          obj3 = document.getElementById("material_name");
          obj3.value = obj2.options[index].innerText;
        }
   }

  //仕入先単価のセット
   function setUnitPrice()
   {
      //仕入単価のセット
      //var supplier_id = f.supplier_id.value;
      //var material_id = f.material_id.value;
	  
      var supplier_id = document.getElementById("supplier_id").value;
      var material_id = document.getElementById("material_id").value;
      var last_unit_price_update_at = document.getElementById("last_unit_price_update_at").value;
	  
	  if (material_id > 1) {
	  
        $.get("<%= purchase_datum_unit_price_select_path %>",
            { supplier_id: supplier_id, material_id: material_id },
            function(data){
              //obj = document.getElementById("unit_price").textContent;
	          //document.getElementById("unit_price").value = obj;
			  obj = document.getElementById("unit_price_hide").textContent;
			  
              document.getElementById("purchase_unit_price").value = obj;
			
              //debugger;
             //var purchase_date_set = f.purchase_date[0].value + "/" + f.purchase_date[1].value + "/" + f.purchase_date[2].value;
                 var purchase_date_set = document.getElementsByName("purchase_datum[purchase_date][]")[0].value + "/" + document.getElementsByName("purchase_datum[purchase_date][]")[1].value + "/" 
                                    + document.getElementsByName("purchase_datum[purchase_date][]")[2].value; 
               
                   if (last_unit_price_update_at <= purchase_date_set){
                     document.getElementById("last_unit_price").value = obj; 
                      document.getElementById("last_unit_price_update_at").value = purchase_date_set;  
            }
              }
          );
      
        //単位のセット
        // var material_id = document.getElementById("material_id").value;
	    $.get("<%= purchase_datum_unit_select_path %>",
            { supplier_id: supplier_id, material_id: material_id },
            function(data){
            }
          );
     }
   }

   //仕入先品番をセット(Ajax)
   function setSupplierItem(){
     var supplier_id = document.getElementById("supplier_id").value;
     $.get("<%= purchase_datum_supplier_item_select_path %>",
            { supplier_id: supplier_id },
            function(data){
            });
     
   }

   //定価・メーカー・単位のセット
   function setListPriceAndMakerAndUnit(f)
   {  
      //定価のセット
          //初期値をセット
          f.material_list_price.selectedIndex = 1;
     //
     //obj = f.material_list_price;
          
          var material_id = f.material_id.value;
     $.get("<%= purchase_datum_list_price_select_path %>",
          {material_id: material_id },
          function(data){
            //
              obj = document.getElementById("material_list_price");
                index = obj.selectedIndex;
                //index = 0;
                f.list_price.value = obj.options[index].innerText;
     }
        );
     //メーカーのセット
       //var material_id = f.material_id.value;
     $.get("<%= purchase_datum_maker_select_path %>",
          {material_id: material_id },
          function(data){
          //メーカー名もセット
   	      obj = f.maker_id;
   	      index = obj.selectedIndex;
            //f.maker_id.value = obj.options[index].innerHTML;
            //debugger;
            //上記でピンポイントしているので0とする
            index = 0;
  	     //f.purchase_datum_maker_name.value = obj.options[index].innerText;
             f.maker_name.value = obj.options[index].innerText;
          }
        );
     
       //単位も再セット
       setUnitPrice(f);
  
       //単位のセット
      //var material_id = f.material_id.value;
      //$.get("<%= purchase_datum_unit_select_path %>",
      //    {id: material_id },
      //    function(data){
      //    }
      //  );
     
    }
  
  //金額計算
  function calcMoney(f)
  {
   
    var num = f.purchase_datum_quantity.value * f.purchase_unit_price.value ;
    //小数点以下を切り捨て
    f.purchase_datum_purchase_amount.value = Math.floor(num);

    // 仕入単価をセット
    if (f.unit_price != undefined) {
      f.unit_price.value = f.purchase_unit_price.value;
	}
    //単価Mの直近単価も更新
    var purchase_date_set = f.purchase_date[0].value + "/" + f.purchase_date[1].value + "/" + f.purchase_date[2].value;  
   
     //debugger;
   
    if (f.last_unit_price_update_at.value <= purchase_date_set){
     f.last_unit_price.value = f.purchase_unit_price.value;
     f.last_unit_price_update_at.value = purchase_date_set;
	
    }
  }
    
  
</script>
