<%- model_class = QuotationHeaderHistory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to "元の見積一覧へ戻る",
              quotation_headers_path,
            :class => 'btn btn-success' %>
<!--新規はいらない筈？-->
<!--<%= link_to t('.new', :default => t("helpers.links.new")),
            new_quotation_header_history_path,
            :class => 'btn btn-primary' %>-->

<table class="table table-striped", style="width:1280px">
  <thead>
    <tr>
	  <th></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:issue_date) %></th>
      <!--<th><%= model_class.human_attribute_name(:quotation_header_id) %></th>-->
      <th><%= model_class.human_attribute_name(:construction_name) %></th>
      <th><%= model_class.human_attribute_name(:quote_price) %></th>
      <th><%= model_class.human_attribute_name(:execution_amount) %></th>
      <th><%= model_class.human_attribute_name(:net_amount) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @quotation_header_histories.order("issue_date desc").each do |quotation_header_history| %>
      <tr>
	    <td><%= link_to "内訳へ",
            quotation_breakdown_histories_path(quotation_header_id: quotation_header_history.quotation_header_id,  
			                                         quotation_header_history_id: quotation_header_history.id, 
                                                        quotation_header_name: quotation_header_history.construction_name,
                                                        new_flag: "1"),
            :class => 'btn btn-info' %>
        <td><%= link_to quotation_header_history.id, quotation_header_history_path(quotation_header_history, quotation_header_id: params[:quotation_header_id]) %></td>
        <td><%= quotation_header_history.issue_date.in_time_zone('Tokyo') %></td>
        <!--<td><%= quotation_header_history.quotation_header_id %></td>-->
		<td><%= quotation_header_history.construction_name %></td>
        <td><%= quotation_header_history.quote_price %></td>
        <td><%= quotation_header_history.execution_amount %></td>
        <td><%= quotation_header_history.net_amount %></td>
        <td><%=l quotation_header_history.created_at.in_time_zone('Tokyo') %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_quotation_header_history_path(quotation_header_history, quotation_header_id: params[:quotation_header_id] ), 
                      :class => 'btn btn-white_rsd btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      quotation_header_history_path(quotation_header_history, quotation_header_id: params[:quotation_header_id]),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


