<h1></h1>

<p>
  <p><%= @supplier_name %>　<%=@responsible_name %>　いつもお世話になっております。</p>
  <p>以下の注文番号の登録をお願いいたします。</p>
  <p></p>
  <p><%= @user %></p>
  <p><%= @construction %></p>
  <p><%= @construction_place %></p>
  <p></p>
  ※このメールアドレスは配信専用です。このメッセージに返信しないようお願いいたします。
</p>