<%= simple_form_for @outsourcing_cost, :html => { :class => 'well orm-horizontal' } do |f| %>
  
  <!-- ヴァリデーションのエラー表示させる -->
  <% if @outsourcing_cost.errors.any? %>
  <div id="error_explanation">
    <h2><%= @outsourcing_cost.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @outsourcing_cost.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <!-- -->
  
  <!--<%= f.input :construction_datum_id %>-->
  <div class="col-lg-3", style="margin-left : 0px;margin-top :10px;">
  <%= f.label :工事名, {:class => "my-custom-class-l"}  %></br>
  <%= f.collection_select :construction_datum_id, ConstructionDatum.order('construction_code DESC').all, :id, :p_cd_name, {:prompt => "どれか一つを選択して下さい"} , 
           {id:"construction_datum_id",  class: "searchableSelect2_1" , style: 'width:480px', :tabindex=>"1" } %>
  </div>
  </br></br></br></br>
  
  <!--add190930 内部更新用-->
  <%= f.input :purchase_order_datum_id, input_html:{id:'purchase_order_datum_id'}, as: :hidden  %>
  
  <!--<%= f.input :staff_id %>-->
  <div class="col-lg-3", style="margin-left : 0px;margin-top :10px;">
  <%= f.label :社員, {:class => "my-custom-class-l"}  %></br>
  <%= f.collection_select :staff_id, Staff.all, :id, :staff_name, {:prompt => "どれか一つを選択して下さい" } , 
      {id:"staff_id", style: 'width:180px', class: "searchableSelect2_2" , :tabindex=>"2" }  %>
  </div>
  </br></br></br></br>
  
  <%= f.input :labor_cost , input_html:{id:"labor_cost", :tabindex=>"3"}%>
  <!--<%= f.input :execution_amount %>-->
  <%= f.input :billing_amount, input_html:{id:"billing_amount", :tabindex=>"4"} %>
  
  <!--upd191206日付未入力なら現在日付にて判定、変更時は分岐させる-->
  <% if f.object.payment_due_date.present? %>
    <% @due_date = f.object.payment_due_date %>
  <% else %>
    <% @due_date = Date.today %>
  <% end %>
  
  <% if @due_date >= Date.new(2019,10,1) %>
    <%= f.input :billing_amount_tax, label: "税込請求金額",  
       input_html:{id:"billing_amount_tax", readonly: true, 
         value: ((f.object.billing_amount || 0) * $consumption_tax_include_per_ten).to_i} %>
  <% else %>
    <%= f.input :billing_amount_tax, label: "税込請求金額",  
       input_html:{id:"billing_amount_tax", readonly: true, 
         value: ((f.object.billing_amount || 0) * $consumption_tax_include).to_i} %>
  <% end %>
  
  <div class="col-lg-5", style="margin-left : -15px;margin-top :10px;">
  <%= f.input :closing_date, input_html:{id:"closing_date", :tabindex=>"5"} %>
  </div>
  
  <div class="col-lg-3", style="margin-left : 30px;margin-top :50px;">
  <%= f.label :支払元銀行：, {:class => "my-custom-class-l" , style: 'width:90px;margin-left:-60px;margin-top :-5px;' }  %>
  <!--支払元は、デフォルトは北越銀行にしておく(入力漏れ防ぐため)-->
  <%= f.select :source_bank_id, CustomerMaster.payment_bank, {:selected => @outsourcing_cost.source_bank_id || 1}, 
       {id:'searchableSelect2_3', :class => "my-custom-class", 
          style: 'width:120px;height:30px;margin-left:30px;margin-top:-28px;font-size:14px;', :tabindex=>"6" } %>
  </div>
  </br></br></br></br></br>
  
  
  <%= f.input :payment_amount, input_html:{id:"payment_amount", :tabindex=>"7"} %>
  <%= f.input :unpaid_amount, input_html:{id:"unpaid_amount", :tabindex=>"8"} %>
  
  <!--
  <% if f.object.payment_amount.present? && f.object.unpaid_amount.present? %>
    <%= f.input :payment_total_amount, label: "支払合計金額",  input_html:{id:"payment_total_amount", 
          readonly: true, value: (f.object.payment_amount + f.object.unpaid_amount)} %>
  <% else %>
    <% if f.object.payment_amount.present? %>
      <%= f.input :payment_total_amount, label: "支払金額合計",  input_html:{id:"payment_total_amount", readonly: true, value: (f.object.payment_amount )} %>
    <% else %>
      <%= f.input :payment_total_amount, label: "支払金額合計",  input_html:{id:"payment_total_amount", readonly: true, value: (f.object.unpaid_amount )} %>
    <% end %>  
  <% end %>
  -->
  
  <%= f.input :payment_due_date, input_html:{id:"payment_due_date", :tabindex=>"9"} %>
  <%= f.input :payment_date, :include_blank => true, input_html:{id:"payment_date", :tabindex=>"10"} %>
  <%= f.input :unpaid_payment_date, :include_blank => true, input_html:{id:"unpaid_payment_date", :tabindex=>"11"} %>
  
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                outsourcing_costs_path, :class => 'btn btn-default' %>
<% end %>


<script type="text/javascript">

  $(document).ready(function(){
  //$(document).on('turbolinks:load', function(){
       
       //select2のタブ順はここで設定
       $(".searchableSelect2_1").select2({ theme: "classic", allowClear: true, placeholder: "" }).on("load", function(e) { 
        $(this).prop('tabindex',1)}).trigger('load');
       //select2のタブ順はここで設定
       $(".searchableSelect2_2").select2({ theme: "classic", allowClear: true, placeholder: "" }).on("load", function(e) { 
        $(this).prop('tabindex',2)}).trigger('load');
      
       
  });
</script>
