<div class="modal-dialog modal-lg" id='myModal'>
  <div class="modal-content">
  <div style="padding-left : 15px">
<%= simple_form_for @quotation_detail_middle_classification, remote: true, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.label :"件名" , {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :quotation_header_id, QuotationHeader.all, :id, :construction_name, {:prompt => 'どれか一つを選択して下さい'} , {id:'quotation_header_id', :tabindex=>"0", :selected => @quotation_detail_middle_classification.quotation_header_id, :class => "searchableQuotationHeader",  style: 'width:330px' } %></br>
  <%= f.label :"項目名" , {:class => "my-custom-class-l"} %></br>
  <!--<%= f.collection_select :quotation_detail_large_classification_id, QuotationLargeItem.all, :id, :quotation_large_item_name, {:prompt => 'どれか一つを選択して下さい'} , {id:'quotation_detail_large_classification_id', :class => "searchableQuotationLargeItem",  style: 'width:220px' } %></br>-->
  <%= f.collection_select :quotation_detail_large_classification_id, QuotationDetailLargeClassification.all, :id, :quotation_large_item_name, {:prompt => 'どれか一つを選択して下さい'} , {id:'quotation_detail_large_classification_id', :tabindex=>"1",  :class => "searchableQuotationLargeItem",  style: 'width:220px' } %></br>
  <%= f.label :"品名／仕様" , {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :quotation_items_division_id, QuotationItemsDivision.all, :id, :quotation_items_division_name, {:selected => @quotation_detail_middle_classification.quotation_items_division_id || 1} , {id:'quotation_items_division_id', :tabindex=>"2", :class => "my-custom-class", :onchange => "setWhenSpecification(this.form)" } %></br
  <%= f.label :"品名" , {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :quotation_middle_item_id, QuotationMiddleItem.all, :id, :quotation_middle_item_short_name, {:selected => @quotation_detail_middle_classification.quotation_middle_item_id || 1} , {id:'quotation_middle_item_id', :tabindex=>"3", :class => "searchableQuotationMiddleItem",  style: 'width:300px' } %></br>
 
  <%= f.label :"行番号" , {:class => "my-custom-class-l" } %></br>
  <%= f.select :line_number, QuotationDetailMiddleClassification.serial_number, {}, { :tabindex=>"4", class: "searchableNumber" , style: 'width:100px' } %>
  <%= f.check_box :check_line_insert, {}, "true", "false" %>
  <%= f.label_tag :check_line_insert, '行挿入する' %></br>
  
  <%= f.input :quotation_middle_item_name, label: "品名(手入力可)", input_html:{id:"quotation_middle_item_name",  :tabindex=>"5",  :onchange => "set_quotation_middle_item_short_name()"}  %>
  <%= f.input :quotation_middle_item_short_name, label: "品名(短縮用)", input_html:{id:"quotation_middle_item_short_name", :tabindex=>"6"}  %>
  <%= f.input :quotation_middle_specification, label: "仕様(手入力可)", input_html:{id:"quotation_middle_specification", :tabindex=>"7" }  %>
  <%= f.label :"単位" , {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :quotation_unit_id, QuotationUnit.all, :id, :quotation_unit_name, {:prompt => 'どれか一つを選択して下さい', :selected => @quotation_detail_middle_classification.quotation_unit_id || 1 } , {id:'quotation_unit_id', :tabindex=>"8",:class => "searchableQuotationUnit",  style: 'width:220px' } %></br>
  <%= f.input :quotation_unit_name , label: "単位名(手入力可)", input_html:{id:"quotation_unit_name", :tabindex=>"9", :value => @quotation_detail_middle_classification.quotation_unit_name || QuotationUnit.where(:id => 1).pluck(:quotation_unit_name) }  %>
  <%= f.input :execution_quantity, input_html:{id:"execution_quantity", :tabindex=>"10", :onchange => "calcMoneyforQuantity()"}  %>
  <%= f.input :quantity, label: "見積数量", input_html:{id:"quantity", :tabindex=>"11", :onchange => "calcTotalPrice()"}  %>
  <%= f.input :execution_unit_price, input_html:{id:"execution_unit_price", :tabindex=>"12", :onchange => "calcTotalPrice()" } %>
  <%= f.input :execution_price, input_html:{id:"execution_price", :tabindex=>"13"} %>
  <%= f.input :quotation_unit_price, input_html:{id:"quotation_unit_price", :tabindex=>"14", :onchange => "calcTotalPrice()"} %>
  <%= f.input :quote_price, input_html:{id:"quote_price", :tabindex=>"15"} %>
  <%= f.label :"使用材料(選択)", {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :material_id, MaterialMaster.all, :id, :material_code, {:selected => @quotation_detail_middle_classification.material_id || 1 } , {id:"material_id", :tabindex=>"16", class: "searchableItem" , style: 'width:330px'} %>
  <%= f.input :quotation_material_name, input_html:{id:"quotation_material_name", :tabindex=>"17"} %>
  <%= f.input :material_unit_price, input_html:{id:"material_unit_price", :tabindex=>"18", :onchange => "calcAccessory()"} %>
  <%= f.input :labor_unit_price, input_html:{id:"labor_unit_price", :tabindex=>"19", :onchange => "calcLaborCost()"}  %>
  <%= f.input :labor_productivity_unit, input_html:{id:"labor_productivity_unit", :tabindex=>"20", :onchange => "calcLaborCost()"}  %>
  <%= f.input :material_quantity, input_html:{id:"material_quantity", :tabindex=>"21", :onchange => "calcAccessory()"} %>
  <%= f.input :accessory_cost, input_html:{id:"accessory_cost" , :tabindex=>"22"} %>
  <%= f.input :material_cost_total, input_html:{id:"material_cost_total", :tabindex=>"23"} %>
  <%= f.input :labor_cost_total, input_html:{id:"labor_cost_total", :tabindex=>"24"} %>
  <%= f.input :other_cost, input_html:{id:"other_cost", :tabindex=>"25"} %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <!--<input type="button" onclick="submit();" class = 'btn btn-primary' value="登録する" />-->
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                quotation_detail_middle_classifications_path(quotation_header_id: params[:quotation_header_id],
                               quotation_detail_large_classification_id: params[:quotation_detail_large_classification_id], new_flag: "1"), :class => 'btn btn-default' %>
<% end %>
</div>
 </div>
</div>

<script type="text/javascript">

  //モーダルの場合は、このコードがないとselect2が正常動作しない。
  $.fn.modal.Constructor.prototype.enforceFocus = function () {};
  
  //$(document).on('ready page:load', function(){
  $(document).ready(function(){
     //検索可能なリストボックス
     //$(".searchableQuotationHeader").select2({ theme: "bootstrap", dropdownParent: $("#myModal") });
	 $(".searchableQuotationHeader").select2({ theme: "bootstrap" });
     $( ".searchableQuotationHeader" ).change(function(e) {
      　  setLargeItemName();
     });
	 //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。イマイチだが・・
	 $( ".searchableQuotationHeader" ).on("select2:close", function (e) {
		setTimeout(function() {
		    $('[tabindex=1]').focus();
		}, 0);  
	 });
	 
	 $(".searchableQuotationLargeItem").select2({ theme: "bootstrap"  });
     $( ".searchableQuotationLargeItem" ).on("select2:close", function (e) {
		setTimeout(function() {
		    $('[tabindex=2]').focus();
		}, 0);  
	 });
	 
	 $(".searchableQuotationMiddleItem").select2({ theme: "bootstrap" });
     $( ".searchableQuotationMiddleItem" ).change(function(e) {
      　  setQuotationMiddleItemName();
     });
	 $( ".searchableQuotationMiddleItem" ).on("select2:close", function (e) {
		setTimeout(function() {
		    $('[tabindex=4]').focus();
		}, 0);  
	 });
	 
	 $(".searchableNumber").select2({ theme: "bootstrap" });
	 $( ".searchableNumber" ).on("select2:close", function (e) {
		setTimeout(function() {
		    $('[tabindex=5]').focus();
		}, 0);  
	 });
	 	 
     $(".searchableQuotationUnit").select2({ theme: "bootstrap" });
	  $( ".searchableQuotationUnit" ).change(function(e) {
      　  setQuotationUnitName();
	 });
	 $( ".searchableQuotationUnit" ).on("select2:close", function (e) {
		setTimeout(function() {
		    $('[tabindex=9]').focus();
		}, 0);  
	 });
	 
     $(".searchableItem").select2({ theme: "bootstrap"  });
      $( ".searchableItem" ).change(function(e) {
      　  setItemNameAndPrice();
     });
     $( ".searchableItem" ).on("select2:close", function (e) {
		setTimeout(function() {
		    $('[tabindex=17]').focus();
		}, 0);  
	 });
  });
  
  //品目の絞り込み-ajax
  function setLargeItemName()
  {  
     obj = document.getElementById("quotation_header_id");
     quotation_header_id = parseInt(obj.value);
     
      //項目名
      $.get("<%= quotation_detail_middle_classificationz_quotation_detail_large_classification_id_select_path %>",
       {quotation_header_id: quotation_header_id },
        function(data){
          //obj = document.getElementById("quotation_middle_item_name").textContent;
          //document.getElementById("quotation_middle_item_name").value = obj;
		  }
      );
  }
  
  //各値の自動セット-ajax
  function setQuotationMiddleItemName()
  {  
    obj = document.getElementById("quotation_middle_item_id");
     quotation_middle_item_id = parseInt(obj.value);
     
      //項目名
      $.get("<%= quotation_detail_middle_classificationz_quotation_middle_item_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("quotation_middle_item_name").textContent;
          document.getElementById("quotation_middle_item_name").value = obj;
		  //短縮名へも初期値としてセット
		  document.getElementById("quotation_middle_item_short_name").value = obj;
		  }
      );
　　　
      //仕様
　　　$.get("<%= quotation_detail_middle_classificationz_quotation_middle_specification_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("quotation_middle_specification").textContent;
          document.getElementById("quotation_middle_specification").value = obj;
		  }
      );

      //見積金額
      $.get("<%= quotation_detail_middle_classificationz_quotation_unit_price_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("quotation_unit_price").textContent;
          document.getElementById("quotation_unit_price").value = obj;
		  }
      ); 
      //実行金額
      $.get("<%= quotation_detail_middle_classificationz_execution_unit_price_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("execution_unit_price").textContent;
          document.getElementById("execution_unit_price").value = obj;
		  }
      );
      //材料ID(後から選択ができないので保留・・・)
      //$.get("<%= quotation_detail_middle_classificationz_material_id_select_path %>",
      // {id: quotation_middle_item_id },
      //  function(data){
      //  }
      //);       
      //材料名
      $.get("<%= quotation_detail_middle_classificationz_quotation_material_name_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("quotation_material_name").textContent;
          document.getElementById("quotation_material_name").value = obj;
		  }
      );      
      //材料単価
      $.get("<%= quotation_detail_middle_classificationz_material_unit_price_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("material_unit_price").textContent;
          document.getElementById("material_unit_price").value = obj;
		  }
      );      
      //労務単価
      $.get("<%= quotation_detail_middle_classificationz_labor_unit_price_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("labor_unit_price").textContent;
          document.getElementById("labor_unit_price").value = obj;
		  }
      );      
      //歩掛り
      $.get("<%= quotation_detail_middle_classificationz_labor_productivity_unit_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("labor_productivity_unit").textContent;
          document.getElementById("labor_productivity_unit").value = obj;
		  }
      );      
      //使用材料数
      $.get("<%= quotation_detail_middle_classificationz_material_quantity_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("material_quantity").textContent;
          document.getElementById("material_quantity").value = obj;
		  }
      );      
      //付属品等
      $.get("<%= quotation_detail_middle_classificationz_accessory_cost_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("accessory_cost").textContent;
          document.getElementById("accessory_cost").value = obj;
		  }
      );      
      //材料費等
      $.get("<%= quotation_detail_middle_classificationz_material_cost_total_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("material_cost_total").textContent;
          document.getElementById("material_cost_total").value = obj;
		  }
      );      
      //労務費等
      $.get("<%= quotation_detail_middle_classificationz_labor_cost_total_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("labor_cost_total").textContent;
          document.getElementById("labor_cost_total").value = obj;
		  }
      );      
　　　//その他計
      $.get("<%= quotation_detail_middle_classificationz_other_cost_select_path %>",
       {id: quotation_middle_item_id },
        function(data){
          obj = document.getElementById("other_cost").textContent;
          document.getElementById("other_cost").value = obj;
		  }
      );      　
   };  

  //(ajax)項目・単価のセット(材料Mより取得)
  function setItemNameAndPrice()
  {  
    obj = document.getElementById("material_id");
     material_id = parseInt(obj.value);
     $.get("<%= quotation_detail_middle_classificationz_m_quotation_material_name_select_path %>",
       {id: material_id },
        function(data){
          obj = document.getElementById("quotation_material_name").textContent;
          document.getElementById("quotation_material_name").value = obj;
		  }
      );
     //単価
      $.get("<%= quotation_detail_middle_classificationz_m_material_unit_price_select_path %>",
       {id: material_id },
        function(data){
          obj = document.getElementById("material_unit_price").textContent;
          document.getElementById("material_unit_price").value = obj;
      	  }
      );
    
      if (document.getElementById("material_quantity").value > 0){
       calcAccessory();
      }   
   };  
   //単位名のセット
  function setQuotationUnitName()
  {  
    obj = document.getElementById("quotation_unit_id");
     quotation_unit_id = parseInt(obj.value);
     $.get("<%= quotation_detail_large_classificationz_quotation_unit_name_select_path %>",
       {id: quotation_unit_id },
        function(data){
		  //debugger;
          obj = document.getElementById("quotation_unit_name").textContent;
          document.getElementById("quotation_unit_name").value = obj;
		  }
      );
   };  
  //金額計算(付属品等)
  function calcAccessory()
  {

    var obj1 = document.getElementById("material_unit_price");
    var obj2 = document.getElementById("material_quantity");    

    //付属品の計算 
    var num = (obj1.value * obj2.value) * 0.3 ;
    //小数点以下を四捨五入
    var acs = document.getElementById("accessory_cost").value; 
    acs = Math.round(num);
  
    //材料費計の計算
    var num = (obj1.value * obj2.value) + parseInt(acs); 
    
    document.getElementById("material_cost_total").value = num;
   
    if (document.getElementById("labor_cost_total").value > 0){
       calcOtherCost();
    }   
  }
  
  //金額計算(労務費用計)
  function calcLaborCost()
  {
    var obj1 = document.getElementById("labor_unit_price");
    var obj2 = document.getElementById("labor_productivity_unit");  

    var num = obj1.value * obj2.value;
    //小数点以下を四捨五入
    var obj = document.getElementById("labor_cost_total");
    obj.value = Math.round(num);
    
    if (document.getElementById("material_cost_total").value > 0){
       calcOtherCost();
    }  
  }
  
  //金額計算(その他計)
  function calcOtherCost()
  {
    var obj1 = document.getElementById("material_cost_total");
    var obj2 = document.getElementById("labor_cost_total");   

    var num = (parseInt(obj1.value) + parseInt(obj2.value)) * 0.12 ;
    //小数点以下を四捨五入
    var obj = document.getElementById("other_cost");
    obj.value = Math.round(num);
    if (obj.value > 0){
       calcUnitPrice();
    }  
  } 
  //金額計算(実行単価)
  function calcUnitPrice()
  {
    var obj1 = document.getElementById("material_cost_total");
    var obj2 = document.getElementById("labor_cost_total");   
    var obj3 = document.getElementById("other_cost"); 

    var num = parseInt(obj1.value) + parseInt(obj2.value) + parseInt(obj3.value) ;
    //document.getElementById("quotation_unit_price").value = num;
    document.getElementById("execution_unit_price").value = num;
  } 
  

  //見積・実行金額計算
  function calcTotalPrice()
  {
    var obj1 = document.getElementById("quantity"); 
    var obj2 = document.getElementById("execution_quantity");  
    
    //見積金額計算
    var obj3 = document.getElementById("quotation_unit_price");      
    if (obj3.value > 0){ 
      var num = parseInt(obj1.value) * parseInt(obj3.value);
      document.getElementById("quote_price").value = num;
    };
    //実行金額計算(仮)
    var obj3 = document.getElementById("execution_unit_price");
   
    if (obj3.value > 0){ 
      //var num = parseInt(obj1.value) * parseInt(obj3.value);
      if (obj2.value > 0){
        var num = parseInt(obj2.value) * parseInt(obj3.value);
        document.getElementById("execution_price").value = num;
      } 
    }
  } 
  
  //区分が仕様を選択した時　　
   function setWhenSpecification(f)
   {
          obj = document.getElementById("quotation_items_division_id");
          index = obj.selectedIndex;
          if (index == 1){
             //数量を０にセット
             obj2 = document.getElementById("quantity");
             obj2.value = 0;

             //単位をデフォ(１)にセット
             $(".searchableQuotationUnit").select2("val","1");
          }
   }
   //品名→短縮名へコピー
   function set_quotation_middle_item_short_name()
   {
     obj = document.getElementById("quotation_middle_item_name");
	 document.getElementById("quotation_middle_item_short_name").value = obj.value;
   }
   
  //実行→見積数量の自動変更
  function changeQuantity()
  {  
     //debugger;
     if (document.getElementById("execution_quantity").value > 0) {
  　　document.getElementById("quantity").value = document.getElementById("execution_quantity").value;
     }
  }
  //実行数量変更時のバージョン(ファンクション複数)
  function calcMoneyforQuantity(){
     changeQuantity();
	 calcTotalPrice();
  }  

 
  //ENTER→TABキーに変換する処理。
  //modalの場合は、共通化ができない（なぜか）
  $('[tabindex]').keydown(function (e) {
    if (e.keyCode == 13 || e.keyCode == 9) {
        var tabindex = parseInt($(this).attr('tabindex'));
        $('[tabindex='+(tabindex+1)+']').focus();
    
	    return false;
	}
    
  });

</script>
