<%- model_class = PurchaseOrderDatum -%>
<div class="page-header">
  <b>
  </br>
  <h1><%= "注文データ" %></h1>
  <!-- 追加箇所開始 -->
  <%= page_entries_info @purchase_order_data %>
  <!-- 追加箇所終了 -->
   <%= search_form_for @q do |f| %>
      <%= f.label :purchase_order_code, '注文コード：' %>
      <%= f.select :id_eq, options_from_collection_for_select(PurchaseOrderDatum.all, "id", "purchase_order_code") , {include_blank: true}, {style: 'width:220px' , class: "searchablePurchaseOrderCode" } %>
  	  <div>
    	  <%= f.submit '検索する' %>
  	  </div>
   <% end %>
</div>
<!--<%= link_to t('.new', :default => t("helpers.links.new")),
            new_purchase_order_data2_path,
            :class => 'btn btn-primary' %>-->

<div class="span11 table-scrollable">
 
 <style>
   table { }
   table th, table td { white-space:nowrap; overflow:hidden; }
  </style>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:purchase_order_code) %></th>
      <th><%= model_class.human_attribute_name(:construction_name) %></th>
	  <th><%= model_class.human_attribute_name(:supplier_name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_order_data.order("id desc").each do |purchase_order_datum| %>
      <tr>
        <td><%= link_to purchase_order_datum.id, purchase_order_datum_path(purchase_order_datum) %></td>
        <td><%= purchase_order_datum.purchase_order_code %></td>
		<% if purchase_order_datum.construction_datum.nil? %>
           <td>-</td>
        <% else %>
		  <td><%= purchase_order_datum.construction_datum.construction_name %></td>
        <% end %>
		<% if purchase_order_datum.supplier_master.nil? %>
           <td>-</td>
        <% else %>
		  <td><%= purchase_order_datum.supplier_master.supplier_name %></td>
        <% end %>
		
		<td><%=l purchase_order_datum.created_at.in_time_zone('Tokyo') %></td>
        <td>
          <%= link_to t('.edit', :default => t("作成")),
                      edit_purchase_order_data2_path(purchase_order_datum), :class => 'btn btn-info btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      purchase_order_data2_path(purchase_order_datum),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
    <!-- 追加箇所開始 -->
    <%= paginate @purchase_order_data %>
    <!-- 追加箇所終了 -->
  </tbody>
</table>
</div>

<script type="text/javascript">
  
  //検索可能なリストボックス
  $(document).ready(function(){

        $(".searchablePurchaseOrderCode").select2({ theme: "classic" });
	
  });
  
  

</script>
