<%- model_class = BusinessHoliday -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <!-- 追加箇所開始 -->
  <%= page_entries_info @business_holidays %>
  <!-- 追加箇所終了 -->
</div>
  
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_business_holiday_path,
            :class => 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <!--<th><%= model_class.human_attribute_name(:working_date) %></th>-->
	  <th><%= sort_link(@q, :working_date, model_class.human_attribute_name(:working_date), default_order: :desc ) %></th>
	  <th><%= model_class.human_attribute_name(:holiday_flag) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @business_holidays.order("working_date desc").each do |business_holiday| %>
      <tr>
        <td><%= link_to business_holiday.id, business_holiday_path(business_holiday) %></td>
        <td><%= business_holiday.working_date %></td>
        <td><%= business_holiday.holiday_flag %></td>
        <td><%=l business_holiday.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_business_holiday_path(business_holiday), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      business_holiday_path(business_holiday),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
	<!-- 追加箇所開始 -->
    <%= page_entries_info @business_holidays %>
    <!-- 追加箇所終了 -->
  
  </tbody>
</table>


