<%- model_class = Task -%>
<div class="page-header" , style="width:1920px" >
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  
  
  <%= search_form_for @q do |f| %>
  
  <%= f.label :construction_code, '工事名　' %>
  <%= f.select :construction_datum_id_eq, ConstructionDatum.all.map{|st| [st.p_cd_name, st.id]}, {include_blank: true}, 
       {style: 'width:400px' , class: "searchableSelect2_1" } %>
  </br>
  
  <%= f.label :working_date, '予定日' %>
  <%= f.date_select :start_date_gteq, {include_blank: true} ,  {id: "start_date"}   %>
  <%= f.label :working_date, '〜' %>
  <%= f.date_select :end_date_lteq, {include_blank: true} ,  {id: "end_date"}   %>
  
  &nbsp;&nbsp;&nbsp;&nbsp;
  <!-- 実施日 表示保留中-->
  <!--<%= f.label :working_date, '実施日' %>
  <%= f.date_select :work_start_date_gteq, {include_blank: true} ,  {id: "work_start_date"}   %>
  <%= f.label :working_date, '〜' %>
  <%= f.date_select :work_end_date_lteq, {include_blank: true} ,  {id: "work_end_date"}   %>-->
  
  &nbsp;&nbsp;
  <%= button_tag "クリア", type: 'button', :class => 'btn btn-indigo100_rsd btn-xs', onclick: "clearDate()" %>
  </br>
  
  <!--コントローラ側に画面遷移用のパラメータを渡すためのタグ。-->
  <!--<%= hidden_field_tag(:construction_id, params[:construction_id]) %>
  <%= hidden_field_tag(:move_flag, params[:move_flag]) %>
  <%= hidden_field_tag(:start_date, params[:start_date]) %>
  <%= hidden_field_tag(:end_date, params[:end_date]) %>-->
  <!-- -->
  
    <div>
        <%= f.submit '検索(集計)', :class => 'btn btn-teal50_rsd' %>
		<!--工程表作成機能-->
		<%= link_to "工程表発行",
		    tasks_schedule_path(@tasks, construction_id: params[:construction_id], move_flag: params[:move_flag],
			               start_date: params[:start_date], 
                           end_date: params[:end_date], 
                           ), 
            :class => 'btn  btn-lime500_rsd' %>
        <%= link_to t('.back', :default => t("工事一覧へ")), construction_data_path, :class => 'btn btn-warning'  %>
    </div>
   <% end %>
  
  
</div>

<!--<%= link_to t('.new', :default => t("helpers.links.new")),
            new_task_path,
            :class => 'btn btn-primary' %>-->
			
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_task_path(:new_flag => "0", construction_id: params[:construction_id], move_flag: params[:move_flag] ),
            :class => 'btn btn-primary' %>
			
</br></br>

<!--見出し固定用設定追加-->
<div style="margin-top : -20px;", class="span11 table-scrollable" >
 
 <style>
   table { }
   table th, table td { white-space:nowrap; overflow:hidden; }
  </style>

<!--<table class="table table-striped">-->
<!--見出し固定用設定追加-->
<table id="tablefix", class="table  table-striped">

  <thead>
    <tr>
      <th>srt</th>
      <th>工事名</th>
      <th><%= model_class.human_attribute_name(:text) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:end_date) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
      
      <th><%= model_class.human_attribute_name(:progress) %></th>
	  <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.order("sortorder asc, id asc").each do |task| %>
      <tr>
	  
	    <td><%= task.sortorder %></td>
		<!--<td><%= link_to task.id, task_path(task) %></td>-->
        <!--<td><%= task.construction_datum_id %></td>-->
		
		<% if task.construction_datum.present? %>
          <td><%= task.construction_datum.construction_name %></td>
		<% else %>
		  <td></td>
		<% end %>
		
        <td><%= task.text %></td>
        <td><%= task.start_date.strftime("%Y/%m/%d") %></td>
        <td><%= task.end_date.strftime("%Y/%m/%d") %></td>
		
		<td align="right" ><%= task.duration %></td>
		
        <%if task.progress.present? %>
          <% @percent = task.progress * 100 %>
        <% else %>
          <% @percent = 0 %>
        <% end %>

        <td align="right"><%= number_to_percentage(@percent, :precision => 0) %></td>
		
		<td><%= link_to task.id, task_path(task, construction_id: params[:construction_id], 
                               move_flag: params[:move_flag]) %></td>
        <td><%=l task.created_at %></td>
        <td>
          <!--<%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_task_path(task), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      task_path(task),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>-->
		
		
		  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_task_path(task, construction_id: params[:construction_id], 
                               move_flag: params[:move_flag]), :class => 'btn btn-white_rsd btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      task_path(task, construction_id: params[:construction_id], move_flag: params[:move_flag]),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script type="text/javascript">
  
  //var massageList = "指定無し";
  
  //検索可能なリストボックス
  $(document).ready(function(){
	$(".searchableSelect2_1").select2({ theme: "classic" , allowClear: true , placeholder: MESSAGE_LIST });
  });
  
  //検索項目をリセットする
  function clearDate(){
  
    //プルダウンをリセット
    //$(".searchableSelect2_1").val(null).trigger("change");
	
    //予定日from
	document.getElementsByName("q[start_date_gteq(1i)]")[0].value = "";
	document.getElementsByName("q[start_date_gteq(2i)]")[0].value = "";
	document.getElementsByName("q[start_date_gteq(3i)]")[0].value = "";
	//予定日to
	document.getElementsByName("q[end_date_lteq(1i)]")[0].value = "";
	document.getElementsByName("q[end_date_lteq(2i)]")[0].value = "";
	document.getElementsByName("q[end_date_lteq(3i)]")[0].value = "";
  
  }
  //登録時、マスター登録するか否かのメッセージを出す
 function submitAfterValidation() {
   //うまくいかない..
 // const ids = ['start_date', 'end_date'];
 // const elements = document.querySelectorAll(ids.map(id => `#${id}`).join(', '));

 // return elements;
 }
</script>
