<!-- upd200421 並びをseqから作成日時順に変更。 -->
<% @working_middle_items.order("created_at desc").each do |working_middle_item| %>
     <tr id="<%= working_middle_item.id%>">
	  
	    <!--<td><%= link_to working_middle_item.id, working_middle_item_path(working_middle_item) %></td>-->
		<!--ここはIDではなくソート用のseqをセット(その代わり、閲覧不可。)-->
		<td style="font-size : 10px;"><%= working_middle_item.seq %></td>
	    
		<% if working_middle_item.working_middle_item_category_id.present? && working_middle_item.working_category.present? %>
          	  <td><%= working_middle_item.working_category.category_name %></td>
        <% else %>
          <td></td>
        <% end %>
        
        <!--サブカテゴリー add180202 -->
        <% if working_middle_item.working_subcategory_id.present? && working_middle_item.working_subcategory.present? %>
          	  <td><%= working_middle_item.working_subcategory.name %></td>
        <% else %>
          <td></td>
        <% end %>
		
		<td><%= working_middle_item.working_middle_item_short_name %></td>
		<td><%= working_middle_item.working_middle_item_name %></td>
        <td><%= working_middle_item.working_middle_specification %></td>
        <% if working_middle_item.WorkingUnit.present? %>
           <td><%= working_middle_item.WorkingUnit.working_unit_name %></td>
        <% else %>
           <td>-</td>
        <% end %>
		<td><%= working_middle_item.working_unit_price %></td>
        <td><%= working_middle_item.execution_unit_price %></td>
        <!--<td><%= working_middle_item.material_id %></td>-->
        <!--<td><%= working_middle_item.material_unit_price %></td>-->
        <!--<td><%= working_middle_item.labor_unit_price %></td>-->
        <td><%= working_middle_item.labor_productivity_unit %></td>
		<!--del170406-->
        <!--<td><%= working_middle_item.labor_productivity_unit_total %></td>-->
        <!--<td><%= working_middle_item.material_quantity %></td>-->
        <!--<td><%= working_middle_item.accessory_cost %></td>-->
        <!--<td><%= working_middle_item.material_cost_total %></td>-->
        <!--<td><%= working_middle_item.labor_cost_total %></td>-->
        <!--<td><%= working_middle_item.other_cost %></td>-->
		<td><%= link_to working_middle_item.id, working_middle_item_path(working_middle_item) %></td>
		<td><%=l working_middle_item.created_at %></td>
        
		
		<td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_working_middle_item_path(working_middle_item, move_flag: ""), remote: true, :class => 'btn btn-default btn-xs' %>
          
          
          <%= link_to "コピー", 
                      copy_working_middle_item_path(working_middle_item),
                      :data => { :confirm => 'データをコピーしますか?'  },
                      :class => 'btn btn-cyan100_rsd btn-xs' %>
          
          
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      working_middle_item_path(working_middle_item),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
       
	   
	   </td>
	  
	  
      </tr>
<% end %>
	 
	