<script src="/assets/jquery.tablefix.js?body=1" type="text/javascript"></script>
<%- model_class = WorkingMiddleItem -%>
<% provide(:title, "作業明細マスター") %>

<div class="page-header", style="width:1920px">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  
  <!-- 追加箇所開始 -->
  <%= page_entries_info @working_middle_items %>
  <!-- 追加箇所終了 -->
  
  <%= search_form_for @q do |f| %>
    <%= f.label :working_middle_item_name, '品名：' %>
    <%= f.select :id_eq, WorkingMiddleItem.all.map{|st| [st.working_middle_item_name, st.id]},
         {include_blank: true}, {id:"working_middle_item_id_select_hide",style: 'width:220px' , class: "searchableLargeItem" } %>
    <!--モバイル用対応  add180830-->
    <% if browser.platform.ios? || browser.platform.android? %>
      <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearItem()" %>
    <% end %>
	
	<!-- nameだとajaxでうまくいかないので、保留-->
	<%= f.label :working_middle_item_short_name, '記号：' %>
    <!--<%= f.select :working_middle_item_short_name_cont, options_from_collection_for_select(WorkingMiddleItem.all, "working_middle_item_short_name", "working_middle_item_short_name") , {include_blank: true}, {id:"working_middle_item_short_name_select_hide",style: 'width:220px' , 
	    class: "searchableCategory", :onchange => "setItemSyncronize(2)"  } %>
    -->
	<%= f.select :with_id, WorkingMiddleItem.all.map{|st| [st.working_middle_item_short_name, st.id]}, {include_blank: true}, 
	            {id:"working_middle_item_short_name_select_hide", style: 'width:220px' , class: "searchableSymbol", :onchange => "setItemSyncronize(2)"  } %>
	<!--モバイル用対応  add180830-->
    <% if browser.platform.ios? || browser.platform.android? %>
      <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearShortName()" %>
    <% end %>
    </br>
    
    <%= f.label :working_middle_item_name, 'カテゴリー：' %>
	<%= f.select :working_category_id_eq, WorkingCategory.order('seq').all.map{|st| [st.category_name, st.id]}, {include_blank: true}, {id:'working_middle_item_category_for_call', style: 'width:220px' , class: "searchableCategory", 
      :onchange => "setItemExtractByCategory()" } %>
    <!--モバイル用対応  add180830-->
    <% if browser.platform.ios? || browser.platform.android? %>
      <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearCategory()" %>
    <% end %>
    
    <%= f.label :working_subcategory_id, 'サブカテゴリー：' %>
	<%= f.select :working_subcategory_id_eq, WorkingSubcategory.where(:working_category_id => f.object.working_category_id_eq).order('seq').map{|st| [st.name, st.id]}, {include_blank: true}, {id:'working_subcategory_select_hide', 
               style: 'width:220px' , class: "searchableSubcategory"} %>
    <!--モバイル用対応  add180830-->
    <% if browser.platform.ios? || browser.platform.android? %>
      <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearSubCategory()" %>
    <% end %>
    
    <!--スペース空ける-->
    &nbsp;&nbsp;
    <%= button_tag "クリア", type: 'button', :class => 'btn btn-yellow300_ftg btn-xs', onclick: "clearList()" %>
	
       <div>
    	<%= f.submit '検索する' , :class => 'btn btn-lightblue50_rsd' %>
	  </div>

  <% end %>
  
 
</div>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_working_middle_item_path(move_flag: "", new_flag: "1"), remote: true,
            :class => 'btn btn-primary' %>
<%= link_to "順番一括並び替え",
            working_middle_items_path(all_sort: "true" ),
            :class => 'btn btn-warning' , :data => {:confirm => 'データの一括並び替えを行いますか？'} %>
<!--モバイル対応 add180829-->
<!--スペース-->
<% if browser.platform.ios? || browser.platform.android? %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <font color="#8F00FE">
    <label><%= radio_button(:drag, :on, "1", onClick: "dragg_on()") %>(モバイル用)ソートOn</label>
      &nbsp;&nbsp;&nbsp;&nbsp;
    <label><%= radio_button(:drag, :off, "1", onClick: "dragg_off()") %>Off</label>
  </font>
<% end %>
<!-- -->


<div id="working_middle_item-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div class="span11 table-scrollable ">
  <style>
   table { }
   table th, table td { white-space:nowrap; overflow:hidden; }
  </style>			
<table id="tablefix", class="table table-striped", style="font-size : 12px;width:1880px;">
<!--<table class="table table-striped", style="font-size : 12px;width:1880px;">-->			
  <thead>
    <tr>
      <th><%= sort_link(@q, :seq, 'seq') %></th>
	  <th><%= model_class.human_attribute_name(:working_middle_item_category_id) %></th>
      <th><%= model_class.human_attribute_name(:working_subcategory_id) %></th>
	  <th><%= model_class.human_attribute_name(:working_middle_item_short_name) %></th>
	  <th><%= model_class.human_attribute_name(:working_middle_item_name) %></th>
      <th><%= model_class.human_attribute_name(:working_middle_specification) %></th>
      <th><%= model_class.human_attribute_name(:working_unit_id) %></th>
      <th><%= model_class.human_attribute_name(:working_unit_price) %></th>
      <th><%= model_class.human_attribute_name(:execution_unit_price) %></th>
      <!--<th><%= model_class.human_attribute_name(:material_unit_price) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:labor_unit_price) %></th>-->
      <th><%= model_class.human_attribute_name(:labor_productivity_unit) %></th>
	  <!--del170406-->
      <!--<th><%= model_class.human_attribute_name(:labor_productivity_unit_total) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:material_quantity) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:accessory_cost) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:material_cost_total) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:labor_cost_total) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:other_cost) %></th>-->
	  <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody class="working_middle_item-index">
    <%= render "index" %>
  </tbody>
</table>
</div>


			
<!-- 追加箇所開始 -->
<%= paginate @working_middle_items %>
<!-- 追加箇所終了 -->
			
<script type="text/javascript">
  
  
  
  //検索可能なリストボックス
  $(document).ready(function(){
   
   
	$(".searchableLargeItem").select2({ theme: "classic", allowClear: true , placeholder: MESSAGE_LIST });
	//記号
    $(".searchableSymbol").select2({ theme: "classic", allowClear: true , placeholder: MESSAGE_LIST });
    
    //カテゴリー
	$(".searchableCategory").select2({ theme: "classic", allowClear: true , placeholder: MESSAGE_LIST });
    
    //サブカテゴリー
	$(".searchableSubcategory").select2({ theme: "classic", allowClear: true , placeholder: MESSAGE_LIST });
	
	//見出し固定用設定追加
		var sz = window.parent.screen.width;
		var fc = 1;    //デフォルトの固定列数(社長PC基準)
		var ht = 618;  //デフォルトの高さ(社長PC基準)
		
		if (sz != 1920) {
		//画面サイズ1920px(社長PC基準)以外は、列固定させる。
          fc = 2;  //固定列数
		  ht -= 80;
          
          sz = 1920; //for ipad pro (add180829)
		}
		//$('#tablefix').tablefix({width: sz, height: ht, fixRows: 1, fixCols: fc});
		//ソートした場合に見栄えがおかしくなるので、列固定はしない。
		$('#tablefix').tablefix({width: sz, height: ht, fixRows: 1});
    //
	
    //モバイル対応 add180829
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      // モバイルはソートさせない。
    } else {
      //モバイル以外ならデフォルトでソート有効にする
      sortableEnable();
    }
   
	
  });
  
  function setItemSyncronize(ItemFlag){
  
  //２つのリストのインデックスを同期させたいが、うまくいかない・・・・171118(保留で)
  
    document.getElementById("working_middle_item_id_select_hide").value  = 
		   document.getElementById("working_middle_item_short_name_select_hide").value;
    document.getElementById("working_middle_item_id_select_hide").selectedIndex  = 
		   document.getElementById("working_middle_item_short_name_select_hide").selectedIndex;
    //debugger;
  }
  
  //カテゴリー別にアイテムを抽出する処理
  function setItemExtractByCategory(){
   //var category_id = document.activeElement.value;
   var category_id = document.getElementById("working_middle_item_category_for_call").value;
  // debugger;
   
   //if (category_id != "0"){
	 $.get("<%= working_middle_itemz_item_extract_path %>",
        {working_middle_item_category_id: category_id},
         function(data){
		   
		   //リストを未選択状態にする
		   document.getElementById("working_middle_item_id_select_hide").value = "";
		   //短縮名も同様
		   document.getElementById("working_middle_item_short_name_select_hide").value = "";
		   
		   
		   //アイテムのリストを再配置
           //document.getElementById("working_middle_item_for_call").innerHTML = document.getElementById("working_middle_item_id_select_hide").innerHTML;
		   //短縮名のリストを再配置
		   //document.getElementById("working_large_item_short_name_for_call").innerHTML = document.getElementById("working_middle_item_short_name_select_hide").innerHTML;
		   
           //カテゴリー別のサブカテゴリーを抽出する
           setSubacategoryExtractByParent(category_id);
     });
   //}
  }
  
  //カテゴリー別のサブカテゴリーを抽出する
  //add180202
  function setSubacategoryExtractByParent(category_id){
    //var category_id = document.activeElement.value;
      $.get("<%= working_subcategoriez_subcategory_extract_path %>",
        {working_category_id: category_id},
         function(data){
         
           //リストを未選択状態にする
		   document.getElementById("working_subcategory_select_hide").value = "";
           $('#working_subcategory_select_hide').trigger('change');
        });
  }
  
  //リストをリセットする
  function clearList(){
    
     //品名
     document.getElementById("working_middle_item_id_select_hide").value = "";
	 $('#working_middle_item_id_select_hide').trigger('change');
	 
	 //短縮名
     document.getElementById("working_middle_item_short_name_select_hide").value = "";
     $('#working_middle_item_short_name_select_hide').trigger('change');
	 
	 //カテゴリー
     document.getElementById("working_middle_item_category_for_call").value = "";
     $('#working_middle_item_category_for_call').trigger('change');
     
     //サブカテゴリー
     document.getElementById("working_subcategory_select_hide").value = "";
     $('#working_subcategory_select_hide').trigger('change');
  }
  
  
  //モバイル対応 add180829
  //////
  //ドラッグソートOn
  function sortableEnable() {
    $( "#tablefix tbody" ).sortable({
	//$( ".sortable" ).sortable({
        cursor: 'move',
	   start: function(event, ui) {ui.item.css("background-color", "orange");},
	   stop: function(event, ui) {
	     ui.item.css("background-color", "white");
		 
         //working_middle_item_category_for_call
		 //カテゴリーをseqに含める。(下4桁はゼロ）
		 var category = document.getElementById("working_middle_item_category_for_call").value;
		 //add180202
         var subCategory = document.getElementById("working_subcategory_select_hide").value;
         
         if (category == ""){ 
		    //category = 99000
			category = 0;
		 }else{
		    //category = parseInt(category) * 1000;
            //upd180202
            category = parseInt(category) * 1000000;
            
            //add180202 サブカテゴリー追加
            if (subCategory == ""){
              subCategory = 0;
            }else{
              subCategory = parseInt(subCategory) * 1000;
            }
            category += subCategory;
		 }
		 //
		 
		 var row = $(this).sortable('toArray').toString();
         $.post("<%= working_middle_itemz_reorder_path %>",
           { row: row, category: category },
           function(data){
           }
         );
		 //下記ではうまくいかなかった。
		 //jQuery.post('<%=working_middle_items_path%>', $(this).sortable( 'serialize'), null, 'text'); 
	   },
	       
    });
    $( "#tablefix tbody" ).sortable( "option", "disabled", false );
    $( ".sortable" ).disableSelection();
    
    return false;
  }
  
  //ドラッグソートOff
  function sortableDisable() {
    $( "#tablefix tbody" ).sortable("disable");
    return false;
  }
  
  //ラジオボタンによるソート(On)
  function dragg_on(){
    document.getElementById("drag_off_1").checked = false;
    sortableEnable();
  }
  //ラジオボタンによるソート(Off)
  function dragg_off(){
    document.getElementById("drag_on_1").checked = false;
    sortableDisable();
  }
  
  //モバイル用対応 add180830
  //select2をクリアする
  function clearItem(){
    $(".searchableLargeItem").val(null).trigger("change"); 
  }
  function clearShortName(){
    $(".searchableCategory").val(null).trigger("change"); 
  }
  function clearCategory(){
    $(".searchableCategory").val(null).trigger("change"); 
  }
  function clearSubCategory(){
    $(".searchableSubcategory").val(null).trigger("change"); 
  }
  //
  
</script>
