<%= simple_form_for @material_master, label_errors: true, inline_errors: true, :html => { :class => 'well form-horizontal' ,:id => 'material_master'},  :validate => true do |f| %>
  <!--<%= f.error_notification errors:true %>-->
  
  <% if @material_master.errors.any? %>
  <div id="error_explanation">
    <h2><%= @material_master.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @material_master.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
 <% end %>


  <!--<% if @material_master.errors.any? %>
  <div class="field_with_errors">
  <h2><%= pluralize(@material_master.errors.count, "error") %></h2>
    <ul>
      <% @material_master.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end -%>
    </ul>
  </div>
  <% end -%>-->
  
  <div class="col-lg-6" , style="margin-left : -15px">
  <%= f.input :material_code, input_html:{ :tabindex=>"0" } %>
  </div>
  <div class="col-lg-6" , style="margin-left : 15px">
  <%= f.input :internal_code, input_html:{ style: 'width:344px', :tabindex=>"1" } %>
  </div>
  
  <%= f.input :material_name, input_html:{ :tabindex=>"2" } %>
  <%= f.label :メーカー, {:class => "my-custom-class-l", :id => 'MakerMaster'} %></br>
  <%= f.collection_select :maker_id,  MakerMaster.all, :id, :maker_name, {:prompt => "どれか一つを選択して下さい",:validate => true} ,
      {:id => 'maker_id', class: "searchableSelect2_1",  style: 'width:220px'} %></br>
  
  </br>
  <!--upd180316 標準単位としてリストア-->
  <%= f.label :標準単位, {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :unit_id,  UnitMaster.all, :id, :unit_name, {:prompt => "どれか一つを選択して下さい",:validate => true} , 
       { :id => 'unit_id', class: "searchableSelect2_2",  style: 'width:220px' } %>
  <!---->
  
  <%= f.input :list_price, input_html:{ :tabindex=>"5" } %>
  
  <div class="col-xs-5 " , style="margin-left : -15px;">
  <%= f.label :カテゴリー, {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :material_category_id,  MaterialCategory.all, :id, :name, {:include_blank => true} ,
      {:id => 'material_category_id', class: "searchableSelect2_3",  style: 'width:220px'} %>
  </div>
  
  <%= f.label_tag :inventory_category_id, '在庫品目(*在庫管理する場合のみ登録して下さい。)' , { style: 'margin-left:-15px' }%></br>
  <%= f.collection_select :inventory_category_id, InventoryCategory.all, :id, :name, {:include_blank => true}, 
      {id:'inventory_category_id', :class => "searchableSelect2_4", 
       style: 'width:220px;margin-left:-15px;font-size:16px;background-color:#ffffff;' } %>
  
  </br></br>
  
   <!--add180509-->
   <%= f.input :notes, input_html:{ :tabindex=>"8" } %>

   
   <%= f.input :standard_quantity, input_html:{ :tabindex=>"9" } %>
   <%= f.input :standard_labor_productivity_unit, input_html:{ :tabindex=>"10" } %>
	
  <%= f.input :last_unit_price, hint: "*仕入データ登録後に自動反映されるので（原則的に）入力不要です。", input_html:{ :tabindex=>"11"} %>
  <%= f.input :last_unit_price_update_at, default: Date.strptime("2000/01/01", "%Y/%m/%d"), 
     hint: "*仕入データ登録後に自動反映されるので入力不要です。", input_html:{ :readonly => true } %>

  <%= f.button :submit, :class => 'btn-primary', :tabindex=>"12" %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                material_masters_path, :class => 'btn btn-white_rsd' %>
    
<% end %>

<script type="text/javascript">

  $(document).ready(function(){
      //検索可能なリストボックス
       
	   //$(".searchableMaker").select2({ theme: "classic" });
	   //メーカー--select2のタブインデックスはここで指定しておく。
       $(".searchableSelect2_1").select2({ theme: "bootstrap" }).on("load", function(e) { 
        $(this).prop('tabindex',3)}).trigger('load');
       //単位
       $(".searchableSelect2_2").select2({ theme: "bootstrap" }).on("load", function(e) { 
        $(this).prop('tabindex',4)}).trigger('load');
       
       //カテゴリー
       $(".searchableSelect2_3").select2({ theme: "bootstrap" }).on("load", function(e) { 
        $(this).prop('tabindex',6)}).trigger('load');
       //在庫カテゴリー
       $(".searchableSelect2_4").select2({ theme: "bootstrap" }).on("load", function(e) { 
        $(this).prop('tabindex',7)}).trigger('load');

  });

</script>

