<script src="/assets/jquery.tablefix.js?body=1" type="text/javascript"></script>
<%- model_class = MaterialMaster -%>
<% provide(:title, model_class.model_name.human.pluralize.titleize) %>
<div class="page-header", style="width:1920px">
  <h1><font size="5"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></font></h1>
   <!-- kaminari用追加箇所開始 -->
   <%= page_entries_info @material_masters %>
   <!-- kaminari用追加箇所終了 -->
   
    <%= search_form_for @q do |f| %>
   
   <%= f.label :material_code, '品番：：' %>
   <!--<%= f.select :id_in, MaterialMaster.all.map{|st| [st.material_code, st.id]},
           {include_blank: true},  {style: 'width:900px' , class: "searchableMaterialCode" , multiple: true}  %>-->
   <%= f.select :id_in, options_from_collection_for_select(MaterialMaster.all, "id", :p_material_code, params[:q].try(:[], :id_in)) ,
       {include_blank: true}, {style: 'width:900px' , class: "searchableMaterialCode", multiple: true }  %>
   </br>
   
   <!--add201208-->
   <%= f.label :supplier_material_code, '客先品番：：' %>
   <!--本来なら複数でやりたいが上手くいかないので、保留-->
   <!--<%= f.select :with_supplier_material_code, options_from_collection_for_select(PurchaseUnitPrice.all, "id", :supplier_material_code, params[:q].try(:[], :with_supplier_material_code)) ,
       {include_blank: true}, {style: 'width:900px' , class: "searchableSupplierMaterialCode", multiple: true }  %>-->
   <%= f.select :with_supplier_material_code, options_from_collection_for_select(PurchaseUnitPrice.all, "id", :supplier_material_code, params[:q].try(:[], :with_supplier_material_code)) ,
       {include_blank: true}, {style: 'width:200px' , class: "searchableSupplierMaterialCode" }  %>
   </br>
   
   <div style="margin-left:-13px;">
   
   <%= f.label :material_code, '　品番(キーワード)：' %>
   <%= f.text_field :material_code_or_internal_code_cont, include_blank: true , id: 'material_code' %>
   <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearItemKeyWords()" %>
   
   <%= f.label :material_code, '品名：' %>
   <%= f.text_field :material_name_cont, include_blank: true, style: 'width:330px', id: 'material_name'  %>
   <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearItemName()" %>
  
   <%= f.label :maker_code, 'メーカー：：' %>
   <%= f.select :maker_id_eq, MakerMaster.all.map{|st| [st.maker_name, st.id]}, {include_blank: true}, 
         {style: 'width:220px' , class: "searchableMaker" } %>
   
   <!--<%= f.label :internal_code, '　社番(キーワード)：' %>
   <%= f.text_field :internal_code_cont, include_blank: true , id: 'internal_code' %>
   <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearInternalKeyWords()" %>-->
   
   </div>
   
   <%= f.label :material_category_id, '分類：：' %>
   <%= f.select :material_category_id_eq, MaterialCategory.all.map{|st| [st.name, st.id]}, {include_blank: true}, 
         {style: 'width:220px' , class: "searchableCategory" } %>
   
  	<div>
    	<%= f.submit '検索する', :class => 'btn btn-white_rsd' %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
            new_material_master_path,
            :class => 'btn btn-primary' %>
    </div>
   <% end %>

</div>

<!--<table class="table table-striped">-->
<!--見出し固定用設定追加-->
<div style="margin-top : -20px;", class="span11 table-scrollable" >
  <style>
   table { }
   table th, table td { white-space:nowrap; overflow:hidden; }
  </style>
<!--見出し固定用設定追加-->
<table id="tablefix", class="table  table-striped">

  <thead>
    <tr>
      <!--<th><%= model_class.human_attribute_name(:id) %></th>-->
      <th><%= sort_link(@q, :id, model_class.human_attribute_name(:id), default_order: :desc ) %></th>
	  <th><%= sort_link(@q, :material_code, model_class.human_attribute_name(:material_code) ) %></th>
      <th><%= sort_link(@q, :internal_code, model_class.human_attribute_name(:internal_code) ) %></th>
      <th><%= model_class.human_attribute_name(:material_name) %></th>
	  <th>メーカー名</th>
      <th><%= model_class.human_attribute_name(:list_price) %></th>
      <th>カテゴリ</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @material_masters.order("material_code").each do |material_master| %>
      <tr>
        <td><%= link_to material_master.id, material_master_path(material_master) %></td>
        <td><%= material_master.material_code %></td>
        <td><%= material_master.internal_code %></td>
        <td><%= material_master.material_name %></td>
        <% if material_master.MakerMaster.present? %>
          <td><%= material_master.MakerMaster.maker_name %></td>
        <% else %>
          <td>-</td>
        <% end %>
	<td><%= number_to_currency(material_master.list_price, precision: 0) %></td>
        
        <% if material_master.material_category.present? %>
          <td><%= material_master.material_category.name %></td>
        <% else %>
          <td>-</td>
        <% end %>
        
        <td><%=l material_master.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_material_master_path(material_master), :class => 'btn btn-white_rsd btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      material_master_path(material_master),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
   <% end %>
    <!-- kaminari用追加箇所開始 -->
    <%= paginate @material_masters %>
    <!-- kaminari用追加箇所終了 -->
  </tbody>
</table>


<script type="text/javascript">
  
  //検索可能なリストボックス
  $(document).ready(function(){
        $(".searchableMaterialCode").select2({ theme: "classic", allowClear: true , placeholder: MESSAGE_LIST });
        $(".searchableSupplierMaterialCode").select2({ theme: "classic", allowClear: true , placeholder: MESSAGE_LIST });
        $(".searchableCategory").select2({ theme: "classic", allowClear: true , placeholder: MESSAGE_LIST });
        $(".searchableMaker").select2({ theme: "classic", allowClear: true , placeholder: MESSAGE_LIST });
        
		//見出し固定用設定追加
	    var sz = window.parent.screen.width;
	    var fc = 1;    //デフォルトの固定列数(社長PC基準)
	    var ht = 610;  //デフォルトの高さ(社長PC基準)
	    if (sz != 1920) {
	    //画面サイズ1920px(社長PC基準)以外は、列固定させる。
          fc = 1;  //固定列数
	      ht -= 100;
          sz = 1920; //for ipad pro (add180829)
          
        }
	    $('#tablefix').tablefix({width: sz, height: ht, fixRows: 1, fixCols: fc});
	    //
        //$('#tablefix').tablefix({width: 1920, height: 610, fixRows: 1, fixCols: 1});
  });
  
  //品番キーワード検索ボックスを空にする
  function clearItemKeyWords(){
    document.getElementById("material_code").value = "";
  }
  //社番キーワード検索ボックスを空にする
  function clearInternalKeyWords(){
    document.getElementById("internal_code").value = "";
  }
  //品名検索ボックスを空にする
  function clearItemName(){
    document.getElementById("material_name").value = "";
  }
  
  
</script>
