<p id="notice"><%= notice %></p>

<h1>Listing Working Specific Small Items</h1>

<table>
  <thead>
    <tr>
      <th>Working middle specific item</th>
      <th>Working small item</th>
      <th>Working small item code</th>
      <th>Working small item name</th>
      <th>Unit price</th>
      <th>Quantity</th>
      <th>Labor productivity unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @working_specific_small_items.each do |working_specific_small_item| %>
      <tr>
        <td><%= working_specific_small_item.working_middle_specific_item_id %></td>
        <td><%= working_specific_small_item.working_small_item_id %></td>
        <td><%= working_specific_small_item.working_small_item_code %></td>
        <td><%= working_specific_small_item.working_small_item_name %></td>
        <td><%= working_specific_small_item.unit_price %></td>
        <td><%= working_specific_small_item.quantity %></td>
        <td><%= working_specific_small_item.labor_productivity_unit %></td>
        <td><%= link_to 'Show', working_specific_small_item %></td>
        <td><%= link_to 'Edit', edit_working_specific_small_item_path(working_specific_small_item) %></td>
        <td><%= link_to 'Destroy', working_specific_small_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Working specific small item', new_working_specific_small_item_path %>
