<div class="sortThese">
<div class="nested-fields well form-inline">
  <%= f.label :品番選択, {style: 'width:770px'}  %>
  <!--<%= f.label :数量, {style: 'width:100px'}  %>-->
  <%= f.label :単位, {style: 'width:50px'}  %>
  </br>
  <!--<%= f.collection_select :material_id, MaterialMaster.all, :id, :p_material_code_name, {:selected => f.object.material_id || 1} , 
       {id:"material_id", name:"material_id[]",  class: "searchableMaterial" , style: 'width:650px'  } %>-->
  <%= f.collection_select :material_id, MaterialMaster.all, :id, :p_material_code_name, {:selected => f.object.material_id || 1} , 
  {class: "searchableMaterial form-control" , id: "material_id" , name:"material_id[]",  style: 'width:650px' } %>
  
  <%= f.label :数量, {style: 'width:28px'}  %>
  <%= f.text_field :quantity, size:10, name:"quantity[]", :tabindex=>"2"  %>
  <td>&nbsp;&nbsp;</td>
  <%= f.collection_select :unit_master_id, UnitMaster.all, :id, :unit_name, {:selected => f.object.unit_master_id || 3} , {class: "searchableUnit" , style: 'width:50px' } %>
  <!--以下スペースあり-->
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to_remove_association 'アイテム削除', f , :class => 'btn btn-xs btn-danger'%>
  <!--以下スペースあり-->
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= fa_icon('sort-alpha-asc 3x') %>
  </br>
  <%= f.input :material_code,  input_html:{ id: "material_code", name: "material_code[]", style: 'width:150px', :tabindex=>"0", :onkeydown => "setMaterialCode($(this).val())" } %>
  <%= f.input :material_name,  input_html:{ id: "material_name", name: "material_name[]", style: 'width:400px',  :class => "material_name", :tabindex=>"1" } %>
  <%= f.input :maker_name,  input_html:{ id: "maker_name", name: "maker_name[]", style: 'width:150px' , :tabindex=>"3" } %>
  <%= f.input :list_price,  input_html:{ id: "list_price", name: "list_price[]", style: 'width:100px' , :tabindex=>"4" } %>
  
  <%= f.input :material_code,  input_html:{id:"material_code_hide", name:"material_code_hide" }, as: :hidden %></br>

  <!--<hr style="border-top:2px outset #c0c0c0;width: 100%;height:2;">-->
</div>
</div>
 
 <script type="text/javascript">

  //cIndex = 0;
  //var i = 0;
  
  gSelectedIndex = 0;
  gMaterial_id = 0;
  gMaterial_code = "";

  $(document).ready(function(){
  //$(document).on('turbolinks:load', function(){
      
	  
      //$(".sortThese").sortable();
	  
	  //検索可能なリストボックス(品名の場合)
       $(".searchableMaterial").select2({ theme: "classic" });
      
        
       //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。イマイチだが・・
	   //$( ".searchableMaterial" ).on("select2:close", function (e) {  
	   //↓これだとchangeの後に走る！
	   $( ".searchableMaterial" ).on("select2:select", function (e) {
	        setTimeout(function() {
			$('[tabindex=0]')[gSelectedIndex].focus();
			//うまくいかない・・
			//debugger;
		  }, 0);  
	   });　　　　　	   

         
	   $( ".searchableMaterial" ).change(function(e) {
	    
		  gMaterial_id = $(this).val();
	      selectedIndex  = getSelectedChildIndex(gMaterial_id);
		  setItem(gMaterial_id, selectedIndex);
		  
		  //手入力以外はグローバルへセット
		  if (gMaterial_id != 0) {
		    gSelectedIndex = selectedIndex;
		  }else{
		    gSelectedIndex = 0;
		  }
		  
		  //$('[tabindex=0]')[selectedIndex].focus();
		
		  
	   });
	   
	   
	   $( ".searchableMaterial" ).on("select2:open",(function(e) {
      　 //i = 0;
	    cIndex = 0;
	   }));
	   
	   $(".searchableUnit").select2({ theme: "classic" });
	   //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。イマイチだが・・
	   $( ".searchableUnit" ).on("select2:close", function (e) {
	   //     setTimeout(function() {
		//    $('[tabindex=2]').focus();
	//	}, 0);  
	   });   
      
 });  
  
  //選択した行のインデックスを取得
  function getSelectedChildIndex(id){
    item = document.getElementsByName("material_id[]");
    var select_index = 0;
	
	for (var index = 0; index < item.length  ; index ++) {
	  if (id == item[index].value){
	    select_index = index;
	  }
	}
    return select_index;
  }
  //選択した行のインデックスを取得(手入力を考慮し、品番で判別)
  function getSelectedChildIndexCode(){
    item = document.getElementsByName("material_code[]");
    var select_index = 0;
	
	for (var index = 0; index < item.length  ; index ++) {
	  if (gMaterial_code == item[index].value){
	    select_index = index;
	  }
	}
    return select_index;
  }
  
  //タブ判定のため、品番をグローバルへセット
  function setMaterialCode(thisValue){
    gMaterial_code = thisValue;
	
  }
  
  //更新前に数量をチェックする
  //function checkQuantity(ok_flag){
  var checkQuantity = function(ok_flag){ 
  
    quantity = document.getElementsByName("quantity[]");
	item = document.getElementsByName("material_id[]");
	
	
	//var message = "";
	
	for (var i = 0; i < quantity.length ; i ++) {
	    if (quantity[i].value == undefined || quantity[i].value == 0){
	      //debugger;
		  itemName = item[i].options[item[i].selectedIndex].innerText;
		  
		  window.confirm(itemName + 'の数量を入力してください。');
		  //message = message + itemName + 'の数量を入力してください。';
		  
		  ok_flag = false;
	    }
	}
	
	//if (ok_flag == false){
	//  window.confirm( message );
	//}
	
	return ok_flag;
  }
  
 
  //各値の自動セット-ajax
  function setItem(item_id, selected_index)
  {
		 id = parseInt(item_id);
   
  	  
		 if (id != 1 ) {
		 //手入力は除外&明細に同一品番はないものとする(ある場合は正常動作しない）
			$.get("<%= purchase_order_historiez_material_select_path %>",
             {id: id },
              function(data){
		        
				//商品コードをセット
				obj = document.getElementById("material_code").textContent;
				document.getElementsByName("material_code[]")[selected_index].value = obj;
				
				//商品名をセット
				obj = document.getElementById("material_name").textContent;
				document.getElementsByName("material_name[]")[selected_index].value = obj;
				
				//メーカー名をセット
				obj = document.getElementById("maker_name").textContent;
				document.getElementsByName("maker_name[]")[selected_index].value = obj;
				
				//定価をセット
				obj = document.getElementById("list_price").textContent;
				document.getElementsByName("list_price[]")[selected_index].value = obj;
				
			  }
            );
		  }
  }
  
  function setItem_old(e)
  {  
     //objId = document.getElementsByName("material_id");
	 objId = document.getElementById("material_id");
	 product_select = $(this);
	
    //product_select.parent().find('.cost-input').val(product_select.find(':selected').data('unit_cost'))
	 //product_select.parent().find('.searchableMaterial').val(product_select.find(':selected').data('material_id'))
	 
	 var id = product_select.find(':selected').data('material_id');
	 //debugger;
	 
	 // cIndex += 1;     
     //項目名
     // $.get("<%= purchase_order_datum_material_select_path %>",
     //  {id: id },
     //   function(data){
     //     document.getElementsByName("material_code")[cIndex -1].value = document.getElementsByName("material_code_hide")[0].textContent;
	 //	  }
     // );

  }  
  
  function focusQuantity(selected_index)
  {
     document.getElementsByName("quantity[]")[selected_index].focus();
     //debugger;
  }
  
  //ENTER→TABキーに変換する処理。
  //レンダリングの場合は、共通化ができない（なぜか）
  $('[tabindex]').keydown(function (e) {
    if (e.keyCode == 13 || e.keyCode == 9) {
	    //if (document.getElementById("material_id").value == 1) {
		//if (gMaterial_id == 0) {
        // gMaterial_id = document.getElementById("material_id").value;
		//}
		
		if (gSelectedIndex == 0){
		   //手入力の場合はコードでインデックス取得
		   selectedIndex  = getSelectedChildIndexCode();
 		 }else{
		   selectedIndex = gSelectedIndex ;
		 }
		
		var tabindex = parseInt($(this).attr('tabindex'));
        $('[tabindex='+(tabindex+1)+']')[selectedIndex].focus();
    
	    return false;
	}
    
  }); 
   
 </script>
