<%= simple_form_for @construction_datum, :html => { :class => 'well form-horizontal' } do |f| %>
  
  <% if @construction_datum.errors.any? %>
  <div id="error_explanation">
    <h2><%= @construction_datum.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @construction_datum.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
 <% end %>
 
   <div class="col-lg-3" , style="margin-left : -15px">
  <%= f.input :construction_code , input_html:{:tabindex=>"0", style: 'width:150px'} %>
  </div>
  <div class="col-lg-3", style="margin-left : 10px;margin-top :10px;">
  
  <%= f.label :"見積書コード" , {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :quotation_header_id, QuotationHeader.all, :id, :quotation_code, {:include_blank => true} , 
  {id:"quotation_header_id", :onchange => "setConstructionDefaultAjax()", class: "searchableSelect2_1" , style: 'width:150px' } %>
 
  </div>
  <div class="col-lg-3", style="margin-left : 10px;margin-top :10px;">
    <%= f.label :"納品書コード" , {:class => "my-custom-class-l"} %></br>
    <%= f.collection_select :delivery_slip_header_id, DeliverySlipHeader.all, :id, :delivery_slip_code, {:include_blank => true} , 
       {id:"delivery_slip_header_id", :onchange => "setConstructionDefaultAjaxD()", class: "searchableSelect2_2" , style: 'width:150px' } %>
  </div>
  </br></br></br></br></br>
  
  <%= f.input :construction_name , input_html:{id:"construction_name", :tabindex=>"3", :onkeydown => "copyConstructionNameToAlias($(this).val(),event)" } %>
  <!--<%= f.input :alias_name ,  input_html:{id:"alias_name", :tabindex=>"4", style: 'width:250px'} %>-->
  <%= f.input :alias_name ,  input_html:{id:"alias_name", :tabindex=>"4", style: 'width:450px'} %>
  <%= f.input :reception_date , input_html:{:tabindex=>"5"} %>
  <%= f.label :得意先, {:class => "my-custom-class-l" }  %></br>
  <%= f.collection_select :customer_id, CustomerMaster.all, :id, :customer_name, {:prompt => "どれか一つを選択して下さい"} , {id:"customer_id", :tabindex=>"6", class: "searchableCustomerName" , style: 'width:330px' } %>
  </br></br>
  <%= f.input :construction_period_start, default: Date.strptime("2021/01/01", "%Y/%m/%d"), hint: "*未定の場合は、このまま未入力にして下さい。", input_html:{:tabindex=>"7"} %>
  <%= f.input :construction_period_end, default: Date.strptime("2021/01/01", "%Y/%m/%d"), hint: "*未定の場合は、このまま未入力にして下さい。", input_html:{:tabindex=>"8"} %>
  
  <%= f.input :post , hint: "＊数値のみ（ハイフンなし）で入力して下さい。" ,  
                       input_html:{id:"post",  :onchange => "formatPost()", :onKeyUp => "AjaxZip3.zip2addr(this,'','addressX','addressX');", :tabindex=>"9"} %>
  <div class="col-lg-6" , style="margin-left : -15px">
  <%= f.input :address , hint: "＊都道府県市区町村のみ入力して下さい。", input_html:{id:"address", name:"addressX", style: 'width:320px', :tabindex=>"10", :onkeydown => "setPostAuto($(this).val(), 'post', event)"} %>
  </div>
  
  <%= f.input :house_number , hint: "＊番地のみ入力して下さい。", input_html:{id:"house_number", style: 'width:320px', :tabindex=>"11"} %>
  
  <%= f.input :address2 , hint: "＊建物・部屋名がある場合は、こちらに入力して下さい。", label_html:{style: 'margin-top : -30px;'},  input_html:{id:"address2", style: 'width:320px;', :tabindex=>"12"} %>
  
  <%= f.check_box :order_flag %> 
  <%= f.label :order_flag, "受注済", {style: 'color: purple', :tabindex=>"13"} %>
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.check_box :billed_flag %> 
  <%= f.label :billed_flag, "請求済", {style: 'color: blue', :tabindex=>"14"} %>
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.check_box :calculated_flag %> 
  <%= f.label :calculated_flag, "集計済", {style: 'color: green', :tabindex=>"15"} %>
  
  </br></br>
  
  <!--</br></br>-->
  
   <!--テスト　画像のアップ-->
   <!--
  <%= f.simple_fields_for :construction_attachments, :remote => true  do |m| %>
    <%= m.file_field :attachment %>
  <% end %>
  -->
  <!-- -->

  
  <!--<%= f.button :submit, :class => 'btn-primary' %>-->
  <input type="button" onclick="submit();" class = 'btn btn-primary' value="登録する" tabindex = "16" />
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                construction_data_path, :class => 'btn btn-white_rsd' %>
<% end %>


<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script type="text/javascript">

  $(document).ready(function(){
  //$(document).on('turbolinks:load', function(){
      //検索可能なリストボックス(品名の場合)
       $(".searchableCustomerName").select2({ theme: "bootstrap" });
	   
       //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。イマイチだが・・
	   $( ".searchableCustomerName" ).on("select2:close", function (e) {
	     $('[tabindex=7]').focus(); 
	   });
	 
	 
	   //select2のタブインデックスはここで指定する(請求書コード)
	   $(".searchableSelect2_1").select2({ theme: "classic", allowClear: true, placeholder: "(データ参照用)" }).on("load", function(e) { 
        $(this).prop('tabindex',1)}).trigger('load');
		
	   //select2のタブインデックスはここで指定する(納品書コード)
	   $(".searchableSelect2_2").select2({ theme: "classic", allowClear: true, placeholder: "(データ参照用)" }).on("load", function(e) { 
        $(this).prop('tabindex',2)}).trigger('load');
	 
	 
       //$(".searchableConstructionCode").change(function(e) {
       //  setConstructionDateDefault();
       //});  

  });
  
  //工事名→通称名へコピー（初期値として）
  function copyConstructionNameToAlias(constructionName,e){
    if (e.keyCode == 13 || e.keyCode == 9) {
      if (constructionName != "") {
        document.getElementById("alias_name").value = constructionName;
      }
	}
  }
  
  
  //見積書→工事情報のセット
  function setConstructionDefaultAjax()
  {  
    obj = document.getElementById("quotation_header_id");
    quotation_header_id = parseInt(obj.value);
	
     $.get("<%= construction_dataz_quotation_header_select_path %>",
       {id: quotation_header_id },
        function(data){
          
		  setConstructionDetail();
		  
		 }
	  );
   };
   
  //納品書→工事情報のセット
  function setConstructionDefaultAjaxD()
  {  
    obj = document.getElementById("delivery_slip_header_id");
    delivery_slip_header_id = parseInt(obj.value);
	
     $.get("<%= construction_dataz_delivery_slip_header_select_path %>",
       {id: delivery_slip_header_id },
        function(data){
          
		  setConstructionDetail();
		  
		 }
	  );
   };
  
  //工事情報のセット
  function setConstructionDetail(){
    
    //工事名
    obj = document.getElementById("construction_name").textContent;
    document.getElementById("construction_name").value = obj;
		  
	//通称名は工事名をそのままセット
	document.getElementById("alias_name").value = obj;
		  
	//郵便番号
	obj = document.getElementById("post").textContent;
    document.getElementById("post").value = obj;
		  
	//住所
    obj = document.getElementById("address").textContent;
    document.getElementById("address").value = obj;
    
  }
  
    
</script>
