<%= simple_form_for @construction_datum, :html => { :class => 'well form-horizontal' } do |f| %>
  
  <% if @construction_datum.errors.any? %>
  <div id="error_explanation">
    <h2><%= @construction_datum.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @construction_datum.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
 <% end %>
 
   <div class="col-lg-3" , style="margin-left : -15px">
  <%= f.input :construction_code , input_html:{:tabindex=>"0", style: 'width:150px'} %>
  </div>
  <div class="col-lg-3", style="margin-left : 10px;margin-top :10px;">
  
  <%= f.label :"見積書コード" , {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :quotation_header_id, QuotationHeader.all, :id, :quotation_code, {:include_blank => true} , 
  {id:"quotation_header_id", :onchange => "setConstructionDefaultAjax()", class: "searchableSelect2_1" , style: 'width:150px' } %>
 
  </div>
  <div class="col-lg-3", style="margin-left : 10px;margin-top :10px;">
    <%= f.label :"納品書コード" , {:class => "my-custom-class-l"} %></br>
    <%= f.collection_select :delivery_slip_header_id, DeliverySlipHeader.all, :id, :delivery_slip_code, {:include_blank => true} , 
       {id:"delivery_slip_header_id", :onchange => "setConstructionDefaultAjaxD()", class: "searchableSelect2_2" , style: 'width:150px' } %>
  </div>
  </br></br></br></br></br>
  
  <%= f.input :construction_name , input_html:{id:"construction_name", :tabindex=>"3", :onkeydown => "copyConstructionNameToAlias($(this).val(),event)" } %>
  <!--<%= f.input :alias_name ,  input_html:{id:"alias_name", :tabindex=>"4", style: 'width:250px'} %>-->
  <%= f.input :alias_name ,  input_html:{id:"alias_name", :tabindex=>"4", style: 'width:450px'} %>
  <%= f.label :"現場名" , {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :site_id, Site.all, :id, :name, {:include_blank => true} , 
  {id:"construction_site_id", :tabindex=>"5", class: "searchInsertSite" , style: 'width:450px' } %>
  </br>
  <%= f.input :reception_date , input_html:{:tabindex=>"6"} %>
  <%= f.label :得意先, {:class => "my-custom-class-l" }  %></br>
  <%= f.collection_select :customer_id, CustomerMaster.all, :id, :customer_name, {:prompt => "どれか一つを選択して下さい"} , {id:"customer_id", :tabindex=>"7", class: "searchableCustomerName" , style: 'width:330px' } %>
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.button_tag "得意先の住所をセットする", :type => 'button', name: "addressButton",  
               :onclick => "setCustomerAddress()" , :class => 'btn btn-lime500_rsd btn-xs keep-disp' %>
  </br></br>
  
  <%= f.input :personnel , input_html:{style: 'width:330px', :tabindex=>"8"} %>
  
  <!--<%= f.input :construction_period_start, default: Date.strptime("2022/01/01", "%Y/%m/%d"), hint: "*未定の場合は、このまま未入力にして下さい。", input_html:{:tabindex=>"9"} %>-->
  <!--<%= f.input :construction_period_end, default: Date.strptime("2022/01/01", "%Y/%m/%d"), hint: "*未定の場合は、このまま未入力にして下さい。", input_html:{:tabindex=>"10"} %>-->
  <%= f.input :construction_period_start, default: Date.strptime(Date.today.year.to_s + "/01/01", "%Y/%m/%d"), hint: "*未定の場合は、このまま未入力にして下さい。", input_html:{:tabindex=>"9"} %>
  <%= f.input :construction_period_end, default: Date.strptime(Date.today.year.to_s + "/01/01", "%Y/%m/%d"), hint: "*未定の場合は、このまま未入力にして下さい。", input_html:{:tabindex=>"10"} %>
  
  <%= f.input :post , hint: "＊数値のみ（ハイフンなし）で入力して下さい。" ,  
                       input_html:{id:"post",  :onchange => "formatPost()", :onKeyUp => "AjaxZip3.zip2addr(this,'','addressX','addressX');", :tabindex=>"11"} %>
  <div class="col-lg-6" , style="margin-left : -15px">
  <%= f.input :address , hint: "＊都道府県市区町村のみ入力して下さい。", input_html:{id:"address", name:"addressX", style: 'width:320px', :tabindex=>"12", :onkeydown => "setPostAuto($(this).val(), 'post', event)"} %>
  </div>
  
  <%= f.input :house_number , hint: "＊番地のみ入力して下さい。", input_html:{id:"house_number", style: 'width:320px', :tabindex=>"13"} %>
  
  <%= f.input :address2 , hint: "＊建物・部屋名がある場合は、こちらに入力して下さい。", label_html:{style: 'margin-top : -30px;'},  input_html:{id:"address2", style: 'width:320px;', :tabindex=>"14"} %>
  
  <!--add200111-->
  <div class="col-lg-6" , style="margin-left : -15px">
    <%= f.input :estimated_amount, input_html:{ id:"estimated_amount", style: 'width:320px', :tabindex=>"15"}  %>
  </div>
  <%= f.input :final_amount, input_html:{ id:"final_amount", style: 'width:320px', :tabindex=>"16"}  %>
  
  <div class="col-lg-6" , style="margin-left : -15px">
    <%= f.input :billing_due_date, :include_blank => true, start_year: Date.today.year - 1,
                  end_year: Date.today.year + 3, hint: "", input_html:{ id:"billing_due_date", :tabindex=>"17", name: "construction_datum[billing_due_date][]", 
                                                           :onchange => "getDepositDueDateAjax()"} %>
  </div>
  <div class="col-lg-4" , style="margin-left : 10px">
  
  <%= f.input :deposit_due_date ,label: "入金予定日", hint: "＊自動計算されます" , 
          input_html:{ id:"deposit_due_date", :tabindex=>"18"} ,as: :date_picker %>
  
  <!--
  <%= f.input :deposit_due_date, :include_blank => true, start_year: Date.today.year - 1,
                  end_year: Date.today.year + 3, hint: "自動計算されます(入力不要)", input_html:{ id:"deposit_due_date",
                                              name: "construction_datum[deposit_due_date][]"} %>
  -->
  
  <%= f.input :deposit_due_date_hide ,  input_html:{ id:"deposit_due_date_hide", style: 'width:100px',
                                             name: "construction_datum[deposit_due_date_hide][]"}, as: :hidden %>
  
  </div>
  </br></br></br></br></br></br>
  
  <%= f.input :deposit_date, :include_blank => true, start_year: Date.today.year - 1,
                  end_year: Date.today.year + 3, input_html:{:readonly=>true} %>
  <!--add end-->
  
  <%= f.check_box :order_flag %> 
  <%= f.label :order_flag, "受注済", {style: 'color: purple', :tabindex=>"18"} %>
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.check_box :billed_flag %> 
  <%= f.label :billed_flag, "請求済", {style: 'color: blue', :tabindex=>"19"} %>
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.check_box :calculated_flag %> 
  <%= f.label :calculated_flag, "集計済", {style: 'color: green', :tabindex=>"20"} %>
  
  </br></br>
  
  <!--</br></br>-->
  
   <!--テスト　画像のアップ-->
   <!--
  <%= f.simple_fields_for :construction_attachments, :remote => true  do |m| %>
    <%= m.file_field :attachment %>
  <% end %>
  -->
  <!-- -->

  
  <!--<%= f.button :submit, :class => 'btn-primary' %>-->
  <input type="button" onclick="submit();" class = 'btn btn-primary' value="登録する" tabindex = "21" />
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                construction_data_path, :class => 'btn btn-white_rsd' %>
<% end %>


<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script type="text/javascript">

  $(document).ready(function(){
  //$(document).on('turbolinks:load', function(){
      //検索可能なリストボックス(品名の場合)
       
       //select2のタブインデックスはここで指定する(現場名)
	   $(".searchInsertSite").select2({ theme: "bootstrap", tags: true, allowClear: true, placeholder: "現場名が登録されていません" }).on("load", function(e) { 
        $(this).prop('tabindex',5)}).trigger('load');
       //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。イマイチだが・・
	   $( ".searchInsertSite" ).on("select2:close", function (e) {
         $('[tabindex=6]').focus(); 
	   });
       $('.searchInsertSite').change(function(){
         var construction_site_id = $("#construction_site_id").val();
         
         if (!isNaN(construction_site_id) && !(construction_site_id == ""))   //数値の場合(手入力以外)
         {
	       $.get("<%= construction_dataz_get_site_address_path %>",
             { id: construction_site_id },
             function(data){ 
               setAddress();
             }
           );
         }
       });
       //
       
       $(".searchableCustomerName").select2({ theme: "bootstrap" });
       //select2をenterキー押下した場合(リストが閉じられた時)のタブ移動。イマイチだが・・
	   $( ".searchableCustomerName" ).on("select2:close", function (e) {
	     $('[tabindex=8]').focus(); 
	   });
	 
	 
	   //select2のタブインデックスはここで指定する(請求書コード)
	   $(".searchableSelect2_1").select2({ theme: "classic", allowClear: true, placeholder: "(データ参照用)" }).on("load", function(e) { 
        $(this).prop('tabindex',1)}).trigger('load');
		
	   //select2のタブインデックスはここで指定する(納品書コード)
	   $(".searchableSelect2_2").select2({ theme: "classic", allowClear: true, placeholder: "(データ参照用)" }).on("load", function(e) { 
        $(this).prop('tabindex',2)}).trigger('load');
	 
	 
       //$(".searchableConstructionCode").change(function(e) {
       //  setConstructionDateDefault();
       //});  

  });
  
  //住所を一括セットする(ajax)
  function setAddress(){
    //郵便番号
	obj = document.getElementById("post").textContent;
    document.getElementById("post").value = obj;
    
	//住所
    obj = document.getElementById("address").textContent;
    document.getElementById("address").value = obj;
              
    //番地
    obj = document.getElementById("house_number").textContent;
    document.getElementById("house_number").value = obj;
              
    //住所２
    obj = document.getElementById("address2").textContent;
    document.getElementById("address2").value = obj;
  }
  
  //工事名→通称名へコピー（初期値として）
  function copyConstructionNameToAlias(constructionName,e){
    if (e.keyCode == 13 || e.keyCode == 9) {
      if (constructionName != "") {
        document.getElementById("alias_name").value = constructionName;
      }
	}
  }
  
  
  //見積書→工事情報のセット
  function setConstructionDefaultAjax()
  {  
    obj = document.getElementById("quotation_header_id");
    quotation_header_id = parseInt(obj.value);
	
     $.get("<%= construction_dataz_quotation_header_select_path %>",
       {id: quotation_header_id },
        function(data){
          
		  setConstructionDetail();
		  
		 }
	  );
   };
   
  //納品書→工事情報のセット
  function setConstructionDefaultAjaxD()
  {  
    obj = document.getElementById("delivery_slip_header_id");
    delivery_slip_header_id = parseInt(obj.value);
	
     $.get("<%= construction_dataz_delivery_slip_header_select_path %>",
       {id: delivery_slip_header_id },
        function(data){
          
		  setConstructionDetail();
		  
		 }
	  );
   };
  
  //工事情報のセット
  function setConstructionDetail(){
    
    //工事名
    obj = document.getElementById("construction_name").textContent;
    document.getElementById("construction_name").value = obj;
		  
	//通称名は工事名をそのままセット
	document.getElementById("alias_name").value = obj;
		  
	//郵便番号
	obj = document.getElementById("post").textContent;
    document.getElementById("post").value = obj;
		  
	//住所
    obj = document.getElementById("address").textContent;
    document.getElementById("address").value = obj;
    
  }
  
  function setCustomerAddress()
  {
    if ( document.getElementById("customer_id").value != "")
    {
      customer_master_id = document.getElementById("customer_id").value;
      $.get("<%= construction_dataz_get_customer_address_path %>",
      {customer_master_id: customer_master_id }, function(data)
      {
        obj = document.getElementById("post").textContent;
        document.getElementById("post").value = obj;
        //
        obj = document.getElementById("address").textContent;
        document.getElementById("address").value = obj;
        //
        obj = document.getElementById("house_number").textContent;
        document.getElementById("house_number").value = obj;
        //
        obj = document.getElementById("address2").textContent;
        document.getElementById("address2").value = obj;
        
      });
    }
  }
  
  //請求予定日→入金日のセット
  function getDepositDueDateAjax()
  {  
    //obj = document.getElementById("delivery_slip_header_id");
    //delivery_slip_header_id = parseInt(obj.value);
	
      //日付がまだ未選択の状態なら、抜ける
     if (document.getElementsByName("construction_datum[billing_due_date][]")[0].value == "" ||
       document.getElementsByName("construction_datum[billing_due_date][]")[1].value == "" ||
       document.getElementsByName("construction_datum[billing_due_date][]")[2].value == "" )
     {
       return;
     }
    
     var billing_due_date = document.getElementsByName("construction_datum[billing_due_date][]")[0].value + "/" 
                                    + document.getElementsByName("construction_datum[billing_due_date][]")[1].value + "/" 
                                    + document.getElementsByName("construction_datum[billing_due_date][]")[2].value; 
    
     obj = document.getElementById("customer_id");
     customer_id = parseInt(obj.value);
    
     document.getElementById("deposit_due_date").value = "";  //一旦クリア
    
     $.get("<%= construction_dataz_get_deposit_due_date_path %>",
       {billing_due_date: billing_due_date, customer_id: customer_id },
        function(data){
          
          
          obj = document.getElementById("deposit_due_date_hide").textContent;
          
          document.getElementById("deposit_due_date_hide").textContent = "";
          
          if (obj != "")
          {
            //document.getElementById("deposit_due_date").value = obj;
            
            var purchase_date_set = obj;
            document.getElementById("deposit_due_date").value = purchase_date_set;
            
            //debugger;
          
            
            //document.getElementsByName("construction_datum[deposit_due_date][]")[0].value = obj.substr(0, 4);
            //document.getElementsByName("construction_datum[deposit_due_date][]")[1].value = obj.substr(5,2);
            //document.getElementsByName("construction_datum[deposit_due_date][]")[2].value = obj.substr(8,2);
          }
          
          
		  //setConstructionDetail();
		  
		 }
	  );
   };
    
</script>
