 <!--<script src="/assets/jquery.tablefix.js?body=1" type="text/javascript"></script>-->
 <!--カスタマイズ版を使用-->
 <%= javascript_include_tag 'jquery.tablefix' %>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<%- model_class = ConstructionDatum -%>
<% provide(:title, model_class.model_name.human.pluralize.titleize) %>

<div class="page-header" style="margin-bottom:0;width:1920px;">
  <h1><font size="5"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></font></h1>
  
  <!-- 追加箇所開始 -->
  <%= page_entries_info @construction_data %>
  <!-- 追加箇所終了 -->
  
  <%= search_form_for @q, :html => {:style=> 'width:1280px' } do |f| %>
    <%= f.label :construction_name, '工事名　' %>
    <!--<%= f.select :id_eq, ConstructionDatum.all.map{|st| [st.p_cd_name, st.id]}, {include_blank: true}, {id:'id', style: 'width:400px' , class: "searchableConstructionName" } %>-->
    <%= f.select :id_eq, @construction_code_extract.order("construction_code desc").all.map{|st| [st.p_cd_name, st.id]}, {include_blank: true}, {id:'id', style: 'width:400px' , class: "searchableConstructionName" } %>
    <!--モバイル用対応  add180830-->
    <% if browser.platform.ios? || browser.platform.android? %>
      <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearConstruction()" %>
    <% end %>
    
    <%= f.label :construction_code, '工事コード(範囲)' %>
    <%= f.text_field :construction_code_cont, include_blank: true , id: 'construction_code_range' %>
    <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearConstructionCode()" %>
    
	<%= f.label :customer_name, '得意先名　' %>
    <!--<%= f.select :customer_id_eq, options_from_collection_for_select(CustomerMaster.all, "id", "customer_name") , {include_blank: true}, {style: 'width:330px' , class: "searchableCustomerName" } %>-->
    <%= f.select :customer_id_eq, CustomerMaster.all.map{|st| [st.customer_name, st.id]}, {include_blank: true}, {id: 'customer_id', style: 'width:330px' , 
	     class: "searchableCustomerName", :onchange => "setConstructionExtractByCutomer()" } %>
    <!--モバイル用対応  add180830-->
    <% if browser.platform.ios? || browser.platform.android? %>
      <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearCustomer()" %>
    <% end %>
    
    </br>
    
    <!--受注・請求・集計済の検索-->
    <!-- add181004 -->
    <%= f.label :order_flag, '受注済' %>
    <%= f.select :order_flag_eq, ConstructionDatum.order_check_list.map{ |value, key| [value, key] }, {include_blank: true}, {id: 'order_flag', style: 'width:80px'} %>
    <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearOrderFlag()" %>
    <!-- add end -->
    <%= f.label :billed_flag, '請求済' %>
    <!--<%= f.select :billed_flag_eq,options_for_select(ConstructionDatum.bills_check_list), {include_blank: true }, :style => "width:150px" %>-->
    <!--<%= f.select :billed_flag_eq,options_for_select(ConstructionDatum.bills_check_list), {include_blank: true }, :style => "width:150px" %>-->
    <%= f.select :billed_flag_eq, ConstructionDatum.bills_check_list.map{ |value, key| [value, key] }, {include_blank: true}, {id: 'billed_flag', style: 'width:80px'} %>
    <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearBilledFlag()" %>
    <%= f.label :calculated_flag, '集計済' %>
    <%= f.select :calculated_flag_eq, ConstructionDatum.calculated_check_list.map{ |value, key| [value, key] }, {include_blank: true}, {id: 'calculated_flag', style: 'width:80px'} %>
    <%= button_tag "×", type: 'button', :class => 'btn btn-grey400_rsd btn-xs', onclick: "clearCalculatedFlag()" %>
    </br>
    
	<div style="width:1920px;">
        <%= f.submit '検索する', :class => 'btn btn-white_rsd' %>
        <%= link_to "一覧表",
            construction_data_path(@construction_data, action:"index", format: "pdf"),
            :class => 'btn  btn-orange200_ftg', :target=>["_blank"] %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
            new_construction_datum_path,
            :class => 'btn btn-primary' %> 
        
        <!--スペース-->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <%= f.button_tag "チェック反映", :type => 'link',  
               :onclick => "bulkCheck()" , :class => 'btn btn-lime500_rsd keep-disp' %>
    </div>
    
    
   <% end %>
</div>
<div>
 
    <!-- kaminari用追加箇所開始 -->
   <%= paginate @construction_data %>
   <!-- kaminari用追加箇所終了 --> 
   
</div>



<!--見出し固定用設定追加-->
<div id="header" , "margin-top : -50px;", class="span11 table-scrollable" >

<style>
   table { }
   table th , table td { white-space:nowrap; overflow:hidden; }
  </style>
<!--見出し固定用設定追加-->

<div id="inbody">
<table id="tablefix", class="table  table-bordered">
  <thead>
    <tr style="height:50px">
      <th><%= sort_link(@q, :id, model_class.human_attribute_name(:id), default_order: :desc ) %></th>
      <!--<th><%= model_class.human_attribute_name(:construction_code) %></th>-->
      <th></th>
      <th></th>
      <th></th>
      <th></th>
	  <th></th>
	  <th></th>
      <!--<th></th>-->
      <th><%= sort_link(@q, :construction_code, model_class.human_attribute_name(:construction_code), default_order: :desc ) %></th>
      <th><%= model_class.human_attribute_name(:construction_name) %></th>
      <th><%= model_class.human_attribute_name(:reception_date) %></th>
      <th><%= model_class.human_attribute_name(:customer_name) %></th>
      <th>締日</th>
      <!--<th><%= model_class.human_attribute_name(:construction_period_start) %></th>-->
      <!--<th><%= model_class.human_attribute_name(:construction_period_end) %></th>-->
	  <th><%= model_class.human_attribute_name(:construction_end_date) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>見積</th>      
      <!--<th><%= model_class.human_attribute_name(:order_flag) %></th>-->
      <th>受注</th>
      <!--<th><%= model_class.human_attribute_name(:billed_flag) %></th>-->
      <th>請求</th>
      <!--<th><%= model_class.human_attribute_name(:calculated_flag) %></th>-->
      <th>集計</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
<!--</table>-->

  <!--<body onLoad="FixedMidashi.create();">-->
  <!--<table _fixedhead="rows:1; cols:2", class="table table-bordered">-->

  <tbody>
  
    <% @construction_data.order("construction_code desc").each do |construction_datum| %>
      <% if construction_datum.billed_flag != nil && construction_datum.billed_flag > 0 %>
      <!--請求済の場合の色付け(最優先)-->
         <!--<tr bgcolor="#F7BE81">-->
         <!-- EC7C04 -->
         <tr bgcolor="#FBA417">
      <% elsif construction_datum.order_flag != nil && construction_datum.order_flag > 0 %>
      <!--受注済の場合の色付け-->
         <tr bgcolor="#F6DCBF">
      <% else %>
         <tr bgcolor="white">
      <% end %>
	    <td><%= link_to construction_datum.id, construction_datum_path(construction_datum), :class => 'keep-disp' %></td>
        <td><%= link_to t('.edit', :default => t("指示書")),
                      edit2_construction_datum_path(construction_datum),  :class => 'btn btn-pink300_ftg btn-xs keep-disp' , :style => "width: 50px; height: 10px;" %></td>
        
        <td><%= link_to t('.back', :default => t("見積")), quotation_material_headers_path(construction_id: construction_datum.id, move_flag: "1"), 
                                   :class => 'btn btn-grey400_rsd btn-xs keep-disp'  %></td>
        <td><%= link_to t('.back', :default => t("注文")), purchase_order_data_path(construction_id: construction_datum.id, move_flag: "1"), 
                                   :class => 'btn btn-purple200_rsd btn-xs keep-disp'  %></td>
        <td><%= link_to t('.back', :default => t("仕入")), purchase_data_path(construction_id: construction_datum.id, move_flag: "1"), 
                                   :class => 'btn btn-green600_rsd btn-xs keep-disp'  %></td>
        <td><%= link_to t('.back', :default => t("労務")), construction_daily_reports_path(construction_id: construction_datum.id, move_flag: "1"), 
                                   :class => 'btn btn-blue500_rsd btn-xs keep-disp'  %></td>
        <!--<td><%= link_to t('.back', :default => t("工程")), tasks_path(construction_id: construction_datum.id, 
                                     start_date: construction_datum.construction_period_start,
                                     end_date: construction_datum.construction_period_end,
                                     move_flag: "1"), 
                                     :class => 'btn btn-orange800_rsd btn-xs keep-disp'  %></td>-->
                                     
        <% @search = ConstructionCost.find_by(:construction_datum_id => construction_datum.id) %>
        <% if @search.present? %>
          <% if construction_datum.calculated_flag == 1 %>
	          <!--完了フラグ１の場合は色を変える-->
            <!--red500-->
            <td><%= link_to t('.edit', :default => t("集計")),
                      edit_construction_cost_path(ConstructionCost.where(construction_datum_id: construction_datum.id).first, construction_id: construction_datum.id, 
                               move_flag: "1"), :class => 'btn btn-black_ftg btn-xs keep-disp', :style => "width: 50px; height: 10px;" %></td>
							   
            <!--<td><%= link_to t('.back', :default => t("集計")), construction_costs_path(construction_id: construction_datum.id, move_flag: "1"), 
                                   :class => 'btn btn-red500_rsd btn-xs keep-disp'  %></td>-->
          <% else %>
		        <!-- old lime500-->
            <td><%= link_to t('.edit', :default => t("集計")),
                      edit_construction_cost_path(ConstructionCost.where(construction_datum_id: construction_datum.id).first, construction_id: construction_datum.id, 
                               move_flag: "1"), :class => 'btn btn-white_ftg btn-xs keep-disp', :style => "width: 50px; height: 10px;" %></td>
		        <!--<td><%= link_to t('.back', :default => t("集計")), construction_costs_path(construction_id: construction_datum.id, move_flag: "1"), 
                                   :class => 'btn btn-lime500_rsd btn-xs keep-disp'  %></td>-->
          <% end %>
        <% else %>
          <td></td>
        <% end %>
        
        <!--画像のアップ機能は保留で-->
        <!--<td><%= link_to t('.edit', :default => t("資料")),
                      edit3_construction_datum_path(construction_datum),  :class => 'btn btn-yellow500_rsd btn-xs keep-disp' %></td>-->
        <!--保留中-->
        <!--<td><%= link_to t('.edit', :default => t("資料")),
                      construction_data_path(construction_datum, document_flag: "1" ), :class => 'btn btn-yellow500_rsd btn-xs keep-disp' %></td>-->
        <!--td><a href="file:///Users\takaMasa\Desktop" input id="upload" type="file"/>資料</a></td>-->
                
        
        <td><%= construction_datum.construction_code %></td>
        <td><%= construction_datum.construction_name %></td>
        <td><%= construction_datum.reception_date %></td>
        
		<% if construction_datum.CustomerMaster.present? %>
          <td><%= construction_datum.CustomerMaster.customer_name %></td>
        <% else %>
		  <td>-</td>
        <% end %>
        
        <!--add190612 締日追加-->
        <% if construction_datum.CustomerMaster.present? && construction_datum.CustomerMaster.closing_date > 0 %>
          <td><%= construction_datum.CustomerMaster.closing_date %></td>
        <% else %>
		  <td>-</td>
        <% end %>
		
		<!--del170915 工事着工・完了日は非表示にする
		<% if construction_datum.construction_period_start.present? && construction_datum.construction_period_start.strftime("%Y/%m/%d") != "2021/01/01" then %>
           <td><%= construction_datum.construction_period_start %></td>
		<% else %>
		   <td align="center">-</td>
		<% end %>
		<% if construction_datum.construction_period_end.present? && construction_datum.construction_period_end.strftime("%Y/%m/%d") != "2021/01/01" then %>
		　　<td><%= construction_datum.construction_period_end %></td>
		<% else %>
		   <td align="center">-</td>
		<% end %>
		-->
		<% if construction_datum.construction_end_date.present? && construction_datum.construction_end_date.strftime("%Y/%m/%d") != "2000/01/01" then %>
           <td><%= construction_datum.construction_end_date %></td>
		<% else %>
		   <td align="center">-</td>
		<% end %>
        <td><%=l construction_datum.created_at.in_time_zone('Tokyo') %></td>
        
        <!--見積フラグ-->
        <% if construction_datum.quotation_flag == 1 %>
          <td><%= link_to t('.back', :default => t("見積")), quotation_headers_path(construction_id: construction_datum.id, move_flag: "1"), 
                                   :class => 'btn btn-lime500_rsd btn-xs keep-disp'  %></td>
        <% else %>
          <td></td>
        <% end %>
        <!---->
                
        <!--add180926-->
        <!--受注フラグ-->
        <td><%= check_box("order_flag", "active", {checked: check_if_true(construction_datum.order_flag) , 
                  :multiple => true, :style => "margin-left: 16px;",  :disabled => false , :class => "order_check keep-disp" , :id => construction_datum.id }, "true", "false") %></td>
        
        <!--請求済フラグ-->
        <!--<td><%= check_box("billed_flag", "active", {checked: check_if_true(construction_datum.billed_flag) , :multiple => true, :style => "margin-left: 16px;",  :disabled => true}, "true", "false") %></td>-->
        <td><%= check_box("billed_flag", "active", {checked: check_if_true(construction_datum.billed_flag) , :multiple => true, :style => "margin-left: 16px;", 
                             :disabled => false , :class => "billed_check keep-disp" , :id => construction_datum.id}, "true", "false") %></td>
        
        <!--集計済フラグ-->
        <td><%= check_box("calculated_flag", "active", {checked: check_if_true(construction_datum.calculated_flag) , 
                  :multiple => true, :style => "margin-left: 16px;",  :disabled => false , :class => "calculated_check keep-disp" , :id => construction_datum.id }, "true", "false") %></td>

        <td>
         <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_construction_datum_path(construction_datum),  :class => 'btn btn-white_rsd btn-xs keep-disp' %>
		 
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      construction_datum_path(construction_datum),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger keep-disp' %>
        </td>
        
      </tr>
     <% end %>
  <!--</table>-->
  
  </tbody>
</table>
</div>

</div>

<!--</div>-->
  


<script type="text/javascript">
  
  //検索可能なリストボックス
  $(document).ready(function(){
  //$(document).on('turbolinks:load', function(){

    $(".searchableConstructionName").select2({ theme: "classic", allowClear: true , placeholder: MESSAGE_LIST });
    $(".searchableCustomerName").select2({ theme: "classic", allowClear: true , placeholder: MESSAGE_LIST });
	
	
     // $('.scrolltable').scrolltable()
	  
      //$(".table-scrollable").css('margin','5px','margin-top','0');
      //event.preventDefault();
     
  	  //見出し固定用設定追加
	  var sz = window.parent.screen.width;
	  var fc = 1;    //デフォルトの固定列数(社長PC基準)
	  var ht = 628;  //デフォルトの高さ(社長PC基準)old-586
		
	  if (sz < 1920) {
	  //画面サイズ1920px(社長PC基準)以外は、列固定させる。
        //fc = 3;  //固定列数
        fc = 2;  //固定列数
	    ht -= 50;
        
        sz = 1920; //for ipad pro!!
      }
	   $('#tablefix').tablefix({width: sz, height: ht, fixRows: 1, fixCols: fc});
	   //
       //$('#tablefix').tablefix({width: 1920, height: 520, fixRows: 1, fixCols: 1});
	   
	   
       //実行
       $('form').keepPosition();
	   //$('ul.nav-tabs a').keepPosition();
       
       //add180926
       //請求済チェックでリアルタイム更新する
       $(".billed_check").on('change', function(e) {
            var $elem = $(e.target);
            var id = $elem.context.id
            var bool = $elem.is(':checked') ? 1 : 0;

            $.get("<%= construction_dataz_set_billed_flag_path %>",
                {id: id , billed_flag: bool},
                function(data){
                    //del190206 一括チェックで反映
                    //画面再描画のためリロードする
		            //window.location.reload();
                }
	        );
          
       });
       
       //add180926
       //受注済チェックでリアルタイム更新する
       $(".order_check").on('change', function(e) {
            var $elem = $(e.target);
            var id = $elem.context.id
            var bool = $elem.is(':checked') ? 1 : 0;

            $.get("<%= construction_dataz_set_order_flag_path %>",
                {id: id , order_flag: bool},
                function(data){
                    //del190206 一括チェックで反映
                    //画面再描画のためリロードする
		            //window.location.reload();
                }
	        );
          
       });
       
       //add200130
       //集計済チェックでリアルタイム更新する
       $(".calculated_check").on('change', function(e) {
            var $elem = $(e.target);
            var id = $elem.context.id
            var bool = $elem.is(':checked') ? 1 : 0;

            $.get("<%= construction_dataz_set_calculated_flag_path %>",
                {id: id , calculated_flag: bool},
                function(data){
                    //一括チェックで反映
                    //画面再描画のためリロードする
		            //window.location.reload();
                }
	        );
          
       });
       
       
  });
  
  //add190210
  //一括チェックによる更新
  function bulkCheck(){
     //画面再描画のためリロードする(のみ・・)
     window.location.reload();
  }
  
  //工事コードを空にする
  function clearConstructionCode(){
    document.getElementById("construction_code_range").value = "";
  }
  //受注済を空にする
  function clearOrderFlag(){
    document.getElementById("order_flag").selectedIndex = 0;
  }
  //請求済を空にする
  function clearBilledFlag(){
    document.getElementById("billed_flag").selectedIndex = 0;
  }
  //集計済を空にする
  function clearCalculatedFlag(){
    document.getElementById("calculated_flag").selectedIndex = 0;
  }
  
//180914共通化
//  //プラグイン化
//  $.fn.keepPosition = function(){
//    //cookieに保存する名前（他のページと競合しないようURLを含めるようにする）
//    var key = 'keep-position-'+location.pathname;
//    var win = $(window);
//    this.each(function(){
//        //$(this).on('submit',function(){
//        $(".keep-disp").click(function(){
//			div_top = bodyDiv.scrollTop();
//			$.cookie(key, div_top);
//	    });
//    });
//    setTimeout(function(){
//		bodyDiv.scrollTop($.cookie(key));
//    },0);
//  }
 
  //カテゴリー別にアイテムを抽出する処理
  function setConstructionExtractByCutomer(){
    var customer_id = document.getElementById("customer_id").value;
	$.get("<%= construction_dataz_customer_extract_path %>",
      {customer_id: customer_id},
       function(data){
		 
		 document.getElementById("id").value = "";
		 
		 //リストを未選択状態にする
		 //document.getElementById("working_middle_item_id_select_hide").value = "";
		 //短縮名も同様
		 //document.getElementById("working_middle_item_short_name_select_hide").value = "";
	});
  }
  
  //モバイル用対応 add180830
  //select2をクリアする
  function clearConstruction(){
    $(".searchableConstructionName").val(null).trigger("change"); 
  }
  function clearCustomer(){
    $(".searchableCustomerName").val(null).trigger("change"); 
  }
  //

 


</script>

