<p id="notice"><%= notice %></p>

<p>
  <strong>Working middle item:</strong>
  <%= @working_small_item.working_middle_item_id %>
</p>

<p>
  <strong>Working small item code:</strong>
  <%= @working_small_item.working_small_item_code %>
</p>

<p>
  <strong>Working small item name:</strong>
  <%= @working_small_item.working_small_item_name %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @working_small_item.unit_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @working_small_item.quantity %>
</p>

<p>
  <strong>Labor productivity unit:</strong>
  <%= @working_small_item.labor_productivity_unit %>
</p>

<%= link_to 'Edit', edit_working_small_item_path(@working_small_item) %> |
<%= link_to 'Back', working_small_items_path %>
