<%- model_class = PurchaseOrderDatum -%>
<% provide(:title, model_class.model_name.human.pluralize.titleize) %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:purchase_order_code) %>:</strong></dt>
  <dd><%= @purchase_order_datum.purchase_order_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:construction_name) %>:</strong></dt>
  <dd><%= @purchase_order_datum.construction_datum.construction_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alias_name) %>:</strong></dt>
  <dd><%= @purchase_order_datum.alias_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supplier_name) %>:</strong></dt>
  <dd><%= @purchase_order_datum.supplier_master.supplier_name %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              purchase_order_data_path(construction_id: params[:construction_id], move_flag: params[:move_flag]), :class => 'btn btn-white_rsd'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_purchase_order_datum_path(@purchase_order_datum, construction_id: params[:construction_id], move_flag: params[:move_flag]), :class => 'btn btn-white_rsd' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              purchase_order_datum_path(@purchase_order_datum, construction_id: params[:construction_id], move_flag: params[:move_flag]),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
