<%= simple_form_for @supplier_master, :html => { :class => 'well form-horizontal' } do |f| %> 

  <% if @supplier_master.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@supplier_master.errors.count, "error") %> prohibited this supplier_master from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @supplier_master.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.input :supplier_name, input_html:{:tabindex=>"0"} %>
  <%= f.input :tel_main, input_html:{:tabindex=>"1" } %>
  <%= f.input :fax_main, input_html:{:tabindex=>"2"} %>
  <%= f.input :email_main , input_html:{:tabindex=>"3"} %>
  
  <!--
  <%= f.input :responsible1 , input_html:{:tabindex=>"4"} %>
  <%= f.input :email1, input_html:{:tabindex=>"5"} %>
  <%= f.input :responsible2,  input_html:{:tabindex=>"6"} %>
  <%= f.input :email2,  input_html:{:tabindex=>"7"} %>
  <%= f.input :responsible3 , input_html:{:tabindex=>"8"} %>
  <%= f.input :email3 , input_html:{:tabindex=>"9"} %>
  -->
  
  <div class="supplier_responsibles" style="margin-left : -15px"> 
    <%= f.fields_for :supplier_responsibles do |f| %> 
      <%= f.label "担当者" %> 
      <%= render "supplier_responsible_fields", f: f %> 
    <% end %> 
    <div class="links"> 
      <%= link_to_add_association "担当者を追加", f, :supplier_responsibles, :class => 'btn btn-success' %> 
    </div> 
  </div> 
  
  
  <%= f.input :responsible_cc , input_html:{:tabindex=>"10"} %>
  <%= f.input :email_cc , input_html:{:tabindex=>"11"} %>
  <%= f.input :search_character , label: "検索文字アルファベット(半角1文字だけ入力して下さい。／注番登録画面に反映)", 
           input_html:{style: 'width:40px;', :tabindex=>"12"} %>
  <%= f.check_box :outsourcing_flag %> 
  <%= f.label :outsourcing_flag, "外注の場合チェックを入れる", {style: 'color: blue', :tabindex=>"13"} %>
  </br></br>
  
  <!--<%= f.button :submit, :class => 'btn-primary' %>-->
  <input type="button" onclick="submit();" class = 'btn btn-primary' value="登録する" />
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                supplier_masters_path, :class => 'btn btn-default' %>


<% end %>

<script type="text/javascript">
</script>
