<script src="/assets/jquery.tablefix.js?body=1" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<%- model_class = SupplierMaster -%>
<% provide(:title, model_class.model_name.human.pluralize.titleize) %>
<b>
</br>
<div class="page-header", style="width:1920px" >
  <h1><font size="5"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></font></h1>
  <!-- kaminari用追加箇所開始 -->
  <%= page_entries_info @supplier_masters %>
  <!-- kaminari用追加箇所終了 -->
  
   <%= search_form_for @q do |f| %>
    <%= f.label :supplier_name, '仕入先名：' %>
    <%= f.select :id_eq, options_from_collection_for_select(SupplierMaster.all, "id", "supplier_name") , {include_blank: true}, {style: 'width:220px' , class: "searchableSupplierName" } %>
  	<div>
    	<%= f.submit '検索する' , :class => 'btn btn-default' %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
            new_supplier_master_path,
            :class => 'btn btn-primary keep-disp' %>
            
       <%= link_to "CSV", supplier_masters_path(params.merge(format: 'csv')),:class => 'btn btn-grey300_rsd btn-xs'%>
    </div>
   <% end %>
   <!-- kaminari用追加箇所開始 -->
   <%= paginate @supplier_masters %>
   <!-- kaminari用追加箇所終了 --> 
</div>

			
<!--<div class="span11 table-scrollable" >-->
<!--見出し固定用設定追加-->
<div style="margin-top : -20px;", class="span11 table-scrollable" >

 <style>
   table { }
   table th, table td { white-space:nowrap; overflow:hidden; }
  </style>
  
  <!--<table class="table table-striped">-->
  <!--見出し固定用設定追加-->
  <table id="tablefix", class="table  table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <!--<th><%= model_class.human_attribute_name(:supplier_name) %></th>-->
      <th><%= sort_link(@q, :supplier_name, model_class.human_attribute_name(:supplier_name) ) %></th> 
      <th><%= model_class.human_attribute_name(:tel_main) %></th>
      <th><%= model_class.human_attribute_name(:fax_main) %></th>
      <th><%= model_class.human_attribute_name(:email_main) %></th>
      <th><%= model_class.human_attribute_name(:responsible1) %></th>
      <th><%= model_class.human_attribute_name(:email1) %></th>
      <th><%= model_class.human_attribute_name(:responsible2) %></th>
      <th><%= model_class.human_attribute_name(:email2) %></th>
      <th><%= model_class.human_attribute_name(:responsible3) %></th>
      <th><%= model_class.human_attribute_name(:email3) %></th>
      <th><%= model_class.human_attribute_name(:responsible_cc) %></th>
      <th><%= model_class.human_attribute_name(:email_cc) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @supplier_masters.each do |supplier_master| %>
      <tr>
        <td><%= link_to supplier_master.id, supplier_master_path(supplier_master) %></td>
        <td><%= supplier_master.supplier_name %></td>
        <td><%= supplier_master.tel_main %></td>
        <td><%= supplier_master.fax_main %></td>
        <!--<td><%= supplier_master.email_main %></td>-->
        <td><%= mail_to(supplier_master.email_main, name = nil, {:style => 'text-decoration:underline'}) %></td>
        
        <!--
        <td><%= supplier_master.responsible1 %></td>
        <td><%= mail_to(supplier_master.email1, name = nil, {:style => 'text-decoration:underline'}) %></td>
        <td><%= supplier_master.responsible2 %></td>
        <td><%= mail_to(supplier_master.email2, name = nil, {:style => 'text-decoration:underline'}) %></td>
        <td><%= supplier_master.responsible3 %></td>
        <td><%= mail_to(supplier_master.email3, name = nil, {:style => 'text-decoration:underline'}) %></td>
        -->
        
        <% cnt = 0 %>
        <% supplier_master.supplier_responsibles.first(3).each do |rp| %>
            <% cnt += 1 %>
            <td><%= rp.responsible_name %></td>
            <td><%= rp.responsible_email %></td>
        <% end %>
        <% until cnt >= 3 do %>
          <% cnt += 1 %>
          <td></td>
          <td></td>
        <% end %>
        
        <td><%= supplier_master.responsible_cc %></td>
        <td><%= mail_to(supplier_master.email_cc, name = nil, {:style => 'text-decoration:underline'}) %></td>
        <td><%=l supplier_master.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_supplier_master_path(supplier_master), :class => 'btn btn-default btn-xs keep-disp' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      supplier_master_path(supplier_master),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger keep-disp' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>



<script type="text/javascript">
  
  //検索可能なリストボックス
  $(document).ready(function(){
    //$(".searchableSupplierName").select2({ theme: "classic" });
    $(".searchableSupplierName").select2({ theme: "classic", allowClear: true , placeholder: MESSAGE_LIST });
        
    //見出し固定用設定追加
    var sz = window.parent.screen.width;
    var fc = 1;    //デフォルトの固定列数(社長PC基準)
    var ht = 610;  //デフォルトの高さ(社長PC基準)
        
    if (sz != 1920) {
      //画面サイズ1920px(社長PC基準)以外は、列固定させる。
      fc = 2;  //固定列数
	  ht -= 70;
      sz = 1920; //for ipad pro (add180829)
    }
	$('#tablefix').tablefix({width: sz, height: ht, fixRows: 1, fixCols: fc});
	//
    //$('#tablefix').tablefix({width: 1920, height: 610, fixRows: 1, fixCols: 1});
    
    //画面位置保存→実行
    $('form').keepPosition();
  });

</script>

