<%= simple_form_for @customer_master, :html => { :class => 'well form-horizontal' } do |f| %> 

  <% if @customer_master.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@customer_master.errors.count, "error") %> prohibited this customer_master from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @customer_master.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= f.input :customer_name, input_html:{:tabindex=>"0"} %>
  <%= f.input :search_character, hint: "＊検索用文字を「ひらがな１文字」で入力して下さい。(濁点は入れないで下さい。)", input_html:{ style: 'width:50px;', :tabindex=>"1"} %>
  <%= f.input :post,  hint: "＊数値のみ（ハイフンなし）で入力して下さい。" , input_html:{id:"post", :tabindex=>"2", :onchange => "formatPost()",  :onKeyUp => "AjaxZip3.zip2addr(this,'','addressX','addressX');" } %>
  <%= f.input :address, input_html:{id:"address", :tabindex=>"3", name:"addressX"} %>
  <%= f.input :tel_main , input_html:{:tabindex=>"4"} %>
  <%= f.input :fax_main , input_html:{:tabindex=>"5"} %>
  <%= f.input :email_main, input_html:{:tabindex=>"6"} %>
  <%= f.input :closing_date, as: :integer , hint: "*日にちのみを数字で入力して下さい。(未定なら０)" , input_html:{:tabindex=>"7", value: f.object.closing_date || 0 } %>
  <%= f.input :due_date, as: :integer , hint: "*日にちのみを数字で入力して下さい。(未定なら０)" , input_html:{:tabindex=>"8", value: f.object.due_date || 0} %>
  <%= f.input :responsible1 , input_html:{:tabindex=>"9"} %>
  <%= f.input :responsible2 , input_html:{:tabindex=>"10"} %>
  
  <!-- 連絡先データ移行時特設用 -->
  <%= f.input :contact_id , input_html:{:tabindex=>"11"} , as: :hidden %>
  
  <!--<%= f.button :submit, :class => 'btn-primary' %>-->
  <input type="button" onclick="submit();" class = 'btn btn-primary' value="登録する" />
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customer_masters_path, :class => 'btn btn-default' %>

<% end %>


<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script type="text/javascript">
  
</script>