<!--<script src="/assets/jquery.tablefix.js?body=1" type="text/javascript"></script>-->
<!--カスタマイズ版を使用（画面位置保持の為）-->
<%= javascript_include_tag 'jquery.tablefix' %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<%- model_class = CustomerMaster -%>
<% provide(:title, model_class.model_name.human.pluralize.titleize) %>
<div class="page-header", style="width:1920px">
  <h1><font size="5"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></font></h1>
  <!-- 追加箇所開始 -->
  <%= page_entries_info @customer_masters %>
  <!-- 追加箇所終了 -->
  <%= search_form_for @q do |f| %>
    <%= f.label :customer_name, '得意先名：' %>
    <%= f.select :id_eq, options_from_collection_for_select(CustomerMaster.all, "id", "customer_name") , {include_blank: true}, {style: 'width:330px' , class: "searchableCustomerName" } %>
    <%= f.label :search_character, '検索文字：' %>
    
	
	<%= f.select :search_character_eq, CustomerMaster.syllabary.map{|st| [st,st]}, {include_blank: true}, { style: 'width:100px' , class: "searchableSelect2_1"}  %>
	
	<!--<%= f.select :search_character_eq, options_from_collection_for_select(CustomerMaster.all, "search_character", "search_character") , 
	{include_blank: true}, {style: 'width:330px' , class: "searchableCustomerName" } %>-->

  	<div>
    	<%= f.submit '検索する', :class => 'btn btn-white_rsd' %>
		<%= link_to t('.new', :default => t("helpers.links.new")),
            new_customer_master_path,
            :class => 'btn btn-primary' %>
        
        <%= link_to "一覧表",
            customer_masters_path(@customer_masters, action:"index", print_flag: "1", format: "pdf"),
            :class => 'btn  btn-deeporange500_ftg', :target=>["_blank"] %>
         
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
        <%= link_to "一覧(年賀状確認用)",
            customer_masters_path(@customer_masters, action:"index", print_flag: "2", format: "pdf"),
            :class => 'btn  btn-orange500_ftg', :target=>["_blank"] %>
        
        <%= link_to "CSV", customer_masters_path(params.merge(format: 'csv')),:class => 'btn btn-grey300_rsd btn-xs'%>
        
  	</div>
   <% end %>
</div>



<!--<div class="span11 table-scrollable" >-->
<!--見出し固定用設定追加-->
<div style="margin-top : -50px;", class="span11 table-scrollable" >
 
 <style>
   table { }
   table th, table td { white-space:nowrap; overflow:hidden; }
  </style>

<!--<table class="table table-striped">-->
<!--見出し固定用設定追加-->
<table id="tablefix", class="table  table-striped", style="width:1920px;">

  <thead>
    <tr>
      <!--<th><%= model_class.human_attribute_name(:id) %></th>-->
      <th><%= sort_link(@q, :id, model_class.human_attribute_name(:id) ) %></th> 
	  <th style="width:90px;min-width:90px"><%= sort_link(@q, :customer_name, model_class.human_attribute_name(:customer_name) ) %></th> 
      <th><%= model_class.human_attribute_name(:post) %></th>
      <!--<th><%= model_class.human_attribute_name(:address) %></th>-->
	  <!--<th> 住　　所 </th>-->
	  <th><%= sort_link(@q, :address, model_class.human_attribute_name(:address) ) %></th> 
      <th><%= model_class.human_attribute_name(:tel_main) %></th>
      <th><%= model_class.human_attribute_name(:fax_main) %></th>
      <th><%= model_class.human_attribute_name(:email_main) %></th>
      <th><%= model_class.human_attribute_name(:closing_date) %></th>
      <th><%= model_class.human_attribute_name(:due_date) %></th>
      <th></th>
	  <th><%= model_class.human_attribute_name(:responsible1) %></th>
      <th><%= model_class.human_attribute_name(:responsible2) %></th>
      <th><%= model_class.human_attribute_name(:card_not_flag) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @customer_masters.order("id desc").each do |customer_master| %>
      <tr>
        <td><%= link_to customer_master.id, customer_master_path(customer_master), :class => 'keep-disp' %></td>
        <td><%= customer_master.customer_name %></td>
        <td><%= customer_master.post %></td>
		
		<!--upd171013-->
		<% @address = customer_master.address %>
		<% if customer_master.house_number.present? %>
		  <% @address += customer_master.house_number %>
		<% end %>
		<% if customer_master.address2.present? %>
		  <% @address += "　" + customer_master.address2 %>
		<% end %>
		
        <td><%= @address %></td>
        <td><%= customer_master.tel_main %></td>
        <td><%= customer_master.fax_main %></td>
		<td><%= mail_to(customer_master.email_main, name = nil, {:style => 'text-decoration:underline'}) %></td>
        <!--<td><%= customer_master.closing_date %></td>-->
		<% if customer_master.closing_date.present? && customer_master.closing_date != 0 then %>
		  <% closing_division_str = nil %>
		  
		  <% if [customer_master.closing_date_division][0].present? && [customer_master.closing_date_division][0] == 1 %>
		    <% closing_division_str = CustomerMaster.closing_division[customer_master.closing_date_division][0] %>
		  <% end %>
		  
		  <% if closing_division_str.blank? %>
		    <td align="center"><%= customer_master.closing_date %></td>
		  <% else %>
		    <td align="center"><%= closing_division_str %></td>
		  <% end %>
		<% else %>
		   <td align="center">-</td>
		<% end %>
		<!--<td><%= customer_master.due_date %></td>-->
        <% if customer_master.due_date.present? && customer_master.due_date != 0 then %>
		  <% if [customer_master.due_date_division][0].present? %>
		    <% @due_date_division = CustomerMaster.due_division[customer_master.due_date_division][0] %>
          <% else %>
            <%  @due_date_division = "-" %>
		  <% end %>
		  
		  <td align="center"><%= @due_date_division %></td>
		  <td align="center"><%= customer_master.due_date %></td>
		<% else %>
		   <td align="center">-</td>
		   <td align="center">-</td>
		<% end %>
		<td><%= customer_master.responsible1 %></td>
        <td><%= customer_master.responsible2 %></td>
        
        <td><%= check_box("", "", {checked: check_if_true(customer_master.card_not_flag) , :multiple => true, :style => "margin-left: 16px;",  :disabled => true}, "true", "false") %></td>
        
        <td><%=l customer_master.created_at.in_time_zone('Tokyo') %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_customer_master_path(customer_master), :class => 'btn btn-default btn-xs keep-disp' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      customer_master_path(customer_master),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger keep-disp' %>
        </td>
      </tr>
    <% end %>
    <!-- kaminari追加箇所開始 -->
    <%= paginate @customer_masters %>
    <!-- kaminari追加箇所終了 -->
  </tbody>
</table>
</div>
<!-- kaminari追加箇所開始 -->
<!--<%= paginate @customer_masters %>-->
<!-- kaminari追加箇所終了 -->

<script type="text/javascript">
  
  //検索可能なリストボックス
  $(document).ready(function(){

     $(".searchableCustomerName").select2({ theme: "classic" });
	 
	 $(".searchableSelect2_1").select2({ theme: "classic", allowClear: true, placeholder: "" });
	 
	 
	 //見出し固定用設定追加
	 var sz = window.parent.screen.width;
	 var fc = 1;    //デフォルトの固定列数(社長PC基準)
	 var ht = 610;  //デフォルトの高さ(社長PC基準)
	 
	 if (sz != 1920) {
	 //画面サイズ1920px(社長PC基準)以外は、列固定させる。
        fc = 1;  //固定列数
		ht -= 70;
        //sz -= 0;
        sz = 1920; //for ipad pro (add180829)
	 }
	 $('#tablefix').tablefix({width: sz, height: ht, fixRows: 1, fixCols: fc});
     //$('#tablefix').tablefix({width: 1920, height: 610, fixRows: 1, fixCols: 1});
	 
	 //画面位置を保持する
     $('form').keepPosition();
  });
  
   //プラグイン化
  $.fn.keepPosition = function(){
    //cookieに保存する名前（他のページと競合しないようURLを含めるようにする）
    var key = 'keep-position-'+location.pathname;
    var win = $(window);
    this.each(function(){
        //$(this).on('submit',function(){
        $(".keep-disp").click(function(){
			div_top = bodyDiv.scrollTop();
			$.cookie(key, div_top);
	    });
    });
    setTimeout(function(){
		bodyDiv.scrollTop($.cookie(key));
    },0);
  }

</script>
