
<div class="modal-dialog modal-lg" >
  <div class="modal-content" >
  <div style="padding-left : 15px;">
<%= simple_form_for @invoice_detail_large_classification, remote: true, :html => { id: "mymodal", :class => 'form-horizontal' } do |f| %>
  
  <!--非表示のフィールド-->
  <!--件名(非表示)-->
  <%= f.input :invoice_header_id, input_html:{id:"invoice_header_id", :value => @invoice_detail_large_classification.invoice_header_id } , as: :hidden %>
  <!--品名／仕様区分(非表示)-->
  <%= f.input :invoice_items_division_id, input_html:{id:"invoice_items_division_id",  :value => 1 } , as: :hidden %>
  <!--行番号-->
  <%= f.label :"行番号" , { :class => "my-custom-class-l"} %></br>
  <%= f.select :line_number, InvoiceDetailLargeClassification.serial_number, {}, 
     { id:"line_number", class: "searchableSelect2_1" , style: 'width:100px' } %>
  <%= f.check_box :check_line_insert, {}, "true", "false" %>
  <%= f.label_tag :check_line_insert, '行挿入する　　' %>
  <%= f.label_tag :construction_type, '工事種別：' %>
  <%= f.select :construction_type, WorkingUnit.types, {:selected => @invoice_detail_large_classification.construction_type || 0}, 
      {id:'construction_type', :class => "my-custom-class", style: 'width:120px;margin-left:8px;font-size:14px;', :onchange => "setLaborType()" } %>
  </br></br>
  
  <!--add170524-->
  <%= f.label :"納品書番号" , { :class => "my-custom-class-l"} %></br>
  <%= f.collection_select :delivery_slip_header_id, DeliverySlipHeader.all, :id, :p_delv_cd_name, {:include_blank => true} , {id:'delivery_slip_header_id', 
       :class => "searchableSelect2_2", style: 'width:420px' } %></br>
  <!--記号（品名（短縮名））-->
  <!--upd170822-->
  <div class="col-xs-3" , style="margin-left : -15px">
  <%= f.label :working_large_item_short_name , {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :working_large_item_short_name, WorkingMiddleItem.order('seq').all, :id, :working_middle_item_short_name, 
    {:selected => @invoice_detail_large_classification.working_large_item_id || 1} , 
    {id:'working_large_item_short_name', :class => "searchableSelect2_3",  style: 'width:190px' } %></br>
  </div>
  
  <%= f.input :working_large_item_short_name_manual, label: "記号(手入力可)", label_html:{style:'margin-top:-5px;'}, 
                    input_html:{id:"working_large_item_short_name_manual", style: 'width:210px;margin-top:0px;', :tabindex=>"3" }  %>

  
  <!--項目名-->
  <div style="margin-left : 0px">
  <%= f.label :"項目名", {:class => "my-custom-class-l"} %></br>
  <%= f.collection_select :working_large_item_id, WorkingMiddleItem.order('seq').all, :id, :working_middle_item_name, 
    {:selected => @invoice_detail_large_classification.working_large_item_id || 1} , 
	{id:'working_large_item_id', :class => "searchableSelect2_4",  style: 'width:420px' } %></br>
  </div>
  
  <%= f.input :working_large_item_name , label: "項目名(手入力可)", input_html:{id:"working_large_item_name", style: 'width:420px', :tabindex=> "5"}  %>
  <%= f.input :working_large_specification , label: "仕様名(手入力可)", input_html:{id:"working_large_specification", style: 'width:420px', :tabindex=>"6" }  %>
  
  <div class="col-xs-2" , style="margin-left : -15px">
  <%= f.input :quantity, label: "請求数量", :input_html => {id:'quantity', :tabindex=>"7", style: 'width:120px', 
       :value => @invoice_detail_large_classification.quantity || 1, :onchange => "changeQuantity(0)" } %>
  </div>
  <div style="margin-left : -50px">
  <%= f.input :execution_quantity, :input_html => {id:'execution_quantity', :tabindex=>"8", style: 'width:120px',
       :value => @invoice_detail_large_classification.execution_quantity || 1 , :onchange => "changeQuantity(1)" } %>
  </div>
  <!--単位-->
  <div class="col-xs-2" , style="margin-left : -15px;margin-top : -15px">
  <%= f.label :"単位" , {} %></br>
  <%= f.collection_select :working_unit_id, WorkingUnit.all, :id, :working_unit_name, {:prompt => 'どれか一つを選択して下さい', 
     :selected => @invoice_detail_large_classification.working_unit_id || 1 } ,
     {id:'working_unit_id', :class => "searchableSelect2_5",  style: 'width:120px' } %></br>
  </div>
  <div style="margin-left : -50px;margin-top : -12px">
  <%= f.input :working_unit_name , label: "単位名(手入力可)", label_html:{style: 'margin-top : -5px'}, input_html:{id:"working_unit_name", :tabindex=>"10", style: 'width:120px',  :value => @invoice_detail_large_classification.working_unit_name || WorkingUnit.where(:id => 1).pluck(:working_unit_name)   }  %>
  </div>
  
  
  <div class="col-xs-2" , style="margin-left : -15px;margin-top : -15px">
  <%= f.input :working_unit_price, input_html:{id:"working_unit_price", style: 'width:120px', :tabindex=>"11", :onchange => "calcTotalPrice()" } %>
  </div>
  <div style="margin-left : -50px;margin-top : -15px">
  <%= f.input :execution_unit_price, input_html:{id:"execution_unit_price", style: 'width:120px', :tabindex=>"12", :onchange => "calcTotalPrice()"} %>
  </div></br>
  
  <div class="col-xs-2" , style="margin-left : -15px;margin-top : -20px">
  <%= f.input :invoice_price,  :input_html => {id:'invoice_price', :tabindex=>"13", style: 'width:120px'} %>
  </div>
  <!--<div style="margin-left : -50px;margin-top : -20px">-->
  <div class="col-xs-2",  style="margin-left : -0px;margin-top : -20px">
  <%= f.input :execution_price, :input_html => {id:'execution_price', :tabindex=>"14", style: 'width:120px'} %>
  </div>
  
  <div style="margin-top : 15px">
  <%= button_tag "金額クリア", type: 'button', :class => 'btn btn-yellow300_rsd btn-xs', onclick: "clearPrice()" %>
  </div>
  </br></br></br>
  
  <div class="col-xs-2" , style="margin-left : -15px;margin-top : -15px">
  <%= f.input :labor_productivity_unit,  :input_html => {id:"labor_productivity_unit", :tabindex=>"15", style: 'width:120px', :onchange => "calcLaborTotal()"}  %>
  </div>
  <!--<div style="margin-top : -15px">-->
  <div class="col-xs-2", style="margin-left : -0px;margin-top : -15px">
  <%= f.input :labor_productivity_unit_total,  :input_html => {id:"labor_productivity_unit_total", :tabindex=>"16", style: 'width:120px'}  %>
  </div>
  
  <div style="margin-top : 15px">
  <%= button_tag "歩掛クリア", type: 'button', :class => 'btn btn-lightblue100_rsd btn-xs', onclick: "clearLaborProductivityUnit()" %>
  </div>
  </br></br></br>
  
  <!--<%= f.input :remarks,  :input_html => {:tabindex=>"17", style: 'width:420px'}  %>-->
  
  <%= f.check_box :piping_wiring_flag, :class => "piping_wiring_flag" %>
  <%= f.label_tag :piping_wiring_flag, '配管配線　　　' %> 
  <%= f.check_box :equipment_mounting_flag, :class => "equipment_mounting_flag" %>
  <%= f.label_tag :equipment_mounting_flag, '機器取付　　' %>
  <%= f.check_box :labor_cost_flag, :class => "labor_cost_flag" %>
  <%= f.label_tag :labor_cost_flag, '労務費' %></br>
  </br>
  <%= f.check_box :check_update_item, {}, "true", "false" %>
  <%= f.label_tag :check_update_item, '品名・仕様・単位のみマスター反映　　　' %> 
  <%= f.check_box :check_update_all, {}, "true", "false" %>
  <%= f.label_tag :check_update_all, '全てマスター反映' %></br>
  
  <%= hidden_field_tag(:invoice_header_id, 'index') %>
  <%= hidden_field_tag(:working_large_item_id, 'index') %>
  
  <%= f.button :submit, :class => 'btn-primary' %>
  <!--<input type="button" onclick="submit();" class = 'btn btn-primary' value="登録する" />-->
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                invoice_detail_large_classifications_path(invoice_header_id: params[:invoice_header_id], 
                       invoice_header_name: params[:invoice_header_name] ), :class => 'btn btn-white_rsd' %>
<% end %>
</div>
 </div>
</div>


<script type="text/javascript">
  
  //add170223
  //歩掛り集計専用の作業内訳マスターIDの定数(マスター変更時注意！)
  //var piping_wiring_construction_index = 2;  //配管配線工事のマスターID
  //var equipment_mounting_index = 3;          //機器取付工事のマスターID
  //var labor_cost_index = 4;                  //労務費のマスターID
  //
  
  //モーダルの場合は、このコードがないとselect2が正常動作しない。
  $.fn.modal.Constructor.prototype.enforceFocus = function() {};
  
  var no_ajax_flag = 0;
  
  $(document).ready(function(){
     
	 //ドラッグできるようにする add171107
	 $("#myModal").draggable({
       handle: ".modal-dialog"
     }); 
	
     //行番号--select2のタブインデックスはここで指定。
     $(".searchableSelect2_1").select2({ theme: "bootstrap" }).on("load", function(e) { 
        $(this).prop('tabindex',0)}).trigger('load');
     $( ".searchableSelect2_1" ).on("select2:close", function (e) {
       nextControlSelect2(this);
     });
     
	 //納品書番号
	 $(".searchableSelect2_2").select2({ theme: "bootstrap", allowClear: true , placeholder: MESSAGE_LIST }).on("load", function(e) { 
        $(this).prop('tabindex',1)}).trigger('load');
     $( ".searchableSelect2_2" ).on("select2:close", function (e) {
       nextControlSelect2(this);
     });
	 $( ".searchableSelect2_2" ).change(function(e) {
	   //select2プルダウン増減時はここも要変更!
	   setDelivery();
     });
	  
	 //changed class "2_2" to "2_3", tabindex 1 to 2
     //記号（品名（短縮名））--select2のタブインデックスはここで指定。
     $(".searchableSelect2_3").select2({ theme: "bootstrap" }).on("load", function(e) { 
        $(this).prop('tabindex',2)}).trigger('load');
	 $( ".searchableSelect2_3" ).on("select2:close", function (e) {
	   nextControlSelect2(this);
     });
	 $( ".searchableSelect2_3" ).change(function(e) {
    	document.getElementById("working_large_item_id").value = document.getElementById("working_large_item_short_name").value;
		$(".searchableSelect2_4").trigger("change");
		
		//add170822
        //記号(短縮)名をテキストへセット
		setShortName();
	 });
	 
	 //changed class "2_3" to "2_4", tabindex 2 to 3
	 //品名--select2のタブインデックスはここで指定。
	 $(".searchableSelect2_4").select2({ theme: "bootstrap"  }).on("load", function(e) { 
        $(this).prop('tabindex',4)}).trigger('load');
     $( ".searchableSelect2_4" ).on("select2:close", function (e) {
	   nextControlSelect2(this);
     });
	 $( ".searchableSelect2_4" ).change(function(e) {
	   if (no_ajax_flag == 0){
          setWorkingLargeItemName();
	      setWorkingLarageSpecification();
		  setUnit();
		  setWorkingUnitPrice();
		  setExecutionUnitPrice();
		  //金額も計算
		  calcTotalPrice();
		  
		  obj = document.getElementById("construction_type").value;
		  if (obj == "0") {
		  //歩掛りをマスターからセット(配管配線・機器取付の集計は除く)
		    setLaborProductivityUnit();
		    
            //del181010
            //setLaborProductivityUnitTotal();
		  }
		}
     });
	 
	 //changed class "2_4" to "2_5", tabindex 7 to 9
	 //単位--select2のタブインデックスはここで指定。
	 $(".searchableSelect2_5").select2({ theme: "bootstrap"}).on("load", function(e) { 
        $(this).prop('tabindex',9)}).trigger('load');
     $( ".searchableSelect2_5" ).on("select2:close", function (e) {
       nextControlSelect2(this);
     });
     $( ".searchableSelect2_5" ).change(function(e) {
	   if (no_ajax_flag == 0){
         setWorkingUnitName();
		}
	 });

	 //
	 //単位--select2のタブインデックスはここで指定。
	 //$(".searchableSelect2_4").select2({ theme: "bootstrap"}).on("load", function(e) { 
     //   $(this).prop('tabindex',8)}).trigger('load');
     //$( ".searchableSelect2_4" ).on("select2:close", function (e) {
     //  nextControlSelect2(this);
     //});
     //$( ".searchableSelect2_4" ).change(function(e) {
     //  setWorkingUnitName();
	 //});
	 //
	 
 
     //１つチェックがあれば、他のチェックを外す処理
	 $('.piping_wiring_flag').on('change', function(){
       if ($(this).is(':checked')) {
	    $('.equipment_mounting_flag').prop("checked",false);
		$('.labor_cost_flag').prop("checked",false);
       }
     });
     $('.equipment_mounting_flag').on('change', function(){
       if ($(this).is(':checked')) {
	    $('.piping_wiring_flag').prop("checked",false);
		$('.labor_cost_flag').prop("checked",false);
       }
     });
	 $('.labor_cost_flag').on('change', function(){
       if ($(this).is(':checked')) {
	    $('.piping_wiring_flag').prop("checked",false);
		$('.equipment_mounting_flag').prop("checked",false);
       }
     });
	 //add end
	 
	 
	//add170822
    //記号(短縮)名を最新の情報にする
	setShortName();
	
   });

  //add170822
  //短縮名をテキストへセット
  function setShortName(){
    var index = document.getElementById("working_large_item_short_name").selectedIndex;
	document.getElementById("working_large_item_short_name_manual").value = 
	  document.getElementById("working_large_item_short_name").options[index].innerText;
    
  }

   //請求→実行数量の自動変更
  function changeQuantity(flag)
  {  
     //upd170524
     if (flag==0){
       document.getElementById("execution_quantity").value = document.getElementById("quantity").value;
     }
     
     calcTotalPrice();
	 
     //if (document.getElementById("quantity").value > 0 && document.getElementById("execution_quantity").value == "" ) {
     //  document.getElementById("execution_quantity").value = document.getElementById("quantity").value;
     //}
     //calcTotalPrice();
  } 
  
  //納品書番号セットに伴う、自動セット
  function setDelivery(){
      obj = document.getElementById("delivery_slip_header_id");
      delivery_slip_header_id = parseInt(obj.value);
	  
      $.get("<%= invoice_detail_large_classificationz_deliery_slip_header_id_select_path %>",
       {delivery_slip_header_id: delivery_slip_header_id },
        function(data){
		  //品番は手入力用とみなし、１をセット。
		  //!!!プルダウン増減時注意!!!!!
	      no_ajax_flag = 1;
		  $(".searchableSelect2_4").val(1).trigger("change");
		  //document.getElementById("working_large_item_id").value = 1
		  //品名
		  obj = document.getElementById("working_large_item_name").textContent;
          document.getElementById("working_large_item_name").value = obj;
		  no_ajax_flag = 0;
		  //仕様
		  obj = document.getElementById("working_large_specification").textContent;
          document.getElementById("working_large_specification").value = obj;
		  
		  //請求数量
          document.getElementById("quantity").value = 1;
		  //実行数量
		  document.getElementById("execution_quantity").value = 1;
		  
		  //単位-式
		  //document.getElementById("working_unit_id").value = 1;
		  no_ajax_flag = 1;
		  
		  //$(".searchableSelect2_5").val(1).trigger("change");
		  //upd170808
		  //idも「式」のidにする（但し変更時注意!)
		  $(".searchableSelect2_5").val(ID_UNIT_SET).trigger("change");
		  document.getElementById("working_unit_name").value = "式";
		  no_ajax_flag = 0;
		  
		  //請求金額
		  obj = document.getElementById("invoice_price").textContent;
          document.getElementById("invoice_price").value = obj;
		  
		  //実行金額
		  //obj = document.getElementById("execution_price").textContent;
          //document.getElementById("execution_price").value = obj;
        }
      );       
  }
  
  //単位のセット
  function setUnit(){
      $.get("<%= invoice_detail_large_classificationz_working_unit_id_select_path %>",
       {id: working_large_item_id },
        function(data){
		  //単位名もセット
		  setWorkingUnitName();
        }
      );       
  }
  //請求単価のセット
  function setWorkingUnitPrice(){
	  $.get("<%= invoice_detail_large_classificationz_working_unit_price_select_path %>",
       {id: working_large_item_id },
        function(data){
          obj = document.getElementById("working_unit_price").textContent;
          document.getElementById("working_unit_price").value = obj;
		  
		  calcTotalPrice();
		  }
      ); 
  }    
  //実行単価のセット
  function setExecutionUnitPrice(){
      $.get("<%= invoice_detail_large_classificationz_execution_unit_price_select_path %>",
       {id: working_large_item_id },
        function(data){
          obj = document.getElementById("execution_unit_price").textContent;
          document.getElementById("execution_unit_price").value = obj;
		  
		  calcTotalPrice();
		  //debugger;
		  }
      );
  }
  
  //歩掛りのセット
  function setLaborProductivityUnit(){
      $.get("<%= invoice_detail_large_classificationz_labor_productivity_unit_select_path %>",
       {id: working_large_item_id },
        function(data){
            obj = document.getElementById("labor_productivity_unit").textContent;
            document.getElementById("labor_productivity_unit").value = obj;
            
            //upd181011
            //ここで歩掛計をセットする
            calcLaborTotal();
		  }
      );      
  }
  //歩掛り計のセット
  //181010 マスター上で登録されないため、現在は機能していない・・・
  function setLaborProductivityUnitTotal(){
	  $.get("<%= invoice_detail_large_classificationz_labor_productivity_unit_total_select_path %>",
       {id: working_large_item_id },
        function(data){
          obj = document.getElementById("labor_productivity_unit_total").textContent;
          document.getElementById("labor_productivity_unit_total").value = obj;
		  }
      );      
  }
  
  //add170223
  //歩掛りのセット(配管集計時)
  function setLaborType(){
    //obj = document.getElementById("construction_type").value;
    obj = parseInt(document.getElementById("construction_type").value);
	
	switch (obj){
      case INDEX_SUBTOTAL:
      //小計
        //アイテム名は自動でセットする。
        $(".searchableSelect2_2").val(ID_SUBTOTAL).trigger("change");
        $(".searchableSelect2_3").val(ID_SUBTOTAL).trigger("change");
        invoice_header_id = document.getElementById("invoice_header_id").value;
		line_number = document.getElementById("line_number").value;
	    $.get("<%= invoice_detail_large_classificationz_subtotal_select_path %>",{invoice_header_id: invoice_header_id, line_number: line_number}, 
		  function(data){
	        //小計へセット
            //  見積金額
            obj = document.getElementById("invoice_price").textContent;
            document.getElementById("invoice_price").value = obj;
            //  実行金額
            obj = document.getElementById("execution_price").textContent;
            document.getElementById("execution_price").value = obj;
            //  歩掛計
            obj = document.getElementById("labor_productivity_unit_total").textContent;
            document.getElementById("labor_productivity_unit_total").value = obj;
            
		    }
	    );
        break;
	  case INDEX_DISCOUNT:
      //値引き
        //アイテム名は自動でセットする。
        $(".searchableSelect2_2").val(ID_DISCOUNT).trigger("change");
        $(".searchableSelect2_3").val(ID_DISCOUNT).trigger("change");
	    break;
      case INDEX_PIPING_WIRING_CONSTRUCTION:
        //アイテム名は自動でセット。
		//”配管配線工事”のiDに切り替える。
		$(".searchableSelect2_2").val(ID_PIPING_WIRING_CONSTRUCTION).trigger("change");
		$(".searchableSelect2_3").val(ID_PIPING_WIRING_CONSTRUCTION).trigger("change");
		
	    //配管配線チェック済みのものから歩掛りを集計する。
		invoice_header_id = document.getElementById("invoice_header_id").value;
		$.get("<%= invoice_detail_large_classificationz_LPU_piping_wiring_select_path %>",{invoice_header_id: invoice_header_id}, 
		  function(data){
	        setLaborUnit();
		    }
	    );
		break;
	  case INDEX_EQUIPMENT_MOUNTING:
	    //アイテム名は自動でセット。
        $(".searchableSelect2_2").val(ID_EQUIPMENT_MOUNTING).trigger("change");
        $(".searchableSelect2_3").val(ID_EQUIPMENT_MOUNTING).trigger("change");
	    //機器取付チェック済みのものから歩掛りを集計する。
		invoice_header_id = document.getElementById("invoice_header_id").value;
	    $.get("<%= invoice_detail_large_classificationz_LPU_equipment_mounting_select_path %>",{invoice_header_id: invoice_header_id}, 
		  function(data){
	        setLaborUnit();
		    }
	    );
	    break;
	  case INDEX_LABOR_COST:
	    //アイテム名は自動でセット。
        $(".searchableSelect2_2").val(ID_LABOR_COST).trigger("change");
        $(".searchableSelect2_3").val(ID_LABOR_COST).trigger("change");
		
	    //労務費チェック済みのものから歩掛りを集計する。
		invoice_header_id = document.getElementById("invoice_header_id").value;
	    $.get("<%= invoice_detail_large_classificationz_LPU_labor_cost_select_path %>",{invoice_header_id: invoice_header_id}, 
		  function(data){
	          setLaborUnit();
		    }
	    );
		break;
     }
  }
  function setLaborUnit(){
  //合計値をセットする
      //170306
      //歩掛りへセット
	  //obj = document.getElementById("labor_productivity_unit").textContent;
      //document.getElementById("labor_productivity_unit").value = obj;
	  //歩掛り計へセット
      obj = document.getElementById("labor_productivity_unit_total").textContent;
      document.getElementById("labor_productivity_unit_total").value = obj;
  }
  //add end 
  
  
   //項目名のセット
  function setWorkingLargeItemName()
  {  
   
    obj = document.getElementById("working_large_item_id");
     working_large_item_id = parseInt(obj.value);
	 
	 $.get("<%= invoice_detail_large_classificationz_working_large_item_select_path %>",
       {id: working_large_item_id },
        function(data){
          obj = document.getElementById("working_large_item_name").textContent;
          document.getElementById("working_large_item_name").value = obj;
		  }
      );
   };  
  //仕様のセット
  function setWorkingLarageSpecification()
  {  
    obj = document.getElementById("working_large_item_id");
     working_large_item_id = parseInt(obj.value);
     $.get("<%= invoice_detail_large_classificationz_working_large_specification_select_path %>",
       {id: working_large_item_id },
        function(data){
          obj = document.getElementById("working_large_specification").textContent;
          document.getElementById("working_large_specification").value = obj;
		  }
      );
   };  
   //単位名のセット
  function setWorkingUnitName()
  {  
    obj = document.getElementById("working_unit_id");
     working_unit_id = parseInt(obj.value);
     $.get("<%= invoice_detail_large_classificationz_working_unit_name_select_path %>",
       {id: working_unit_id },
        function(data){
		  //debugger;
          obj = document.getElementById("working_unit_name").textContent;
          document.getElementById("working_unit_name").value = obj;
		  }
      );
   };  
   
  //歩掛り計を求める
  function calcLaborTotal()
  {
    //upd170306
    //種別が通常の場合のみ処理
    var obj = document.getElementById("construction_type");
    if (obj.value == "0"){
      var obj1 = document.getElementById("execution_quantity");
      var obj2 = document.getElementById("labor_productivity_unit");
      //実数＊歩掛
      if (obj1.value > 0 && obj2.value >0) {
        var num = (obj1.value * obj2.value)
        num = num * 1000;
        num = Math.round(num);
        num = num / 1000;
        document.getElementById("labor_productivity_unit_total").value = num;
      }
    }
  }
  
   //区分が仕様を選択した時　　
   function setWhenSpecification(f)
   {
          obj = document.getElementById("invoice_items_division_id");
          index = obj.selectedIndex;
          if (index == 1){
             //数量を０にセット
             obj2 = document.getElementById("quantity");
             obj2.value = 0;
			 
			 //実行数量も０にセット
             obj3 = document.getElementById("execution_quantity");
             obj3.value = 0;

             //単位をデフォ(１)にセット
             $(".searchableSelect2_4").select2("val","1");
          }
   }
   //請求・実行金額計算
  function calcTotalPrice()
  {
    var obj1 = document.getElementById("quantity"); 
    var obj2 = document.getElementById("execution_quantity");  
    
	//請求金額計算
    var obj3 = document.getElementById("working_unit_price");      
    if (obj3.value > 0){ 
      //var num = parseInt(obj1.value) * parseInt(obj3.value);
      //upd190904
      var num = obj1.value * obj3.value;
      document.getElementById("invoice_price").value = parseInt(num);
    };
    //実行金額計算
    var obj3 = document.getElementById("execution_unit_price");
   
    if (obj3.value > 0){ 
      //var num = parseInt(obj1.value) * parseInt(obj3.value);
      if (obj2.value > 0){
        //var num = parseInt(obj2.value) * parseInt(obj3.value);
        //upd190904
        var num = obj2.value * obj3.value;
        document.getElementById("execution_price").value = parseInt(num);
      } 
    }
	
	//歩掛りも計算
	calcLaborTotal();
  } 
   
  //単価・金額をリセットする
  //add171017
  function clearPrice(){
    document.getElementById("working_unit_price").value = "";
    document.getElementById("execution_unit_price").value = "";
    document.getElementById("invoice_price").value = "";
    document.getElementById("execution_price").value = "";
  }
  //歩掛をリセットする
  //add171017
  function clearLaborProductivityUnit(){
    document.getElementById("labor_productivity_unit").value = "";
    document.getElementById("labor_productivity_unit_total").value = "";
  }
  //
   
  //ENTER→TABキーに変換する処理。
  //modalの場合は、共通化ができない（なぜか）
  $('[tabindex]').keydown(function (e) {
    if (e.keyCode == 13 || e.keyCode == 9) {
        var tabindex = parseInt($(this).attr('tabindex'));
        $('[tabindex='+(tabindex+1)+']').focus();
    
	    return false;
	}
    
  });
  //次のタブへコントロールを移す（select2用)
  //modalの場合は、共通化ができない（なぜか）
  function nextControlSelect2(obj){
    nextIndex = obj.tabIndex + 1;
    $('[tabindex=' + nextIndex + ']').focus();
  }


</script>
