<%- model_class = ConstructionDailyReport -%>
<% provide(:title, model_class.model_name.human.pluralize.titleize) %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:working_date) %>:</strong></dt>
  <dd><font color=red><b><%= @construction_daily_report.working_date %></b></font></dd>
  <dt><strong>工事No:</strong></dt>
  <dd><font color=red><b><%= @construction_daily_report.construction_datum.construction_code %></b></font></dd>
  <dt><strong>工事名:</strong></dt>
  <dd><font color=red><b><%= @construction_daily_report.construction_datum.construction_name %></b></font></dd>
  <dt><strong><%= model_class.human_attribute_name(:staff_id) %>:</strong></dt>
  <dd><font color=red><b><%= @construction_daily_report.Staff.staff_name %></b></font></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_time_1) %>:</strong></dt>
  <dd><font color=red><b><%= @construction_daily_report.start_time_1.to_s(:start_time_1) %></b></font></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_time_1) %>:</strong></dt>
  <dd><font color=red><b><%= @construction_daily_report.end_time_1.to_s(:end_time_1) %></b></font></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_time_2) %>:</strong></dt>
  <dd><font color=red><b><%= @construction_daily_report.start_time_2.to_s(:start_time_2) %></b></font></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_time_2) %>:</strong></dt>
  <dd><font color=red><b><%= @construction_daily_report.end_time_2.to_s(:end_time_2) %></b></font></dd>
  <dt><strong><%= model_class.human_attribute_name(:working_details) %>:</strong></dt>
  <dd><font color=red><b><%= @construction_daily_report.working_details %></font></b></dd>
  <dt><strong><%= model_class.human_attribute_name(:working_times) %>:</strong></dt>
  <dd><%= @construction_daily_report.working_times %></dd>
  <dt><strong><%= model_class.human_attribute_name(:man_month) %>:</strong></dt>
  <dd><%= @construction_daily_report.man_month %></dd>
  <dt><strong><%= model_class.human_attribute_name(:labor_cost) %>:</strong></dt>
  <dd><font color=purple><b><%= @construction_daily_report.labor_cost %></b></font></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              construction_daily_reports_path(construction_id: params[:construction_id], 
                        move_flag: params[:move_flag]), :class => 'btn btn-white_rsd'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_construction_daily_report_path(@construction_daily_report, construction_id: params[:construction_id], 
                    move_flag: params[:move_flag]), :class => 'btn btn-white_rsd' %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_construction_daily_report_path(:new_flag => "1", construction_id: params[:construction_id],
            working_date: @construction_daily_report.working_date,
            construction_datum_id: @construction_daily_report.construction_datum_id,
            working_details: @construction_daily_report.working_details,
            move_flag: params[:move_flag]), :class => 'btn btn-primary' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              construction_daily_report_path(@construction_daily_report, construction_id: params[:construction_id],
                     move_flag: params[:move_flag]),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
