<%- model_class = ConstructionDailyReport -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:working_date) %>:</strong></dt>
  <dd><%= @construction_daily_report.working_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:construction_datum_id) %>:</strong></dt>
  <!--<dd><%= @construction_daily_report.construction_datum_id %></dd>-->
  <dd><%= @construction_daily_report.construction_datum.construction_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:staff_id) %>:</strong></dt>
  <dd><%= @construction_daily_report.Staff.staff_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_time_1) %>:</strong></dt>
  <dd><%= @construction_daily_report.start_time_1.to_s(:start_time_1) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_time_1) %>:</strong></dt>
  <dd><%= @construction_daily_report.end_time_1.to_s(:end_time_1) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_time_2) %>:</strong></dt>
  <dd><%= @construction_daily_report.start_time_2.to_s(:start_time_2) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_time_2) %>:</strong></dt>
  <dd><%= @construction_daily_report.end_time_2.to_s(:end_time_2) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:working_times) %>:</strong></dt>
  <dd><%= @construction_daily_report.working_times %></dd>
  <dt><strong><%= model_class.human_attribute_name(:man_month) %>:</strong></dt>
  <dd><%= @construction_daily_report.man_month %></dd>
  <dt><strong><%= model_class.human_attribute_name(:labor_cost) %>:</strong></dt>
  <dd><%= @construction_daily_report.labor_cost %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              construction_daily_reports_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_construction_daily_report_path(@construction_daily_report), :class => 'btn btn-default' %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_construction_daily_report_path(:new_flag => "1"), :class => 'btn btn-primary' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              construction_daily_report_path(@construction_daily_report),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
