<script src="/assets/jquery.tablefix.js?body=1" type="text/javascript"></script>
<%- model_class = QuotationDetailLargeClassification -%>
<div class="page-header", style="width:1920px">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

   <%= search_form_for @q do |f| %>
  <%= f.label :construction_code, '見積Ｎｏ　' %>
  <%= f.select :quotation_header_id_eq, options_from_collection_for_select(QuotationHeader.all, "id", "quotation_code") , {include_blank: true}, {style: 'width:220px' , class: "searchableQuotationCode" } %>
  <%= f.label :construction_code, '件名　' %>
  <%= f.select :with_header_id, options_from_collection_for_select(QuotationHeader.all, "id", "construction_name") , {include_blank: true}, {style: 'width:220px' , class: "searchableConstructionName" } %></br>
  <%= f.label :working_large_item, '品目名　' %>
  <%= f.select :working_large_item_name_eq, options_from_collection_for_select(QuotationDetailLargeClassification.group(:working_large_item_name), "working_large_item_name","working_large_item_name" ) , {include_blank: true}, {style: 'width:220px' , class: "searchableLargeItem" } %></br>
  
  	<div>
    	<%= f.submit '検索する' %>
  	</div>
   <% end %>

</div>
<div style="width:1980px;">
<%= link_to t('.new', :default => t("新規作成")),
            new_quotation_detail_large_classification_path(quotation_header_id: params[:quotation_header_id], quotation_header_name: params[:quotation_header_name],
			   new_flag: "1"), remote: true,
            :class => 'btn btn-primary' %>
<%= link_to "一覧へ",
            quotation_headers_path(),
            :class => 'btn btn-info' %>
<%= link_to "見積書(提出用)PDF",
            quotation_detail_large_classifications_path(quotation_header_id: params[:quotation_header_id], print_type: "1", format: "pdf"),
            :class => 'btn btn-green500_ftg' , :target=>["_blank"] , :onclick => "submitAfterValidation()" %>
<%= link_to "見積書(提出／印付)PDF",
            quotation_detail_large_classifications_path(quotation_header_id: params[:quotation_header_id], print_type: "3", format: "pdf"),
            :class => 'btn btn btn-red500_ftg' , :target=>["_blank"], id: 'quotation_print_2', :onclick => "submitAfterValidation()" %>
<%= link_to "見積書(控え)PDF",
            quotation_detail_large_classifications_path(quotation_header_id: params[:quotation_header_id], print_type: "2",  format: "pdf" ),
            :class => 'btn btn-lime700_ftg' , :target=>["_blank"] %>
<%= link_to "請求書データ作成",
            quotation_detail_large_classifications_path(quotation_header_id: params[:quotation_header_id], 
            quotation_code: params[:quotation_code], invoice_code: params[:invoice_code], delivery_slip_code: params[:delivery_slip_code], 
            data_type: "1" ),
            :class => 'btn btn-grey300_rsd' , :data => {:confirm => '請求書データを作成しますか？'}  %>
<%= link_to "納品書データ作成",
            quotation_detail_large_classifications_path(quotation_header_id: params[:quotation_header_id],
            quotation_code: params[:quotation_code], invoice_code: params[:invoice_code], delivery_slip_code: params[:delivery_slip_code], 
            data_type: "2" ),
            :class => 'btn btn-warning' , :data => {:confirm => '納品書データを作成しますか？'} %>

</br>
<font size="3";><b>
<%= "件名:" %>
<%= @quotation_header_name %>
</b></font>
</div>

<td>見積金額合計:<%=number_to_currency(@quotation_detail_large_classifications.sumpriceQuote,  precision: 0 ) %>
&nbsp;&nbsp;&nbsp;&nbsp;実行金額合計:<%=number_to_currency(@quotation_detail_large_classifications.sumpriceExecution,  precision: 0 ) %>
&nbsp;&nbsp;&nbsp;&nbsp;歩掛計の合計:<%= @quotation_detail_large_classifications.sumLaborProductivityUnitTotal.to_s + "人" %>
</td>


<div id="quotation_detail_large_classification-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--見出し固定用設定追加-->
<div style="margin-top : -0px;", class="span11 table-scrollable" >

  <style>
   table { }
   table th, table td { white-space:nowrap; overflow:hidden; }
  </style>
  
  <!--見出し固定用設定追加-->
  <table id="tablefix", class="table  table-striped", style="font-size : 12px;width:1880px;table-layout:fixed;">
  
  <thead>
    <tr>
      <th style="width:80px;"></th>
	  <th style="width:35px;"><%= model_class.human_attribute_name(:id) %></th>
      <th style="width:35px;"><%= model_class.human_attribute_name(:line_number) %></th>
      <th style="width:300px;"><%= model_class.human_attribute_name(:working_large_item_name) %></th>
      <th style="width:300px;"><%= model_class.human_attribute_name(:working_large_specification) %></th>
      <th align="right" , style="width:50px;">　数量</th>
      <th style="width:50px;">単位</th>
      <th style="width:80px;">　 見積単価</th>
	  <th style="width:110px;">　 見積金額</th>
      <th style="width:50px;">　実数</th>
      <th style="width:50px;">単位</th>
      <th style="width:80px;">　 実行単価</th>
      <th style="width:110px;">　 実行金額</th>
      <th style="width:80px;">　　　 歩掛</th>
	  <th style="width:80px;">　　 歩掛計</th>
      <th style="width:20px;">配</th>
      <th style="width:20px;">機</th>
      <th style="width:20px;">労</th>
	  <th style="width:250px;"><%= model_class.human_attribute_name(:remarks) %></th>
      <!--<th><%= model_class.human_attribute_name(:created_at) %></th>-->
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody class="quotation_detail_large_classification-index">
    <%= render "index" %>
  </tbody>
  </table>
  </div>

<script type="text/javascript">
  
  //検索可能なリストボックス
  $(document).ready(function(){
	$(".searchableQuotationCode").select2({ theme: "classic" });
        $(".searchableConstructionName").select2({ theme: "classic" });
        $(".searchableLargeItem").select2({ theme: "classic" });
     //見出し固定用設定追加
	 var sz = window.parent.screen.width;
	 var fc = 1;    //デフォルトの固定列数(社長PC基準)
	 var ht = 618;  //デフォルトの高さ(社長PC基準)580
	 
	 if (sz != 1920) {
	 //画面サイズ1920px(社長PC基準)以外は、列固定させる。
        fc = 1;  //固定列数
		//ht -= 70;
		ht -= 108;
	 }
	 $('#tablefix').tablefix({width: sz, height: ht, fixRows: 1, fixCols: fc});
	 //
	 
	 $( "#tablefix tbody" ).sortable({
        cursor: 'move',
	   start: function(event, ui) {ui.item.css("background-color", "orange");},
	   stop: function(event, ui) {
	     ui.item.css("background-color", "white");
		 var row = $(this).sortable('toArray').toString();
		 quotation_header_id = document.getElementById("quotation_header_id").innerText;
		 
		 $.post("<%= quotation_detail_large_classificationz_reorder_path %>",
           { row: row, ajax_quotation_header_id: quotation_header_id },
           function(data){
		     //画面再描画のためリロードする
		     window.location.reload();
           }
         );
	   },
	   //update: function( event, ui ) {
       //  quotation_header_id = document.getElementById("quotation_header_id").innerText;
		 //↓本来ならここでIDを直接取れるが、使用しないためコメントアウトする。
		 //id = ui.item.attr("id");
	   //},
	       
    });
    $( ".sortable" ).disableSelection();
	 
	 
  });
  
  
  //入力チェック後の、更新処理
 function submitAfterValidation() {
    if (window.confirm('履歴データへ保存しますか？（保存すると、後から復元させることができます。）')) {
	  //ここでajax発動しコントローラで履歴保存する
	  
	  var id = 0;
	  
	  quotation_header_id = document.getElementById("quotation_header_id").innerText;
	  
	  $.get("<%= quotation_header_historiez_set_history_path %>",
         { quotation_header_id: quotation_header_id },
           function(data){
           }
      );
	  
	//     document.forms[0].submit();
    }
 }
 
  //履歴へ保存させる処理(ajax)
  //$('#quotation_print_1').on('confirm:complete', function(e, answer) {
  //$('.quotation_print').on('confirm:complete', function(e, answer) {
  //  if (answer) {
	   
  //    $('button.submit').attr('disabled', 'disabled');
  //    return $('.spinner').show();
  //}else{
  //  }
  //});
 


  
</script>

